html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
	General styles
*/
body, html {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, html, .wrapper {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
}

.touchonly {
  display: none;
}

html.touch .touchonly {
  display: block;
}

.noselect * {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

.doselect * {
  user-select: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -o-user-select: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
  body, html, .wrapper {
    min-width: auto;
  }
}
/*
	Containers
*/
#content-wrapper, #wrapper {
  height: 100%;
}

.scrollContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.scrollContainer {
  height: 100%;
  margin: auto;
}

#wrapper .scrollContent {
  height: 100%;
}

#wrapper.scrollContainer .scrollContent {
  width: 100%;
  height: auto;
}

section.page {
  min-height: 100%;
  position: relative;
}

.page {
  position: relative;
  height: 100%;
  background-position: 50% 50%;
}
.page .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url(../img/bg02.png);
}
.page.page1 {
  background-image: url(../img/bg02.png);
}
.page.page2 {
  background-image: url(../img/bg02.png);
}
.page.page4 {
  background-image: url(../img/bg02.png);
}
.page.page5 {
  background-image: url(../img/bg02.png);
}
.page.page6 {
  background-image: url(../img/bg02.png);
}
.page:after {
  content: ' ';
  width: auto;
  height: 3px;
  position: absolute;
  border-top: 4px solid #03f;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f00;
  -webkit-box-shadow: 0px -3px 12px 3px black;
  -moz-box-shadow: 0px -3px 12px 3px black;
  box-shadow: 0px -3px 12px 3px black;
}

.page3 {
  background-image: url(../img/bg/bg3.jpg);
  height: 100%;
  overflow: hidden;
}
.page3 .bg-section-1, .page3 .bg-section-2, .page3 .bg-section-3 {
  position: absolute;
  top: 0%;
  left: 0%;
}
.page3 .bg-section-1 {
  width: 200%;
  height: 200%;
  background: url(../img/bg/bgl1.png);
  background-position: 50% 50%;
}
.page3 .bg-section-2 {
  width: 200%;
  height: 200%;
  background: url(../img/bg/bgl2.png);
  background-position: 0 -25%;
}
.page3 .bg-section-3 {
  width: 200%;
  height: 200%;
  background: url(../img/bg/bgl3.png);
  background-position: 50% 50%;
}

.fixed {
  position: fixed;
  z-index: 12;
}

.test {
  color: #235678;
}

.page {
  position: relative;
}

.page3 .page_item {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.page3 .page_item.first {
  left: 0%;
  width: 25%;
}
.page3 .page_item.second {
  left: 25%;
  width: 25%;
}
.page3 .page_item.third {
  left: 50%;
  width: 25%;
}
.page3 .page_item.fourth {
  left: 75%;
  width: 25%;
}
.page3 .page_item.first figcaption {
  background-image: url(../img/bg/section-3-col-1.png);
}
.page3 .page_item.second figcaption {
  background-image: url(../img/bg/section-3-col-2.png);
}
.page3 .page_item.third figcaption {
  background-image: url(../img/bg/section-3-col-3.png);
}
.page3 .page_item.fourth figcaption {
  background-image: url(../img/bg/section-3-col-2.png);
}
.page3 .page_item figcaption {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.page3 .page_item:hover figcaption {
  position: absolute;
}
.page3 .page_item.totop figcaption {
  top: 100%;
}
.page3 .page_item.totop:hover figcaption {
  top: 0;
}
.page3 .page_item.toright figcaption {
  left: -100%;
  right: auto;
}
.page3 .page_item.toright:hover figcaption {
  left: 0;
}
.page3 .page_item.toleft figcaption {
  left: 100%;
  right: auto;
}
.page3 .page_item.toleft:hover figcaption {
  left: 0;
}
.page3 .page_item.tobottom figcaption {
  top: -100%;
  bottom: auto;
  height: 100%;
}
.page3 .page_item.tobottom:hover figcaption {
  top: 0;
}
.page3 .page_item.tofront .image {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  height: 200px;
  margin-top: -100px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.page3 .page_item.tofront .image img {
  width: 100%;
}
.page3 .page_item.tofront:hover .image {
  left: 50%;
  width: 0;
  height: 0;
  margin-top: 0;
  opacity: 0;
}
.page3 .page_item.tofront .image2 {
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 12;
  left: 50%;
  width: 0;
  height: 0;
  margin-top: 0;
  opacity: 0;
}
.page3 .page_item.tofront .image2 img {
  width: 100%;
}
.page3 .page_item.tofront:hover .image2 {
  width: 100%;
  left: 0;
  height: 200px;
  margin-top: -100px;
  opacity: 1;
}

.header_nav {
  width: 850px;
  margin: 0 auto;
  top: 0;
  background: #fff;
}

.pager {
  right: 0;
  top: 50%;
  margin-top: -250px;
  width: 40px;
  height: 500px;
  background: #f00;
}
.pager ul li {
  width: 40px;
  height: 100px;
}
