html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
	General styles
*/
body, html {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, html, .wrapper {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: oksana_text_narrowdemibold;
}

.header {
  width: 100%;
}

.touchonly {
  display: none;
}

html.touch .touchonly {
  display: block;
}

.noselect * {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

.doselect * {
  user-select: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -o-user-select: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
  body, html, .wrapper {
    min-width: auto;
  }
}
/*
	Containers
*/
#content-wrapper, #wrapper {
  height: 100%;
}

.scrollContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.scrollContainer {
  height: 100%;
  margin: auto;
}

#wrapper .scrollContent {
  height: 100%;
}

#wrapper.scrollContainer .scrollContent {
  width: 100%;
  height: auto;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -63px;
  margin-top: -63px;
  width: 126px;
  height: 126px;
}

.rotation {
  background: #ff0;
}

section.page {
  position: relative;
}

.page {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-position: 50% 50%;
}
.page .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.page1 {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page1 .wrapper {
  background: #ffd3ab url(../img/bg/bg1.jpg) repeat 50% 50%;
}
.page1 .wrapper .section-1-bg-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 300px;
  background: url(../img/bg/bgl11.png) repeat-x 50% 100%;
}
.page1 .wrapper .section-1-bg-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../img/bg/bgl12.png) no-repeat 0% 100%;
}
.page1 .wrapper .section-1-bg-25 {
  width: 490px;
  height: 180px;
  margin: -120px auto;
  position: relative;
  top: 50%;
}
.page1 .wrapper .section-1-bg-25 object {
  width: 100%;
  height: 100%;
}
.page1 .wrapper .section-1-bg-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../img/bg/bgl13.png) no-repeat 50% 100%;
}
.page1 .wrapper .section-1-bg-4 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../img/bg/bgl14.png) no-repeat 100% 100%;
}

.page2 {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page2 .wrapper {
  background: #ffd3ab url(../img/bg/bg2.jpg) repeat 50% 50%;
}

.page3 {
  background: #73362d url(../img/bg/bg3.jpg) no-repeat 50% 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page3 .section-3-bg-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid red;
  background-image: url(../img/bg/bgl31.png);
  background-position: 50% 50%;
}
.page3 .section-3-bg-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid red;
  background-image: url(../img/bg/bgl32.png);
  background-position: 50% 50%;
}
.page3 .section-3-bg-25 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid green;
}
.page3 .section-3-bg-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid red;
  background-image: url(../img/bg/bgl33.png);
  background-position: 50% 0%;
}
.page3 .section-3-bg-4 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid red;
  background-image: url(../img/bg/bgl34.png);
  background-position: 50% 50%;
}

.page4 .wrapper {
  background: #ffd3ab url(../img/bg/bg4.jpg) no-repeat 50% 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page4 .wrapper .section-4-bg-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/bg/bgl44.png);
  border: 1px solid red;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page4 .wrapper .section-4-bg-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid red;
  background-image: url(../img/bg/bgl44.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page4 .wrapper .section-4-bg-25 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid green;
}
.page4 .wrapper .section-4-bg-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid red;
  background-image: url(../img/bg/bgl44.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
.page4 .wrapper .section-4-bg-4 {
  border: 1px solid red;
  background-image: url(../img/bg/bgl44.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 126px;
  height: 126px;
  border: 1px solid red;
  background-image: url(../img/cup.png);
}

.page5 {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page5 .wrapper {
  background: #ffd3ab url(../img/bg/bg5.jpg) repeat 50% 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.page6 {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page6 .wrapper {
  background: #ffd3ab url(../img/bg/bg5.jpg) repeat 50% 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.fixed {
  position: fixed;
  z-index: 12;
}

.test {
  color: #235678;
}

.page {
  position: relative;
}
.page .wrapper .page_item {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.page .wrapper .page_item.first {
  left: 0%;
  width: 33.33333%;
}
.page .wrapper .page_item.second {
  left: 33.33333%;
  width: 33.33333%;
}
.page .wrapper .page_item.third {
  left: 66.66667%;
  width: 33.33333%;
}
.page .wrapper .page_item.first figcaption {
  background-image: url(../img/bg/section-3-col-1.png);
}
.page .wrapper .page_item.second figcaption {
  background-image: url(../img/bg/section-3-col-2.png);
}
.page .wrapper .page_item.third figcaption {
  background-image: url(../img/bg/section-3-col-3.png);
}
.page .wrapper .page_item.fourth figcaption {
  background-image: url(../img/bg/section-3-col-2.png);
}
@media screen and (max-width: 500px) {
  .page .wrapper .page_item {
    position: static;
    width: auto;
    height: 33%;
  }
}

.header {
  background: url("../img/main-menu-bg.png") repeat-x bottom center;
  height: 62px;
}

.header_nav {
  font-family: oksana_text_narrowdemibold;
  height: 60px;
  width: 850px;
  margin: 0 auto;
  top: 0;
  list-style: none;
}
.header_nav li.header_nav_item {
  display: inline-block;
  background: transparent;
}
.header_nav li.header_nav_item a {
  color: #fff;
  text-decoration: none;
}
.header_nav .svg_logo {
  vertical-align: middle;
}

.pager {
  right: 0;
  top: 50%;
  margin-top: -250px;
  width: 40px;
  height: 500px;
}
.pager .inner_wrapper {
  position: relative;
  width: 51px;
  height: 306px;
}
.pager .inner_wrapper li {
  height: 50px;
  color: #fff;
  width: 51px;
  font: 16px/50px 'oksana_text_narrowdemibold', sans-serif;
  text-align: center;
  cursor: pointer;
  position: relative;
  right: 12px;
}
.pager .inner_wrapper li span {
  display: block;
  width: 51px;
  height: 50px;
  background: rgba(0, 0, 0, 0.05);
  border-top: 1px #c1c0c0 solid;
  transition: background 0.1s ease;
}
.pager .inner_wrapper li > div {
  position: absolute;
  right: -300px;
  top: 0;
  white-space: nowrap;
}
.pager .inner_wrapper li:hover span {
  display: block;
  width: 51px;
  height: 50px;
  background: rgba(0, 0, 0, 0.05);
  border-top: 1px #c1c0c0 solid;
  transition: background 0.1s ease;
}
.pager .inner_wrapper li:hover > div {
  position: absolute;
  right: 51px;
}
