html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.test {
  color: #235678;
}

/*
	General styles
*/
body, html {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, html, .wrapper {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: oksana_text_narrowbold;
}

.header {
  width: 100%;
}

.touchonly {
  display: none;
}

html.touch .touchonly {
  display: block;
}

.noselect * {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

.doselect * {
  user-select: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -o-user-select: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) {
  body, html, .wrapper {
    min-width: auto;
  }
}
.fonted {
  font-family: 'sldnc-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 34px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headermark {
  margin: 12px auto;
  color: #e70c66;
}

#cup {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 630px;
  height: 460px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/cup-s94b0c5e609.png");
  background-position: 0 -11040px;
  background-repeat: no-repeat;
  margin: -230px 0 0 -315px;
}
#cup.cup_00 {
  background-position: 0 -11040px;
  background-repeat: no-repeat;
}
#cup.cup_01 {
  background-position: 0 -10580px;
  background-repeat: no-repeat;
}
#cup.cup_02 {
  background-position: 0 -10120px;
  background-repeat: no-repeat;
}
#cup.cup_03 {
  background-position: 0 -9660px;
  background-repeat: no-repeat;
}
#cup.cup_04 {
  background-position: 0 -9200px;
  background-repeat: no-repeat;
}
#cup.cup_05 {
  background-position: 0 -8740px;
  background-repeat: no-repeat;
}
#cup.cup_06 {
  background-position: 0 -8280px;
  background-repeat: no-repeat;
}
#cup.cup_07 {
  background-position: 0 -7820px;
  background-repeat: no-repeat;
}
#cup.cup_08 {
  background-position: 0 -7360px;
  background-repeat: no-repeat;
}
#cup.cup_09 {
  background-position: 0 -6900px;
  background-repeat: no-repeat;
}
#cup.cup_10 {
  background-position: 0 -6440px;
  background-repeat: no-repeat;
}
#cup.cup_11 {
  background-position: 0 -5980px;
  background-repeat: no-repeat;
}
#cup.cup_12 {
  background-position: 0 -4600px;
  background-repeat: no-repeat;
}
#cup.cup_13 {
  background-position: 0 -3680px;
  background-repeat: no-repeat;
}
#cup.cup_14 {
  background-position: 0 -3220px;
  background-repeat: no-repeat;
}
#cup.cup_15 {
  background-position: 0 -4140px;
  background-repeat: no-repeat;
}
#cup.cup_16 {
  background-position: 0 -5520px;
  background-repeat: no-repeat;
}
#cup.cup_17 {
  background-position: 0 -5060px;
  background-repeat: no-repeat;
}
#cup.cup_18 {
  background-position: 0 -1840px;
  background-repeat: no-repeat;
}
#cup.cup_19 {
  background-position: 0 -2300px;
  background-repeat: no-repeat;
}
#cup.cup_20 {
  background-position: 0 -2760px;
  background-repeat: no-repeat;
}
#cup.cup_21 {
  background-position: 0 -1380px;
  background-repeat: no-repeat;
}
#cup.cup_22 {
  background-position: 0 -920px;
  background-repeat: no-repeat;
}
#cup.cup_23 {
  background-position: 0 -460px;
  background-repeat: no-repeat;
}
#cup.cup_24 {
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*
	Containers
*/
#content-wrapper, #wrapper {
  height: 100%;
}

.scrollContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.scrollContainer {
  height: 100%;
  margin: auto;
}

#wrapper .scrollContent {
  height: 100%;
}

#wrapper.scrollContainer .scrollContent {
  width: 100%;
  height: auto;
}

#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -72px;
  margin-top: -72px;
  width: 144px;
  height: 144px;
}

.rotation {
  background: #ff0;
}

section.page {
  position: relative;
}

.page {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-position: 50% 50%;
}
.page .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
}

.page1 {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page1 .wrapper {
  background: #ffd3ab url(../img/bg/bg1.jpg) repeat 50% 50%;
}
.page1 .wrapper .section-1-bg-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 300px;
  background: url(../img/bg/bgl11.png) repeat-x 50% 100%;
}
.page1 .wrapper .section-1-bg-11 {
  position: absolute;
  bottom: 125px;
  right: 0;
  width: 436px;
  height: 486px;
  background: url(../img/bg/bgl111.png) repeat-x 0 0;
}
.page1 .wrapper .section-1-bg-12 {
  position: absolute;
  bottom: 65px;
  left: 0;
  width: 620px;
  height: 251px;
  background: url(../img/bg/bgl112.png) repeat-x 0 0;
}
.page1 .wrapper .section-1-bg-25 {
  margin: -120px auto;
  position: relative;
  top: 50%;
  opacity: 0;
  color: #70002e;
  font-size: 100px;
  text-align: center;
}
.page1 .wrapper .section-1-bg-25:before {
  content: "\e600";
}
.page1 .wrapper .section-1-bg-25 h3 {
  font-size: 38px;
}
.page1 .wrapper .section-1-bg-25 h3.font1 {
  font-family: oksana_text_narrowbold;
}
.page1 .wrapper .section-1-bg-25 h3.font2 {
  font-family: oksana_text_narrowbold_italic;
}
.page1 .wrapper .section-1-bg-25 h3.font3 {
  font-family: oksana_text_narrowthin;
}
.page1 .wrapper .section-1-bg-25 h3.font4 {
  font-family: oksana_text_narrowthin_italic;
}
.page1 .wrapper .section-1-bg-25 h3.font5 {
  font-family: oksana_text_narrowlight;
}
.page1 .wrapper .section-1-bg-25 h3.font6 {
  font-family: oksana_text_narrowbold;
}
.page1 .wrapper .section-1-bg-25 h3.font7 {
  font-family: oksana_text_narrowLtIt;
}
.page1 .wrapper .section-1-bg-25 h3.font8 {
  font-family: oksana_text_narrowheavy;
}
.page1 .wrapper .section-1-bg-25 h3.font9 {
  font-family: oksana_text_narrowHvIt;
}
.page1 .wrapper .section-1-bg-25 h3.font10 {
  font-family: oksana_text_narrowdemibold;
}
.page1 .wrapper .section-1-bg-4 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: url(../img/bg/bgl13.png) no-repeat 50% 100%;
}
.page1 .wrapper .section-1-bg-2 {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 367px;
  height: 181px;
  opacity: 0;
  background: url(../img/bg/bgl12.png) no-repeat 0% 100%;
}
.page1 .wrapper .section-1-bg-3 {
  position: absolute;
  bottom: 15px;
  right: 0;
  width: 409px;
  height: 285px;
  opacity: 0;
  background: url(../img/bg/bgl14.png) no-repeat 100% 100%;
}

#scroll_me {
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.page2 {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page2 .wrapper {
  background: #ffd3ab url(../img/bg/bg2.jpg) repeat 50% 50%;
  text-align: center;
}
.page2 .wrapper .page_item {
  display: inline-block;
  height: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  width: 33.3333%;
  cursor: pointer;
}
.page2 .wrapper .page_item.first figcaption {
  background: url(../img/bg/bgl21.jpg) repeat 50% 50%;
}
.page2 .wrapper .page_item.second figcaption {
  background: url(../img/bg/bgl22.jpg) repeat 50% 50%;
}
.page2 .wrapper .page_item.third figcaption {
  background: url(../img/bg/bgl23.jpg) repeat 50% 50%;
}
.page2 .wrapper .page_item figcaption {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.page2 .wrapper .page_item:hover figcaption {
  position: absolute;
  display: block;
}
.page2 .wrapper .page_item .icon {
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-top: 50%;
  text-align: center;
  line-height: 0;
  color: #e70c66;
}
.page2 .wrapper .page_item .icon.icon1 {
  font-size: 60px;
}
.page2 .wrapper .page_item .icon.icon1:before {
  content: "\e607";
}
.page2 .wrapper .page_item .icon.icon2 {
  font-size: 130px;
}
.page2 .wrapper .page_item .icon.icon2:before {
  content: "\e606";
}
.page2 .wrapper .page_item .icon.icon3 {
  font-size: 120px;
}
.page2 .wrapper .page_item .icon.icon3:before {
  content: "\e605";
}
.page2 .wrapper .page_item h2 {
  position: relative;
  color: #840036;
  font-size: 27px;
  text-align: center;
  padding: 140px 100px;
}
.page2 .wrapper .page_item h2:before {
  content: '';
  border-top: 1px solid #e70c66;
  border-bottom: 1px solid #e70c66;
  display: block;
  position: absolute;
  width: 38px;
  height: 40%;
  left: 50%;
  margin-left: -19px;
  margin-top: -38px;
}
.page2 .wrapper .page_item:hover .icon {
  color: white;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.page2 .wrapper .page_item:hover h2 {
  color: white;
}
.page2 .wrapper .page_item:hover h2:before {
  content: '';
  border-color: white;
}
@media screen and (min-width: 320px) and (max-width: 1000px) {
  .page2 .wrapper .page_item {
    height: 33%;
    width: auto;
    display: block;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    max-width: none;
  }
  .page2 .wrapper .page_item figcaption {
    position: relative;
    width: auto;
    height: auto;
  }
  .page2 .wrapper .page_item .icon {
    margin-top: 20%;
  }
  .page2 .wrapper .page_item .icon.icon1 {
    font-size: 60px;
    line-height: 60px;
  }
  .page2 .wrapper .page_item .icon.icon2 {
    font-size: 130px;
    line-height: 130px;
  }
  .page2 .wrapper .page_item .icon.icon3 {
    font-size: 120px;
    line-height: 120px;
  }
  .page2 .wrapper .page_item h2 {
    padding: 20px 100px;
  }
  .page2 .wrapper .page_item h2:before, .page2 .wrapper .page_item h2:after {
    display: none;
  }
}

.page3 .wrapper {
  background: #73362d url(../img/bg/bg3.jpg) no-repeat 50% 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page3 .wrapper .section-3-bg-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/bg/bgl31.png);
  background-position: 30% 50%;
  background-repeat: no-repeat;
}
.page3 .wrapper .section-3-bg-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/bg/bgl32.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page3 .wrapper .section-3-bg-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/bg/bgl33.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
.page3 .wrapper .section-3-bg-4 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/bg/bgl34.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.page3 .wrapper .headermark {
  font-size: 27px;
}
.page3 .wrapper .headermark:before {
  content: "\e60a";
}

.page4 .wrapper {
  background: #ffd3ab url(../img/bg/bg4.jpg) no-repeat 50% 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page4 .wrapper .section-4-bg-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/bg/bgl41.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.page4 .wrapper .section-4-bg-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/bg/bgl42.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.page4 .wrapper .section-4-bg-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/bg/bgl43.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.page4 .wrapper .section-4-bg-4 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/bg/bgl44.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.page4 .wrapper .headermark {
  font-size: 37px;
}
.page4 .wrapper .headermark:before {
  content: "\e609";
}

@keyframes animationFrames {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  20% {
    left: 8px;
    top: -1px;
    transform: rotate(3deg);
  }

  40% {
    left: -15px;
    top: -1px;
    transform: rotate(-3deg);
  }

  60% {
    left: 10px;
    transform: rotate(2deg);
  }

  80% {
    left: -6px;
    transform: rotate(-1deg);
  }

  100% {
    left: 3px;
    top: 2px;
    opacity: 1;
    transform: rotate(2deg) scaleX(1) scaleY(1);
  }
}

@-moz-keyframes animationFrames {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -moz-transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  20% {
    left: 8px;
    top: -1px;
    -moz-transform: rotate(3deg);
  }

  40% {
    left: -15px;
    top: -1px;
    -moz-transform: rotate(-3deg);
  }

  60% {
    left: 10px;
    -moz-transform: rotate(2deg);
  }

  80% {
    left: -6px;
    -moz-transform: rotate(-1deg);
  }

  100% {
    left: 3px;
    top: 2px;
    opacity: 1;
    -moz-transform: rotate(2deg) scaleX(1) scaleY(1);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  20% {
    left: 8px;
    top: -1px;
    -webkit-transform: rotate(3deg);
  }

  40% {
    left: -15px;
    top: -1px;
    -webkit-transform: rotate(-3deg);
  }

  60% {
    left: 10px;
    -webkit-transform: rotate(2deg);
  }

  80% {
    left: -6px;
    -webkit-transform: rotate(-1deg);
  }

  100% {
    left: 3px;
    top: 2px;
    opacity: 1;
    -webkit-transform: rotate(2deg) scaleX(1) scaleY(1);
  }
}

@-o-keyframes animationFrames {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -o-transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  20% {
    left: 8px;
    top: -1px;
    -o-transform: rotate(3deg);
  }

  40% {
    left: -15px;
    top: -1px;
    -o-transform: rotate(-3deg);
  }

  60% {
    left: 10px;
    -o-transform: rotate(2deg);
  }

  80% {
    left: -6px;
    -o-transform: rotate(-1deg);
  }

  100% {
    left: 3px;
    top: 2px;
    opacity: 1;
    -o-transform: rotate(2deg) scaleX(1) scaleY(1);
  }
}

@-ms-keyframes animationFrames {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
    -ms-transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  20% {
    left: 8px;
    top: -1px;
    -ms-transform: rotate(3deg);
  }

  40% {
    left: -15px;
    top: -1px;
    -ms-transform: rotate(-3deg);
  }

  60% {
    left: 10px;
    -ms-transform: rotate(2deg);
  }

  80% {
    left: -6px;
    -ms-transform: rotate(-1deg);
  }

  100% {
    left: 3px;
    top: 2px;
    opacity: 1;
    -ms-transform: rotate(2deg) scaleX(1) scaleY(1);
  }
}

.page5 {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page5 .wrapper {
  background: #ffd3ab url(../img/bg/bg5.jpg) repeat 50% 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.page5 .wrapper .section-5-header {
  text-align: center;
  color: white;
  font-size: 70px;
  width: 70%;
  margin: 10% auto 30px auto;
}
@media screen and (min-width: 320px) and (max-width: 1000px) {
  .page5 .wrapper .section-5-header {
    font-size: 40px;
  }
}
.page5 .wrapper .headermark {
  font-size: 27px;
}
.page5 .wrapper .headermark:before {
  content: "\e604";
}
.page5 .wrapper .page_item {
  display: inline-block;
  width: 340px;
  height: 50%;
  vertical-align: top;
}
.page5 .wrapper .page_item figcaption {
  top: 50%;
  margin-top: -170px;
  width: 340px;
  height: 340px;
  position: relative;
  text-align: center;
  line-height: 340px;
  font-size: 0;
  cursor: pointer;
}
.page5 .wrapper .page_item figcaption em, .page5 .wrapper .page_item figcaption i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page5 .wrapper .page_item figcaption .icon {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  position: relative;
  z-index: 3;
  margin-top: 0;
  text-align: center;
  line-height: 0;
}
.page5 .wrapper .page_item figcaption .icon.icon1 {
  color: #c7eafc;
  font-size: 100px;
}
.page5 .wrapper .page_item figcaption .icon.icon1:before {
  content: "\e603";
}
.page5 .wrapper .page_item figcaption .icon.icon2 {
  color: #85c98b;
  font-size: 110px;
}
.page5 .wrapper .page_item figcaption .icon.icon2:before {
  content: "\e602";
}
.page5 .wrapper .page_item figcaption .icon.icon3 {
  color: #fece7b;
  font-size: 130px;
}
.page5 .wrapper .page_item figcaption .icon.icon3:before {
  content: "\e601";
}
.page5 .wrapper .page_item figcaption em {
  opacity: 0;
  top: -42px;
  -webkit-transition: top 0.3s ease-out, opacity 0.2s ease-in;
  -moz-transition: top 0.3s ease-out, opacity 0.2s ease-in;
  -o-transition: top 0.3s ease-out, opacity 0.2s ease-in;
  transition: top 0.3s ease-out, opacity 0.2s ease-in;
  z-index: 3;
}
.page5 .wrapper .page_item figcaption i {
  -webkit-transition: -webkit-transform 0.7s ease-out;
  -moz-transition: -moz-transform 0.7s ease-out;
  -o-transition: -o-transform 0.7s ease-out;
  transition: transform 0.7s ease-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.page5 .wrapper .page_item figcaption .description {
  opacity: 0;
  position: absolute;
  bottom: 50px;
}
.page5 .wrapper .page_item figcaption .description h2 {
  color: #c7eafc;
  font-size: 45px;
  font-family: oksana_text_narrowdemibold;
}
.page5 .wrapper .page_item figcaption .description h3 {
  color: white;
  font-size: 13px;
  height: 0;
  font-family: oksana_text_narrowlight;
}
.page5 .wrapper .page_item figcaption.hovered abbr .icon {
  font-size: 140px;
}
.page5 .wrapper .page_item figcaption.hovered abbr em {
  opacity: 1;
  top: -12px;
}
.page5 .wrapper .page_item figcaption.hovered abbr i {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.page5 .wrapper .page_item figcaption.hovered abbr i:first-child img {
  -webkit-animation: 5600ms animationFrames infinite alternate ease-in-out;
  -moz-animation: 5600ms animationFrames infinite alternate ease-in-out;
  -ms-animation: 5600ms animationFrames infinite alternate ease-in-out;
  -o-animation: 5600ms animationFrames infinite alternate ease-in-out;
  animation: 5600ms animationFrames infinite alternate ease-in-out;
}
.page5 .wrapper .page_item figcaption.hovered abbr i:nth-child(2) img {
  -webkit-animation: 3600ms animationFrames infinite alternate ease-in-out;
  -moz-animation: 3600ms animationFrames infinite alternate ease-in-out;
  -ms-animation: 3600ms animationFrames infinite alternate ease-in-out;
  -o-animation: 3600ms animationFrames infinite alternate ease-in-out;
  animation: 3600ms animationFrames infinite alternate ease-in-out;
}
.page5 .wrapper .page_item figcaption.hovered abbr i:nth-child(3) img {
  -webkit-animation: 4600ms animationFrames infinite alternate ease-in-out;
  -moz-animation: 4600ms animationFrames infinite alternate ease-in-out;
  -ms-animation: 4600ms animationFrames infinite alternate ease-in-out;
  -o-animation: 4600ms animationFrames infinite alternate ease-in-out;
  animation: 4600ms animationFrames infinite alternate ease-in-out;
}
.page5 .wrapper .page_item figcaption .description {
  line-height: 1.4;
  font-size: 23px;
  color: #f50;
}
@media screen and (min-width: 320px) and (max-width: 1000px) {
  .page5 .wrapper .page_item {
    display: block;
    width: auto;
    height: auto;
  }
  .page5 .wrapper .page_item figcaption {
    top: auto;
    margin-top: 0;
    width: auto;
    line-height: 180px;
    height: auto;
  }
  .page5 .wrapper .page_item .description {
    display: none;
  }
}
.page5 .wrapper .page_item.first figcaption .description h2 {
  color: #c7eafc;
}
.page5 .wrapper .page_item.second figcaption .description h2 {
  color: #85c98b;
}
.page5 .wrapper .page_item.third figcaption .description h2 {
  color: #fece7b;
}

.page6 {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.page6 .wrapper {
  background: #ffd3ab url(../img/bg/bg5.jpg) repeat 50% 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.fixed {
  position: fixed;
  z-index: 12;
}

.section-big-title {
  position: relative;
  top: 50%;
  margin: -100px auto 0 auto;
  text-align: center;
  padding: 0 20%;
  font-family: oksana_text_narrowbold;
}
.section-big-title h1 {
  position: relative;
  font-size: 74px;
}
.section-big-title h2 {
  position: relative;
  font-family: oksana_text_narrowdemibold;
  font-size: 16px;
}
.section-big-title h3 {
  position: relative;
  padding: 42px 0;
  z-index: 10;
}
@media screen and (min-width: 320px) and (max-width: 1000px) {
  .section-big-title {
    top: 50%;
    margin: -200px auto 0 auto;
  }
  .section-big-title h1 {
    font-size: 40px;
  }
}

.catalog_flag {
  padding: 9px 12px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: #e70c66;
}
.catalog_flag:before {
  content: "";
  padding: 0 12px;
  position: absolute;
  left: -23px;
  bottom: 0;
  top: 0;
  background-image: url('../img/ico-s6b81bfe782.png');
  background-position: 0 -110px;
  background-repeat: no-repeat;
}
.catalog_flag:after {
  content: "";
  padding: 0 12px;
  position: absolute;
  right: -24px;
  top: 0;
  bottom: 0;
  background-image: url('../img/ico-s6b81bfe782.png');
  background-position: 0 -194px;
  background-repeat: no-repeat;
}

.etc {
  display: none;
}

.test {
  color: #235678;
}

.header {
  background: url("../img/main-menu-bg.png") repeat-x bottom center;
  height: 62px;
}

.header_nav {
  font-family: oksana_text_narrowbold_italic;
  font-style: normal;
  height: 60px;
  width: 900px;
  margin: 0 auto;
  top: 0;
  list-style: none;
}
.header_nav li.header_nav_item {
  font-family: 'oksana_text_narrowLtIt', sans-serif;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  display: block;
  float: left;
  margin-top: 21px;
  margin-left: 30px;
  font-size: 0;
  line-height: 0;
}
.header_nav li.header_nav_item a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
}
.header_nav li.header_nav_item a.logo {
  font-size: 34px;
  color: #e70c66;
}
.header_nav li.header_nav_item a.logo:before {
  content: "\e608";
}
.header_nav li.header_nav_item:after {
  content: " ";
  width: 37px;
  border-right: 1px solid #e70c66;
  height: 9px;
  display: block;
  float: right;
  margin-top: 4px;
}
.header_nav li.header_nav_item:last-child:after, .header_nav li.header_nav_item.fb:after, .header_nav li.header_nav_item.tw:after {
  border-right: none;
  width: 0;
}
.header_nav li.header_nav_item.fb, .header_nav li.header_nav_item.tw {
  margin-right: 0px;
  margin-left: 30px;
}
.header_nav li.header_nav_item.fb em, .header_nav li.header_nav_item.tw em {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-top: -8px;
}
.header_nav li.header_nav_item.fb em {
  background-image: url('../img/ico-s6b81bfe782.png');
  background-position: 0 -57px;
  background-repeat: no-repeat;
}
.header_nav li.header_nav_item.tw {
  margin-right: 0px;
  margin-left: 18px;
}
.header_nav li.header_nav_item.tw em {
  background-image: url('../img/ico-s6b81bfe782.png');
  background-position: 0 -25px;
  background-repeat: no-repeat;
}
.header_nav .svg_logo {
  vertical-align: middle;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .header_nav {
    height: 60px;
    width: auto;
  }
  .header_nav li.header_nav_item {
    text-align: center;
    display: none;
    margin-left: 50%;
  }
  .header_nav li.header_nav_item a {
    margin-left: 0;
  }
  .header_nav li.header_nav_item a.logo {
    width: auto;
    display: block;
  }
  .header_nav li.header_nav_item:after {
    display: none;
  }
  .header_nav li.header_nav_item.item_fluid, .header_nav li.header_nav_item.item_logo {
    display: block;
  }
  .header_nav li.header_nav_item.item_logo {
    width: auto;
  }
  .header_nav li.header_nav_item.fb, .header_nav li.header_nav_item.tw {
    position: absolute;
  }
  .header_nav li.header_nav_item.fb {
    right: 10px;
  }
  .header_nav li.header_nav_item.tw {
    right: 50px;
  }
}
.pager {
  right: 0;
  top: 50%;
  margin-top: -125px;
  width: 40px;
  height: 250px;
}
.pager .inner_wrapper {
  position: relative;
  width: 51px;
  height: 306px;
}
.pager .inner_wrapper li {
  height: 50px;
  color: white;
  width: 51px;
  font: 16px/50px 'oksana_text_narrowdemibold', sans-serif;
  text-align: center;
  cursor: pointer;
  position: relative;
  right: 12px;
  margin-bottom: 1px;
}
.pager .inner_wrapper li span {
  display: block;
  width: 51px;
  height: 50px;
  background: rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease;
}
.pager .inner_wrapper li > div {
  position: absolute;
  right: -300px;
  top: 0;
  bottom: 0;
  padding: 0 12px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.05);
  color: white;
  transition: all 0.1s ease;
}
.pager .inner_wrapper li:hover span, .pager .inner_wrapper li.active span {
  display: block;
  width: 51px;
  height: 50px;
  background: #e70c66;
  transition: background 0.1s ease;
}
.pager .inner_wrapper li:hover > div {
  background: #e70c66;
  right: 51px;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.cup-spinner {
  position: fixed;
  bottom: 304px;
  left: 50%;
  margin-top: -72px;
  margin-left: -62px;
  width: 144px;
  height: 144px;
  background: url(../img/cup.png) no-repeat 0 0;
}
.cup-spinner.spining {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 600ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 600ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 600ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
