@mixin company-ipad() {

	.controls_video {
		display: none;
	}



	#section-4 .fourth_slide .columns .col a:hover > div {
		display: none;
	}



}
@mixin company-mobile() {


	.company_page {
		height: 100%;
	}
	.company_page {
		min-width: 100%;
	}

	.columns {
		width: 100%;
		max-width: 1200px;
		min-width: 100%;
		position: relative;
		margin: 0 auto;
		padding: 0 !important;
	}

	#section-2 .second_slide {
		overflow-x: scroll;
	}

	#section-4 .fourth_slide .columns .col a {
		width: 50%;
		border-right: 0;
	}

	#section-4 .fourth_slide .columns .col a > div {
		width: 100%;
	}

	#section-5 .fifth_slide .one_vacancy {
		width: auto;
		display: block;

	}

	#section-5 .fifth_slide .one_vacancy_more {
		width: auto;
		display: block;
		margin: -70px 0 0 0;
	}

	.columns .col_2 {
		width: 100%;
	}

	#section-6 .sixth_slide .columns > div a div {
		height: auto !important;
 	}
	#section-6 .sixth_slide .columns > div a div:nth-child(2) {
		width: 50%;
 	}

	#section-6 .sixth_slide .columns > div a.first {
		background: url(../img/news/1.jpg) 0 0;
		background-size: cover;
	}
	#section-6 .sixth_slide .columns > div a.second {
		background: url(../img/news/2.jpg) 0 0;
		background-size: cover;
	}
	#section-6 .sixth_slide .columns > div a.third {
		background: url(../img/news/3.jpg) 0 0;
		background-size: cover;
	}

	.controls_video {
		display: none;
	}



	.vac_block {


		.vac_block_item_col{

			width: 100%;
		}
	}


	/* one logotype:begin */
	#section-4 .fourth_slide .columns .col a {




		//&:nth-child(1) {
		//	&:before {
		//
		//	}
		//}
		//
		//&:nth-child(2) {
		//	&:before {
		//
		//	}
		//}
		//
		//&:nth-child(3) {
		//	&:before {
		//
		//	}
		//}
		//
		//&:nth-child(4) {
		//	&:before {
		//
		//	}
		//}
		//
		&:nth-child(5) {
			&:before {
				font-size: 32px;
			}
		}
		//&:nth-child(6) {
		//	&:before {
		//
		//	}
		//}
		//&:nth-child(7) {
		//	&:before {
		//
		//
		//	}
		//}
		&:nth-child(8) {
			&:before {
				font-size: 30px;
			}
		}
		//&:nth-child(9) {
		//	&:before {
		//
		//	}
		//}
		//&:nth-child(10) {
		//	&:before {
		//
		//	}
		//}
		//&:nth-child(11) {
		//	&:before {
		//
		//	}
		//}
		&:nth-child(12) {
			&:before {
			 	font-size: 25px;
			}
		}
		//&:nth-child(13) {
		//	&:before {
		//
		//	}
		//}
		//&:nth-child(14) {
		//	&:before {
		//
		//	}
		//}
		//&:nth-child(15) {
		//	&:before {
		//
		//	}
		//}
		&:nth-child(16) {
			&:before {
				font-size: 60px;

			}
		}
	}

	.tour_control_wrapper {
		display: none;
	}

	#section-1 {

		.first_slide  {
			> div {
				margin-top: -115px;
			}

		}
	}

	#descriptions {

		.descriptions_wrapper {

			//height: 300px;
			overflow: hidden;
			display: none;
			max-width: 700px;
			padding: 0 20px 20px 20px ;
			margin: 0 auto;

			h1 {
				font: 23px/0.94em 'oksana_text_narrowbold', sans-serif;
				color: #fff;
				margin: 15px 0;

				&:after {
					content: "";
					width: 60px;
					margin: 15px auto;
					height:1px;
					background: $cherry;
					display: block;
				}
			}

			h2 {
				font: 10px/1.6 'oksana_text_narrowbold', sans-serif;
				color: #fff;
				margin: .3em 0;
			}

			&.active {
				display: block;
			}


		}
	}

}


@include iphone3()  {

	@include company-mobile();

}
@include iphone4()  {

	@include company-mobile();

}


@include iphone5()  {

	@include company-mobile();

}


@include ipad()  {

	//@include company-mobile();


	#section-1 {


		background: url(../img/company/slide1_ipad_bg.jpg) no-repeat center center;
		-ms-background-size: cover;
		-opera-background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;

		video {
			display: none;
		}
		#controls_video {
			display: none;
		}
	}
	#section-3 {


		background: url(../img/company/slide3_ipad_bg.jpg) no-repeat center center;
		-ms-background-size: cover;
		-opera-background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;

		video {
			display: none;
		}
	}

}


@include  max-screen(750px)  {

	@include company-mobile();

}


@include  ipad()  {

	@include company-ipad();

}


