/* fifth slide:begin */
#section-5 {
	height: auto;
	min-height: 100%;
}
#section-5 .fifth_slide{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	background: #fff4d5;
}

/* text wrapper */
#section-5 .fifth_slide > div:first-child{
	position: relative;
	padding: 75px 0 11px;
}

/* title */
#section-5 .fifth_slide h1{
	font: 68px/0.94em 'oksana_text_narrowbold', sans-serif;
	color: #442111;
	margin: .3em 0;
}

#section-5 .fifth_slide  .headermark {
	&:before {
		content: "\e603";
		color: $cherry;
		font-size: 47px;
	}
}


/* jobs in the directions:begin */
#section-5 .fifth_slide .jobs_in_directions{
	height: 165px;
	background: #fff;
	position: relative;
}

/* title */
#section-5 .fifth_slide .jobs_in_directions > div:first-child{
	color: #e60e64;
	font: 22px 'oksana_text_narrowdemibold', sans-serif;
	padding: 30px 0 35px;
}

/* list */
#section-5 .fifth_slide .jobs_in_directions > div:last-child{
	width: 1103px;
	margin: 0 auto;
}
#section-5 .fifth_slide .jobs_in_directions ul{
	list-style: none;
	margin: 0; padding: 0;
}

#section-5 .fifth_slide .jobs_in_directions ul li{
	font: 15px 'oksana_text_narrowbold', sans-serif;
	color: #442111;
	margin: 0; padding: 0;
	cursor: pointer;
}

#section-5 .fifth_slide .jobs_in_directions ul li span:first-child{
	display: inline-block;
	margin-right: 12px;
}

#section-5 .fifth_slide .jobs_in_directions ul li.active span:first-child{
	color: #e60e64;
}

#section-5 .fifth_slide .jobs_in_directions ul li span:last-child{
	font-size: 15px;
	line-height: 27px;
	color: #e60e64;
	display: inline-block;
	border: 1px #e60e64 solid;
	border-radius: 14px;
	width: 27px; height: 27px;
	transition: background 0.3s ease, color 0.5s ease;
}
#section-5 .fifth_slide .jobs_in_directions ul li:hover span:last-child,
#section-5 .fifth_slide .jobs_in_directions ul li.active span:last-child{
	background: #e60e64;
	color: #fff;
}

/* bxslider styles:begin */
/* reset and layout */
#section-5 .fifth_slide .jobs_in_directions .bx-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.8) 1%, rgba(255,255,255,0.26) 2%, rgba(255,255,255,0) 3%, rgba(255,255,255,0.13) 97%, rgba(255,255,255,0.25) 98%, rgba(255,255,255,0.8) 99%, rgba(255,255,255,0.98) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.95)), color-stop(1%,rgba(255,255,255,0.8)), color-stop(2%,rgba(255,255,255,0.26)), color-stop(3%,rgba(255,255,255,0)), color-stop(97%,rgba(255,255,255,0.13)), color-stop(98%,rgba(255,255,255,0.25)), color-stop(99%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.98))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.8) 1%,rgba(255,255,255,0.26) 2%,rgba(255,255,255,0) 3%,rgba(255,255,255,0.13) 97%,rgba(255,255,255,0.25) 98%,rgba(255,255,255,0.8) 99%,rgba(255,255,255,0.98) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.8) 1%,rgba(255,255,255,0.26) 2%,rgba(255,255,255,0) 3%,rgba(255,255,255,0.13) 97%,rgba(255,255,255,0.25) 98%,rgba(255,255,255,0.8) 99%,rgba(255,255,255,0.98) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.8) 1%,rgba(255,255,255,0.26) 2%,rgba(255,255,255,0) 3%,rgba(255,255,255,0.13) 97%,rgba(255,255,255,0.25) 98%,rgba(255,255,255,0.8) 99%,rgba(255,255,255,0.98) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.8) 1%,rgba(255,255,255,0.26) 2%,rgba(255,255,255,0) 3%,rgba(255,255,255,0.13) 97%,rgba(255,255,255,0.25) 98%,rgba(255,255,255,0.8) 99%,rgba(255,255,255,0.98) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#faffffff',GradientType=1 ); /* IE6-9 */
	*zoom: 1;
}

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper img {
	max-width: 100%;
	display: block;
}

/* theme */

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-viewport {
	left: -5px;
	box-shadow: none;
	border: none;
	background: transparent;
}

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-pager,
#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* loader */

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../images/bxslider/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* pager */

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-pager .bx-pager-item,
#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
}

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-pager.bx-default-pager a:hover,
#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* direction controls (next / prev) */

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-prev {
	left: -39px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASFJREFUeNpi/P//PwMh8Jw/NQpItbMQoTAVSPUBsT8DyGRc+BlfSiEQfwBicxCfBY+JdUAqF4jtJT/OvggSY8GiiBFIdQFxJBDbAhXegMmxoClkBlJTgNgViO2ACu8hy7OgKVwExPpA7ABU+ATdVhaoQjYgtQaIpYHYEajwNTZ/sAAVcgHpTUDMCcROQIUfcXmaCYjPQGlXfAphikFu/clABAApNgFidiDeAnQSP17FQKs/A2kfIP4KxLuAGoTwmcwA1PANSAUD8QMgPgjUIIZTMVTDLyAFSl2ngfgYUIMMTsVQDX+BVDIQbwPi40ANKsjyjLjSM1BhK1QjKEgvY5iMZks1kJoAxPuAGs3xmoxkQyYolwBxACOR2SoGSDUBBBgAf9V6L8Saa5IAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border: 1px transparent solid;
}

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-next {
	right: -39px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNpieCqSeg+IYxiIAExAnATEU4AaMonRwABUaA7Er4G4Ap86RiQNukBqNxDPlX4zuxqvYqgGFSC1H4jXA3E+UNN/nIqhGmSA1AEgPgTEqUANf3EqhmoQA1J7gfgaEMcCNfzCqRiqQQhIbQfiV0AcDtTwjZFAKPFD3Q8C/kz4FANN+wikfID4JxCfYWIgDrAD8V8mIpwBCvt/QGzChEehKJDaB8RvgdgL5EEmHAploJFzA4gDYUHHhEWhEjRSDgNxHHKkMKEp1IDGHCi4spAVopuoD015dcQk0Q9AXEhIoRMQfwbiVGIS/kMgjiImZgACDAD4n2H4vyTYXQAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border: 1px transparent solid;
}

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-prev:hover {
	border: 1px #e60e64 solid;
}

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-next:hover {
	border: 1px #e60e64 solid;
}

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	outline: 0;
	width: 36px;
	height: 36px;
	text-indent: -9999px;
	z-index: 9000;
}

#section-5 .fifth_slide .jobs_in_directions .bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}
/* bxslider styles:end */

/* jobs in the directions:end */

/* one vacancy:begin */
#section-5 .fifth_slide .one_vacancy {
	display: block;
	position: relative;
	text-align: left;
	padding: 48px 57px;
	float: left;
	border: 1px #f5e0cd solid;
	width: 184px;
	height: 214px;
	margin: -1px 0 0 -1px;
}

#section-5 .fifth_slide .one_vacancy:first-child,
#section-5 .fifth_slide .one_vacancy + .one_vacancy {
	border-top: 0;
}

#section-5 .fifth_slide .columns .col:last-child {
	border-right: 1px #f5e0cd solid;
}

#section-5 .fifth_slide .one_vacancy span:nth-child(1) {
	font: 15px/24px 'oksana_text_narrowbold', sans-serif;
	color: #442111;
	display: block;
	margin: 0 0 12px;
}

#section-5 .fifth_slide .one_vacancy span:nth-child(2) {
	font: 20px/24px 'oksana_text_narrowdemibold', sans-serif;
	color: #e60e64;
	display: block;
	width: 150px;
	margin: 0 0 14px;
	padding: 0 0 17px;
	background-color: transparent;
	background-position: left bottom;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAABCAIAAACt5TK4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpifC6d9f/zLwZqA4AAAwBuDQRasMa/2gAAAABJRU5ErkJggg==);
}

#section-5 .fifth_slide .one_vacancy span:nth-child(3) {
	font: 13px/24px 'oksana_text_narrowbold_italic', sans-serif;
	color: #442111;
	display: block;
	margin: 0 0 10px;
}

#section-5 .fifth_slide .one_vacancy a {
	font: 13px/26px 'oksana_text_narrowbold_italic', sans-serif;
	color: #e60e64;
	display: inline-block;
	text-decoration: none;
}

/* one vacancy:end */

/* send resume button */
#section-5 .fifth_slide .send_resume_btn{
	margin: 38px 0 40px;
	display: inline-block;
	cursor: pointer;
}
#section-5 .fifth_slide .send_resume_btn span:first-child{
	margin: 0 auto;
	display: block;
	width: 66px; height: 66px;
	padding: 6px;
	border: 3px transparent solid;
	border-radius: 40px;
	transition: border 0.1s ease;
}

#section-5 .fifth_slide .send_resume_btn:hover span:first-child{
	border: 3px #fff solid;
}

#section-5 .fifth_slide .send_resume_btn span:first-child i{
	display: block;
	background: url(../images/company/slide_5/letter_icon.png) 0 -66px no-repeat;
	width: 66px; height: 66px;
	transition: all 0.3s ease;
}

#section-5 .fifth_slide .send_resume_btn:hover span:first-child i{
	background: url(../images/company/slide_5/letter_icon.png) 0 0 no-repeat;
}

#section-5y .fifth_slide .send_resume_btn span:last-child{
	display: block;
	color: #e60e64;
	font: 16px 'oksana_text_narrowbold', sans-serif;
}
/* fifth slide:end */