/* sixth slide:begin */
#section-6 {
	height: auto;
}
#section-6 .sixth_slide {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	background: #fff4d5;
}

/* text wrapper */
#section-6 .sixth_slide > div:first-child {
	position: relative;
	padding: 75px 0 11px;
}

/* title */
#section-6 .sixth_slide > div h1 {
	font: 68px/0.94em 'oksana_text_narrowbold', sans-serif;
	color: #442111;
	margin: .3em 0;
}
#section-6 .sixth_slide > div  .headermark {
	&:before {
		content: "\e602";
		color: $cherry;
		font-size: 47px;
	}
}
#section-6 .sixth_slide .catalog_enter {
	margin: 34px 0;
}

/* all news button:begin */
#section-6 .sixth_slide > div > h1 + a {
	position: relative;
	display: block;
	margin: 0 auto 43px auto;
	width: 135px;
	height: 29px;
	color: #fff;
	font: 16px/29px 'oksana_text_narrowbold', sans-serif;
	text-align: center;
	text-decoration: none;
	background: #e60e64;
	transition: width 0.5s ease;
}

#section-6 .sixth_slide > div > h1 + a:hover {
	width: 185px;
}

#section-6 .sixth_slide > div > h1 + a:before {
	content: " ";
	position: absolute;
	left: -10px;
	top: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAdCAYAAACT4f2eAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMdJREFUeNpifMaXsoWBgcGbgQBgAuJCIP5JjMLbQNxPjEIQaAXip8Qo/ALEZcQoBIHlQHyYGIX/gTgPiP8SUggCF4B4NjEKQaAOiD8Qo/A1EDcRoxAEpgDxDWIU/gbiCmIUgsBGID5OjEIQqCFWITsxCpmBuIsYhbFArENIIQd6WOJSmAXEsoQU8gFxJTExUwzEIoQUikMVEkw9ICu5CSmUB+IMYlJ4A3JM4FKoBQ1ggpmrBRpleBWaA3EAMQUAyDRGQgoBAgwAFK0cmOivdzkAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;
	width: 10px;
	height: 29px;
	display: block;
}

#section-6 .sixth_slide > div > h1 + a:after {
	content: " ";
	position: absolute;
	right: -10px;
	top: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAdCAYAAACT4f2eAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMlJREFUeNpifMaX8p+BMNjHRIQikEFVxCjcAMQnCSn8C8Q1IAYhhUuA+Bohhb+AuBHGwadwFhDfJ6TwKxC3IAvgUtgLxC8JKXwFVchASGErEH8ipPAeEM/A5hZ0hTXQYMGr8BwQr8AVVsgKK6AJgKDCv/jiEllhC7EKLYHYlxiFINAFxKzEKNQA4mxiFIJAPRCLEKNQAIibiFEIAmlArEOMQmYgnkSMQhBwBOIoYhTCgouHGIXSQFxNjEIQKARiVWIUsgNxP0CAAQAR4SBGD4pZ6AAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 10px;
	height: 29px;
	display: block;
}

/* all news button:end */

/* news:begin */
#section-6 .sixth_slide .columns > div a {
	display: block;
	position: relative;
	text-decoration: none;
	width: 100%;
}

#section-6 .sixth_slide .columns > div a.first {
	background: url(../img/news/1.jpg) 0 0 no-repeat;
	height: 426px;
}

#section-6 .sixth_slide .columns > div a.second {
	background: url(../img/news/2.jpg) 0 0 no-repeat;
	height: 213px;
}

#section-6 .sixth_slide .columns > div a.third {
	background: url(../img/news/3.jpg) right 0 no-repeat;
	height: 213px;
}

/* hover */
#section-6 .sixth_slide .columns > div a div:nth-child(1) {
	width: 100%;
	background: rgba(255, 244, 213, 0.5);
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	transition: opacity 0.3s ease-out;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

#section-6 .sixth_slide .columns > div a:hover div:nth-child(1) {
	opacity: 1;
	height: 100%;
}

/* text:begin */
#section-6 .sixth_slide .columns > div a div:nth-child(2) {
	width: 227px;
	height: 173px;
	background: #fff;
	position: absolute;
	z-index: 2;
	transition: background 0.3s ease-out;
	padding: 20px 36px;
}

#section-6 .sixth_slide .columns > div a:hover div:nth-child(2) {
	background: #e60e64;
}

#section-6 .sixth_slide .columns > div a.first div:nth-child(2) {
	left: 0;
	bottom: 0;
}

#section-6 .sixth_slide .columns > div a.second div:nth-child(2) {
	right: 0;
	top: 0;
}

#section-6 .sixth_slide .columns > div a.third div:nth-child(2) {
	left: 0;
	top: 0;
}

#section-6 .sixth_slide .columns > div a div:nth-child(2) span {
	display: block;
	text-align: left;
	margin-bottom: 10px;
}

#section-6 .sixth_slide .columns > div a div:nth-child(2) span:nth-child(1) {
	font: 15px/26px 'oksana_text_narrowbold_italic', sans-serif;
	color: #e60e64;
	margin: 0 0 14px;
	padding: 0 0 16px;
	background-color: transparent;
	background-position: left bottom;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAABCAIAAACt5TK4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpifC6d9f/zLwZqA4AAAwBuDQRasMa/2gAAAABJRU5ErkJggg==);
}

#section-6 .sixth_slide .columns > div a:hover div:nth-child(2) span:nth-child(1) {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAABCAIAAACt5TK4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJJREFUeNpi/P//PwMNAECAAQABvQL/avZ99gAAAABJRU5ErkJggg==');
	background-color: transparent;
}

#section-6 .sixth_slide .columns > div a div:nth-child(2) span:nth-child(2) {
	font: 22px/26px 'oksana_text_narrowdemibold', sans-serif;
	color: #442111;
}

#section-6 .sixth_slide .columns > div a div:nth-child(2) span:nth-child(3) {
	font: 15px/26px 'oksana_text_narrowbold_italic', sans-serif;
	color: #442111;
}

#section-6 .sixth_slide .columns > div a div:nth-child(2) span:nth-child(4) {
	font: 15px/26px 'oksana_text_narrowbold_italic', sans-serif;
	color: #442111;
}

#section-6 .sixth_slide .columns > div a:hover div:nth-child(2) span {
	color: #fff;
}

/* text:end */

/* triangle right */
#section-6 .sixth_slide .columns > div a.first div:nth-child(2) div {
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-left: 14px solid white;
	border-bottom: 14px solid transparent;
	position: absolute;
	right: -14px;
	top: 50%;
	margin-top: -7px;
	transition: border 0.3s ease-out;
}

#section-6 .sixth_slide .columns > div a.second div:nth-child(2) div {
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-right: 14px solid white;
	border-bottom: 14px solid transparent;
	position: absolute;
	left: -14px;
	top: 50%;
	margin-top: -7px;
	transition: border 0.3s ease-out;
}

#section-6 .sixth_slide .columns > div a.third div:nth-child(2) div {
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-left: 14px solid white;
	border-bottom: 14px solid transparent;
	position: absolute;
	right: -14px;
	top: 50%;
	margin-top: -7px;
	transition: border 0.3s ease-out;

}

#section-6 .sixth_slide .columns > div a:hover div:nth-child(2) div {
	border-left-color: #e60e64;
}

#section-6 .sixth_slide .columns > div a.second:hover div:nth-child(2) div {
	border-right-color: #e60e64;
}

/* news:end */

/* sixth slide:end */