@include max-screen(1200px) {
	/* columns:begin */


	#content-wrapper {
		height: 100%;
	}

	#wrapper {
		height: 100%;
	}


	.columns {
		width: 600px;
		position: relative;
		margin: 0 auto;
		padding: 0 !important;
	}
	.company_page {
		min-width: 600px;
	}



	#section-1 {


			background: url(../img/company/slide1_ipad_bg.jpg) no-repeat center center;
			-ms-background-size: cover;
			-opera-background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;

			video {
				display: none;
			}
	}
	#section-3 {


			background: url(../img/company/slide3_ipad_bg.jpg) no-repeat center center;
			-ms-background-size: cover;
			-opera-background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;

			video {
				display: none;
			}
	}
}
//
//@include max-screen(1100px) {
//	/* columns:begin */
//
//	/* map:begin */
//	#section-2 .second_slide .map {
//		@include transform(scale(0.9)  translate(-50px, 0));
//	}
//}
//
//@include max-screen(1000px) {
//	/* columns:begin */
//
//	/* map:begin */
//	#section-2 .second_slide .map {
//		@include transform(scale(0.6)  translate(-320px, 0));
//	}
//}
//
//
//@include max-screen(700px) {
//	/* columns:begin */
//
//	/* map:begin */
//	#section-2 .second_slide .map {
//		@include transform(scale(0.4)  translate(-620px, 0));
//	}
//}
//
//




