/* sixth slide:begin */
#section-6 {
	height: auto;
}
#section-6 .sixth_slide {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	background: #fff4d5;
}

/* text wrapper */
//#section-6 .sixth_slide > div:first-child {
//	position: relative;
//	padding: 75px 0 11px;
//}
//
///* title */
//#section-6 .sixth_slide > div h1 {
//	font: 68px/0.94em 'oksana_text_narrowbold', sans-serif;
//	color: #442111;
//	margin: .3em 0;
//}
#section-6 .sixth_slide > div  .headermark {
	&:before {
		content: "\e602";
		color: $cherry;
	}
}

