	/* fourth slide:begin */
#section-4 {
	height: auto;
	//min-height: 100%;
}
#section-4 .fourth_slide {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	background: #fff;
}

/* text wrapper */
#section-4 .fourth_slide > div {
	position: relative;
	padding: 128px 0 25px;
}

/* title */
#section-4 .fourth_slide h1 {
	font: 68px/0.94em 'oksana_text_narrowbold', sans-serif;
	color: #442111;
	margin: .3em 0;
}

#section-4 .fourth_slide  .headermark {
	&:before {
		content: "\e601";
		color: $cherry;
		font-size: 47px;
	}
}

/* text */
#section-4 .fourth_slide p {
	color: #442111;
	font: 18px/1.70em 'oksana_text_narrowdemibold', sans-serif;
	padding: 0 120px;
}

/* columns:begin */
.columns {
	width: 100%;
	max-width: 1200px;
	min-width: 600px;
	position: relative;
	margin: 0 auto;
	padding: 0 !important;
}

.columns:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* column:begin */
.columns .col {
	margin: 0;
	padding: 0;
}

.columns .col_2 {
	margin: 0;
	padding: 0;
	float: left;
	width: 598px;
}

.columns .col_3 {
	margin: 0;
	padding: 0;
	float: left;
	width: 400px;
}

.columns .col.border_none {
	border: 0;
}

/* one logotype:begin */
#section-4 .fourth_slide .columns .col a {
	display: block;
	float: left;
	border: 1px #f1f1f1 solid;
	position: relative;
	width: 298px;
	height: 298px;
	overflow: hidden;
	text-decoration: none;
	margin: -1px 0 0 -1px;




	&:before {
		color: #414042;
		font-size: 40px;
	}


	&:nth-child(1) {
		&:before {
			content: "\e51c";
			line-height: 298px;
		}
	}

	&:nth-child(2) {
		&:before {
			content: "\e51b";
			line-height: 298px;
		}
	}

	&:nth-child(3) {
		&:before {
			content: "\e51a";
			line-height: 298px;
		}
	}

	&:nth-child(4) {
		&:before {
			content: "\e519";
			line-height: 298px;
		}
	}

	&:nth-child(5) {
		&:before {
			content: "\e518";
			line-height: 298px;
		}
	}
	&:nth-child(6) {
		&:before {
			content: "\e517";
			line-height: 298px;
		}
	}
	&:nth-child(7) {
		&:before {
			content: "\e516";
			line-height: 298px;
			font-size: 60px;
		}
	}
	&:nth-child(8) {
		&:before {
			content: "\e515";
			line-height: 298px;
		}
	}
	&:nth-child(9) {
		&:before {
			content: "\e514";
			line-height: 298px;
			font-size: 85px;
		}
	}
	&:nth-child(10) {
		&:before {
			content: "\e513";
			line-height: 298px;
		}
	}
	&:nth-child(11) {
		&:before {
			content: "\e512";
			line-height: 298px;
			font-size: 60px;
		}
	}
	&:nth-child(12) {
		&:before {
			content: "\e511";
			line-height: 298px;
		}
	}
	&:nth-child(13) {
		&:before {
			content: "\e510";
			line-height: 298px;
		}
	}
	&:nth-child(14) {
		&:before {
			content: "\e50f";
			line-height: 298px;
		}
	}
	&:nth-child(15) {
		&:before {
			content: "\e50e";
			line-height: 298px;
		}
	}
}
//
//#section-4 .fourth_slide .columns .col a + a {
//	border-top: 0;
//}

/* hover:begin */
#section-4 .fourth_slide .columns .col a > div {
	margin-top: 0px;
	width: 298px;
	height: 298px;
	background: #e40e63;
	color: #fff;
	transition: all 0.55s ease;
	position: relative;


	div {
		vertical-align: middle;
		display: table-cell;
		width: 298px;
		height: 298px;
	}
}

#section-4 .fourth_slide .columns .col a:hover > div {
	z-index: 10;
	margin-top: -298px;
}

html.ipad #section-4 .fourth_slide .columns .col a:hover > div {
	bottom: -298px;
	z-index: 0;
}

#section-4 .fourth_slide .columns .col a div div h2 {
	font: 20px 'oksana_text_narrowbold', sans-serif;
	margin: 0 0 7px;
}

#section-4 .fourth_slide .columns .col a div div span:nth-child(2) {
	font: 18px 'oksana_text_narrowthin_italic', sans-serif;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAABCAIAAACt5TK4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJJREFUeNpi/P//PwMNAECAAQABvQL/avZ99gAAAABJRU5ErkJggg==');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: transparent;
	padding-bottom: 22px;
	margin-bottom: 18px;
	display: block;
}

#section-4 .fourth_slide .columns .col a div div span:nth-child(3) {
	font: 19px 'oksana_text_narrowdemibold', sans-serif;
	display: block;
}

/* hover:end */

/* image */
#section-4 .fourth_slide .columns .col a img {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
}

/* one logotype:end */

/* column:end */

/* columns:end */
/* fourth slide:end */
