/* FOOTER PAGE:begin */
#footer_page{
	margin-top: 0px;
}
body {
	background: #fff;
	height: auto;
}
.catalog {


	.wrapper {

		&.sladosti {
			background:#ffd3ab url(../img/catalog/catalog-page1.jpg) repeat 50% 100%;
		}

		&.choko {
			background:#ffd3ab url(../img/catalog/catalog-page2.jpg) repeat 50% 100%;
		}

		&.nua {
			background:#ffd3ab url(../img/catalog/catalog-page3.jpg) repeat 50% 100%;
		}

 		padding: 141px 0 91px 0;
		text-align: center;

		.header_title {
			font: 68px/1 'oksana_text_narrowbold', sans-serif;
			color: #fff;
			margin-bottom: 45px;
			position: relative;

			.tm {
				font-size: 30px;
				vertical-align: top;
			}

			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 57px;
				height: 0px;
				bottom: -29px;
				left: 50%;
				margin-left: -28px;
				border-top: 1px solid #fff;
			}

		}

		.header_description {
			color: #fff;
			font: 37px/1.70em 'oksana_text_narrowdemibold', sans-serif;
			margin: 0;
			padding: 0 65px;
		}


	}


	.item_list_wrapper {


		max-width: 1204px;
		margin: 0 auto;
		text-align: center;



		.block_title {
			font: 50px/1.4 'oksana_text_narrowbold', sans-serif;
			color: $brown;
			padding: 44px 65px 0 65px;

		}

		.block_description {
			color: $brown;
			font: 17px/1.4 'oksana_text_narrowdemibold', sans-serif;
			margin: 0;
			padding: 0 65px 64px 65px;
		}


		.headermark {
			&:before {
				content: "\e504";
				font-size: 20px;
			}
		}


		.item_list {
			display: inline-block;

			text-align: left;




			.item_list_item {
				position: relative;
				//border-bottom: 1px solid red;
				//border-right: 1px solid red;
				border: 1px solid #e2e2e2;
				text-align: center;

				width: 300px;
				display: inline-block;
				height: 292px;
				vertical-align: bottom;

				margin-left: -1px;
				margin-top: -1px;

				&.doubled {
					width: 601px;

				}


				.item_class {


				}

				.new_mark {
					top: 22px;
					left: 30px;
					position: absolute;
					background: #fece7b;
					@include border-radius(39px);
					width: 78px;
					height: 78px;
					//display: inline-block;
					//padding: 12px;
					line-height: 78px;
					font-size: 14px;
					text-align: center;

				}

				.item_name {
					background: rgba(246,246,246, .8);
					position: absolute;
					bottom: 0;
 					left: 0;
					right: 0;
					padding: 27px;
					text-align: left;
					text-decoration: none;
					font-size: 20px;

					.item_class {
						display: block;
						color: rgba(228,14,99, .7);
						//position: absolute;
						//top: 26px;
						//left: 26px;
						transition: all 0.8s ease;
						line-height: 1.8;
						font-size: 14px;

					}


					.item_name_wrap {
						display: table-cell;
						height: 106 - 27 - 27 + px;
						vertical-align: middle;
						transition: all 0.2s ease;
						text-decoration: none;
						color: $brown;

					}


					em {

						position: absolute;
						bottom: 14px;
						right: 10px;


						&:after {
							content: "\e60a";
							color:rgba(246,246,246, 0);
							transition: all 0.8s ease;
							font-size: 27px;



						}
					}
				}

				.prod_img {

					line-height: 367px;
				}

				&:hover {


					.item_name {

						background: rgba(228,14,99, .7);
						position: absolute;
						bottom: 0;
 						left: 0;
						right: 0;
						padding: 27px;
						text-align: left;
						//font-size: 44px;
						color: #fff;
						text-decoration: none;


						.item_class {
							color: #fff;
						}
						.item_name_wrap {
							display: table-cell;
							height: 146 - 27 - 27 + px;
							vertical-align: middle;
							color: #fff;

						}

						em {
							&:after {
								content: "\e60a";
								color:rgba(255,255,255, 1);
								font-size: 27px;



							}
						}
					}


				}
			}

		}
	}



}

.prod_block {

	font: 13px/1.4em 'oksana_text_narrowbold', sans-serif;

	text-align: center;

	h1 {
		font-size: 19px;
		color: #442111;
		margin: 40px 40px 0px 40px;
		text-align: left;


	}
	h2 {
		font-size: 35px;
		color: #e60e64;
		margin: 20px 40px 0px 40px;
		text-align: left;


	}

	h3 {
		color: #442111;
		margin: 20px 40px 0px 40px;
		text-align: left;
		font-size: 16px;
		font-family: oksana_text_narrowdemibold;
		font-style: normal;

		&:before {
			content: "";
			display: block;
			width: 35px;
			height: 1px;
			background: $cherry;
			margin-top: 40px;
			margin-bottom: 30px;
		}
	}

	.descr {
		text-align: left;
		margin: 10px 40px 30px 40px;
		font-size: 16px;
		font-family: oksana_text_narrowdemibold;
		font-style: normal;

		em {
			display: inline-block;
			width:56px;
			padding-top: 4px;
			margin-top: 3px;

			&:before {
				line-height: 1.6;
			}

		}

		.weight {

			em {

				&:before {
					content: "\e608";
					font-size: 20px;
					color: $cherry;
				}
			}

		}


		.boxing {
			em {
				&:before {
					content: "\e607";
					font-size: 15px;
					color: $cherry;


				}

			}

		}


		.beforeend {
			em {
				&:before {
					content: "\e609";
					font-size: 16px;
					color: $cherry;

				}
			}
			color: $cherry;
		}

	}
	.prod_block_item {

		ul {
			font-family: 'oksana_text_narrowdemibold';
			font-style: italic;
			color: #442111;
			margin-top: 12px;
			margin-bottom: 32px;

			li {
				line-height: 23px;
				padding-right: 20px;
				&:before {

					content: "- ";
				}
			}

		}

		&:before {
			content: "";
			display: block;
			width: 35px;
			height: 1px;
			background: $cherry;
			margin-bottom: 20px;
		}
	}
	.prod_img {
		height: 400px;
		position: relative;
		margin: 0 auto;

	}


}
