/* FOOTER PAGE:begin */
#footer_page{
	margin-top: 0px;
}
body {
	background: #fff;
}
.catalog {


	.wrapper {

 		padding-top: 60px;

		background:#ffd3ab url(../img/catalog/catalog-page1.jpg) repeat 50% 100%;



	}


	.item_list_wrapper {


		max-width: 1204px;
		margin: 0 auto;
		text-align: center;



		.block_title {
			font-size: 43px;

		}

		.block_description {
			font-size: 23px;
		}


		.item_list {
			display: inline-block;

			text-align: left;




			.item_list_item {
				position: relative;
				//border-bottom: 1px solid red;
				//border-right: 1px solid red;
				border: 1px solid red;

				width: 300px;
				display: inline-block;
				height: 292px;
				vertical-align: bottom;

				margin-left: -1px;
				margin-top: -1px;

				&.doubled {
					width: 601px;

				}


				.item_class {


				}

				.new_mark {

					position: absolute;
					background: #fece7b;
					@include border-radius(39px);
					width: 78px;
					height: 78px;
					//display: inline-block;
					//padding: 12px;
					line-height: 78px;
					font-size: 14px;
					text-align: center;

				}

				.item_name {
					background: rgba(246,246,246, .8);
					position: absolute;
					bottom: 0;
 					left: 0;
					right: 0;
					padding: 27px;
					text-align: left;
					transition: all 0.8s ease;

					.item_class {
						display: block;
						color: rgba(228,14,99, .7);
						//position: absolute;
						//top: 26px;
						//left: 26px;
						transition: all 0.8s ease;

					}
				}

				&:hover {


					.item_name {

						background: rgba(228,14,99, .7);
						position: absolute;
						bottom: 0;
 						left: 0;
						right: 0;
						padding: 27px;
						text-align: left;
						//font-size: 44px;
						color: #fff;

						.item_class {
							color: #fff;
						}
					}


				}
			}

		}
	}



}

.prod_block {



	h1 {
		font-size: 19px;
		color: #442111;
		margin: 40px 40px 0px 40px;

	}
	h2 {
		font-size: 35px;
		color: #e60e64;
		margin: 20px 40px 0px 40px;

	}
	.prod_block_item_col {

		width: 50%;
		float: left;

	}
	.prod_block_item {

		ul {
			font-family: 'oksana_text_narrowdemibold';
			font-style: italic;
			color: #442111;
			margin-top: 12px;
			margin-bottom: 32px;

			li {
				line-height: 23px;
				padding-right: 20px;
				&:before {

					content: "- ";
				}
			}

		}

		&:before {
			content: "";
			display: block;
			width: 35px;
			height: 1px;
			background: $cherry;
			margin-bottom: 20px;
		}
	}


}
