.test {
	color: #235678;
}

//$dev_mode : true;
$dev_mode : false;


$carmine : #840036;
$white : #FFF;
$cherry : #e70c66;
$aircolor : #c7eafc;
$vitacolor : #85c98b;
$milkcolor : #fece7b;
$brown : #442111;
$logo : #70002e;




$menu_max_w: 950;
$menu_item_p_t: 22;
$menu_item_p_b: 8;

$mobilemenu_h: 60;



$default-text-shadow-color: rgba(black, .6);
$default-text-shadow-blur: 5px;
$default-text-shadow-v-offset: 0px;

$h3fontsize : 16px;


$mainh1 : 1px;
$mainh2 : 1px;
$mainh3 : 1px;
$mainh4 : 1px;

$companyh1 : 1px;
$companyh2 : 1px;
$companyh3 : 1px;
$companyh4 : 1px;

$catalogh1 : 1px;
$catalogh2 : 1px;
$catalogh3 : 1px;
$catalogh4 : 1px;