

@import "mainmenu-fluid";


@include max-screen(1200px) {
	/* columns:begin */


	.item_list {
		width: 602px;
		position: relative;
		margin: 0 auto;
		padding: 0 !important;
	}
	.item_list {
		min-width: 600px;

		.item_list_item {

			&:nth-child(2n) {
				border-right: none;
			}
		}
	}





}



@import "common-mobile";

@mixin contacts-mobile() {

	#content-wrapper.company {
		height: auto;
	}


	body.news #form_success {
		min-width: 100%;
	}


	.map_wrapper {

		position: relative;
		height: auto;
		left:auto;
		right: auto;
		bottom: auto;
		top: auto;
		background: #fff;
		padding-bottom: 120px;

		#map_canvas{


			position: relative;

			width: 90%;
			margin: 0 auto;
			height: 500px;


		}

		.description {

			position: relative;
			height: auto;
			left: auto;

		}



	}



	.item_list_wrapper {




		.item_list {

			width: 100%;
			min-width: 100%;

			.item_list_item {


				width: 100%;
				height: auto;
				margin-bottom: 30px;



				&:nth-child(2n+1) {
					//margin-right: -1px;
					border-left: 0;
					border-right: 0;
				}
				//&:nth-child(2n+1) {
				//	margin-right: -1px;
				//}


				h5 {
					padding-left: 40px;
					padding-right: 40px;
					font: 17px/1.4 oksana_text_narrowdemibold, sans-serif;
				}

				h6 {
					padding-left: 40px;
					padding-right: 40px;
					font: 13px/1.6 oksana_text_narrowdemibold, sans-serif;
				}


			}

		}
	}

}


@include iphone3()  {

	@include contacts-mobile();

}
@include iphone4()  {

	@include contacts-mobile();

}


@include iphone5()  {

	@include contacts-mobile();

}


@include  max-screen(750px)  {

	@include contacts-mobile();

}




