.test {
	color: #235678;
}

//$dev_mode : true;
$dev_mode : true;


$carmine : #870037;
$white : #FFF;
$cherry : #e70c66;
$aircolor : #c7eafc;
$vitacolor : #85c98b;
$milkcolor : #fece7b;
$brown : #442111;
$logo : #70002e;




$menu_max_w: 950;
$menu_item_p_t: 22;
$menu_item_p_b: 8;

$mobilemenu_h: 60;