@mixin fonts($mu, $mu2) {

	.section-big-title {



		//common
		text-align: center;
		width: 100%;



		h1 {
			color: #00ffa1;
			position: relative;
			font-size:  77 * $mu + px;
			line-height: 1;

			padding-right: 10%;
			padding-left: 10%;

		}

		h2 {
			position: relative;
			font-family: oksana_text_narrowdemibold;
			font-size:16 * $mu2 + px;
			line-height: 1.6;
			margin: 0 auto;

			color: #ff33ad;

			padding-right: 10%;
			padding-left: 10%;

		}
		h3 {
			position: relative;
			padding: 42 * $mu + px 0;

			color: #7cff2c;

		}
		h4 {
			position: relative;
			padding: 42 * $mu + px 0;

			color: #00f1ff;

		}


	}



	//main



	body.index {


		.section-big-title {


			h1 {
				color: #442111;
				position: relative;
				font-size:68 * $mu + px;
				line-height: 1;
			}

			h2 {
				position: relative;
				font-family: oksana_text_narrowdemibold;
				font-size:16 * $mu2 + px;
				line-height: 1.6;
				margin: 0 auto;

				color: #442111;

			}
			h3 {
				position: relative;
				padding: 42 * $mu + px 0;

				color: #7cff2c !important;

			}
			h4 {
				position: relative;
				padding: 42 * $mu + px 0;

				color: #00f1ff !important;

			}

		}


		.page5 {
			.section-big-title {


				h1 {
					color: #fff;
				}

				h2 {
					//position: relative;
					//font-family: oksana_text_narrowdemibold;
					//font-size:16px;
					//line-height: 1.6;
					//margin: 0 auto;
					//
					//color: #442111;

				}
				h3 {
					//position: relative;
					//padding: 42px 0;
					//
					//color: #7cff2c !important;

				}
				h4 {
					//position: relative;
					//padding: 42px 0;
					//
					//color: #00f1ff !important;

				}

			}

		}
	}



	//company




	body.company {

		.section-big-title {

			padding-top: 60 * $mu + px;
			padding-bottom: 60 * $mu + px;

			h1 {
				color: #fff;
				font-size: 68 * $mu + px;
			}


			h2 {
				color: #fff;
				font-size: 17 * $mu2 + px;

			}


		}


		.fourth_slide {

			.section-big-title {


				h1 {
					color: $brown;

				}


				h2 {
					color: $brown;

				}


			}
		}


		.fifth_slide {

			.section-big-title {

				padding: 60 * $mu + px 0 20 * $mu + px 0;


				h1 {
					color: $brown;

				}


				h2 {
					color: $brown;

				}


			}
		}

		.sixth_slide {

			.section-big-title {

				padding: 60 * $mu + px 0 20 * $mu + px 0;

				h1 {
					color: $brown;

				}


				h2 {
					color: $brown;

				}


			}
		}

	}




	//catalog



	body.catalog {

		.section-big-title {
			//position: relative;
			//margin: 0 auto;
			//
			h1 {
				color: #fff;
				.tm {
					font-size: 30 * $mu + px;
					vertical-align: top;
				}

			}

			.header_description {
				color: #fff;
				font-size: 37 * $mu + px;
				line-height: 1.5;
				margin: 20px 0 0 0 ;
				padding: 0 65px;


				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 57px;
					height: 0px;
					top: -9px;
					left: 50%;
					margin-left: -28px;
					border-top: 1px solid #fff;
				}

			}
		}

		.item_list_wrapper {

			.section-big-title {

				padding: 47px 0 60px 0;

				h1 {
					color: $brown;
					font-size: 50 * $mu + px;

				}
				h2 {
					color: $brown;
					font-size: 17 * $mu2 + px;

				}
			}
		}

	}




	//partners



	body.partners {

		.section-big-title {
			//position: relative;
			//margin: 0 auto;
			//
			h1 {
				color: $brown;
				.tm {
					font-size: 30 * $mu + px;
					vertical-align: top;
				}

			}

			h2 {
				color: $brown;
			}


			h3 {
				font-size: 23px;
				color: $cherry;
			}

			h4 {
				font-size: 22px;
				color: $cherry;
				font-family: oksana_text_narrowdemibold;
			}

			.header_description {
				color: #fff;
				font-size: 37 * $mu + px;
				line-height: 1.5;
				margin: 20px 0 0 0 ;
				padding: 0 65px;


				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 57px;
					height: 0px;
					top: -9px;
					left: 50%;
					margin-left: -28px;
					border-top: 1px solid #fff;
				}

			}



			//h1 {
			//	color: #00ffa1;
			//	position: relative;
			//	font-size:  77 * $mu + px;
			//	line-height: 1;
			//
			//	padding-right: 10%;
			//	padding-left: 10%;
			//
			//}
			//
			//h2 {
			//	position: relative;
			//	font-family: oksana_text_narrowdemibold;
			//	font-size:16 * $mu2 + px;
			//	line-height: 1.6;
			//	margin: 0 auto;
			//
			//	color: #ff33ad;
			//
			//	padding-right: 10%;
			//	padding-left: 10%;
			//
			//}
			//h3 {
			//	position: relative;
			//	padding: 42 * $mu + px 0;
			//
			//	color: #7cff2c;
			//
			//}
			//h4 {
			//	position: relative;
			//	padding: 42 * $mu + px 0;
			//
			//	color: #00f1ff;
			//
			//}


		}

		.item_list_wrapper {

			.section-big-title {

				padding: 47px 0 60px 0;

				h1 {
					color: $brown;
					font-size: 50 * $mu + px;

				}
				h2 {
					color: $brown;
					font-size: 17 * $mu2 + px;

				}
			}
		}

	}


	#formpartners {

		.section-big-title {

			padding: 0px 0 0px 0;

			h1 {
				text-align: left;
				color: $cherry;
				font-size: 30 * $mu + px;
				padding: 0px 0 12px 0;


			}
			h2 {
				color: $brown;
				font-family: oksana_text_narrowbold;
				font-size: 15 * $mu2 + px;
				padding: 0px 0 50px 0;
				text-align: left;

			}
			h3 {
				color: $cherry;
				font-family: oksana_text_narrowbold;
				font-size: 18 * $mu2 + px;
				padding: 0px 0 33px 0;
				text-align: left;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 30px;
					height: 0px;
					left: 0;
					margin-left: 0;
					border-top: 1px solid $cherry;
					top: -24px;
				}
			}
		}
	}

}


@include fonts(1, 1);





@include scrn(800px, 1000px, 500px, 700px) {

	@include fonts(.9, 1);

}




@include scrn(750px, 800px, 300px, 500px) {

	@include fonts(.75, .9);

}



@include scrn(0px, 750px, null, null) {

	@include fonts(.55, .8);

}





@include iphone3()  {

	@include fonts(.55, .8);

}
@include iphone4()  {

	@include fonts(.55, .8);

}


@include iphone5()  {

	@include fonts(.55, .8);

}


@include  max-screen(750px)  {

	@include fonts(.55, .8);



}




@include  ipad()  {

}




