/*
	General styles
*/

body, html {
	margin: 0;
	-webkit-tap-highlight-color: rgba(255,255,255,.2);
	//-webkit-font-smoothing: antialiased;
	//-webkit-font-smoothing: none;
	-webkit-font-smoothing: antialiased;
	background: #f6f6f6;



}

body, html, .wrapper {
	display: block;
	position: static;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: oksana_text_narrowbold;

}


.header {
	width: 100%;




}

.touchonly {
	display: none;
}
html.touch .touchonly {
	display: block;
}
.noselect * {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
.doselect * {
	user-select: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
}



.fonted {
	font-family: 'sldnc-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 34px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


}

.headermark {
	margin: 12px auto;
	color: $cherry;
}

html.noscroll {
	position: fixed;
	overflow-y: hidden;
	width: 100%;
}


#popupplace {
	display: none;
	position: fixed;
	overflow: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 44444;
}
.action_button {
	margin-top: 18px;
	background: $cherry;
	padding: 0 33px;
	line-height: 48px;
	border: 0;
	color: #fff;
	font-size: 15px;
	font-family: oksana_text_narrowdemibold;
	font-weight: normal;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}