/*
	Containers
*/
#content-wrapper, #wrapper {
	height: 100%;
}

.scrollContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%
}
.scrollContainer {
	height: 100%;
	margin: auto;
}
#wrapper .scrollContent {
	height: 100%;
}
#wrapper.scrollContainer .scrollContent {
	width: 100%;
	height: auto;
}

section.page {
	min-height: 100%;
	position: relative;
}
.page {
	position: relative;
	height: 100%;
	background-position: 50% 50%;

	.wrapper {
		position: absolute;
		top: 0;
		bottom:0;
		overflow: hidden;
		//background-image: url(../img/bg02.png);

	}



	&:after {
		content: ' ';
		width: auto;
		height: 3px;
		position: absolute;
		border-top: 4px solid #03f;
		bottom: 0;
		left:0;
		right: 0;
		background: #f00;
	    @include single-box-shadow(#000000, 0px, -3px, 12px, 3px)
	}


}




@import "pages/page1";
@import "pages/page2";
@import "pages/page3";
@import "pages/page4";
//@import "pages/page5";
//@import "pages/page6";


.fixed {
	position: fixed;
	z-index: 12;
	display: none;
}