/*
	Containers
*/
#content-wrapper, #wrapper {
	height:100%;
	//min-height: 400px;
}

.scrollContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%
}
.scrollContainer {
	height:100%;
	margin: auto;
}
#wrapper .scrollContent {
	height:100%;
}
#wrapper.scrollContainer .scrollContent {
	width: 100%;
	height: auto;
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}

//misc
#preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -72px;
	margin-top: -72px;
	width: 144px;
	height: 144px;

}

.rotation {
	background: #ff0;

		//-webkit-animation-name: spin;
		//-webkit-animation-duration: 1000ms;
		//-webkit-animation-iteration-count: infinite;
		//-webkit-animation-timing-function: linear;
		//-moz-animation-name: spin;
		//-moz-animation-duration: 1000ms;
		//-moz-animation-iteration-count: infinite;
		//-moz-animation-timing-function: linear;
		//-ms-animation-name: spin;
		//-ms-animation-duration: 1000ms;
		//-ms-animation-iteration-count: infinite;
		//-ms-animation-timing-function: linear;
}


section.page {
	position: relative;
}
.page {

	position: relative;
	height:100%;
	overflow: hidden;

	background-position: 50% 50%;

	.wrapper {

		// TODO: 1 ex
		position: absolute;
		top: 0;
		bottom:0;
		overflow: hidden;


		// TODO: 2 ex
		height: 100%;
	}




}




@import "pages/page1";
@import "pages/page2";
@import "pages/page3";
@import "pages/page4";
@import "pages/page5";
@import "pages/page6";


.fixed {
	position: fixed;
	z-index: 12;
	//display: none;
}

.cup-spinner {


	position: fixed;
	bottom: 304px;
	left: 50%;
	margin-top: -72px;
	margin-left: -62px;
	width: 144px;
	height: 144px;

}

//.page1,
.page2,
.page3,
.page4,
.page5
{
	display: none;
}

