/*
	Containers
*/
#content-wrapper, #wrapper {
	height:100%;
	//min-height: 400px;
	@include transition( all 1s ease-out);

}

.scrollContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%
}
.scrollContainer {
	height:100%;
	margin: auto;
}
#wrapper .scrollContent {
	height:100%;
}
#wrapper.scrollContainer .scrollContent {
	width: 100%;
	height: auto;
}

//misc
#preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -72px;
	margin-top: -72px;
	width: 144px;
	height: 144px;

}


section.page {
	position: relative;
}
.page {

	position: relative;
	height:100%;
	overflow: hidden;
	background-position: 50% 50%;

	.wrapper {

		// TODO: 1 ex
		position: absolute;
		top: 0;
		bottom:0;
		overflow: hidden;


		// TODO: 2 ex
		height: 100%;
	}




}


section.catalog {
	position: relative;
}
.catalog {

	.wrapper {

		@if $dev_mode {
			border: 2px dotted purple;
		}

	}




}



.fixed {
	position: fixed;
	z-index: 12;
	//display: none;
}



.catalog_flag {

	padding: 6px 7px 8px;
	color: #fff;
	text-decoration: none;
	position: relative;
	background: $cherry;
	display: block;
	margin: 0 auto;
	width: 145px;
	line-height: 1;



	span {
		position: relative;
		//line-height: 0;
		height: 16px;
		display: block;

	}
	&:before {
		content: " ";
		padding: 0 12px;
		position: absolute;
		left: -23px;
		bottom: 0;
		top: 0;
		width: 89px;
		@include icon(catalog-flag-l, 0,-26, true);
		@include transition( all .2s ease-out);


	}
	&:after {
		content: " ";
		padding: 0 12px;
		position: absolute;
		right: -23px;
		top: 0;
		width: 13px;
		bottom: 0;
		@include icon(catalog-flag-r, 100%,-26, true);
		@include transition( all .2s ease-out);


	}

	&:hover {


		&:before {
			left: -32px;


		}
		&:after {
			right: -32px;

		}

	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.catalog_flag {
		padding: 7px 7px;
	}
}




//.page1,
//.page2,
//.page3,
//.page4,
//.page5,
.etc
{
	display: none !important;
}


@import "fonts";
