.header {
	//background: url("../img/main-menu-bg.png") repeat-x bottom center;
	background: $carmine;
	//height: 62px;


	&:before {
		content: " ";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -15px;
		height: 15px;
		background: url("../img/main-menu-bg.png") repeat-x bottom center;

	}
}
#header {
}
#mobilemenu {
	display: none;
	top: $mobilemenu_h + px;
	position: fixed;
	right: -100%;
	bottom: 0;
	background: $cherry;
	padding: 0;

}
.header_nav {
	font-family: oksana_text_narrowdemibold;
	font-style: normal;
	//height: 60px;
	width: $menu_max_w + px;
	margin: 0 auto;
	top: 0;
	list-style: none;

	li.header_nav_item {
//		@include transition( all .5s ease-out);
 		text-decoration: none;
		display: block;
		float: left;
		z-index: 13;
		text-align: center;

		a.header_nav_item_link {
			padding: $menu_item_p_t + px 34px $menu_item_p_b + px;
			color: $white;
			display: block;
			text-decoration: none;
			font: 16px/1em oksana_text_narrowdemibold, sans-serif;
			position: relative;
			@include transition( color .2s ease-out);


			&.logo {
				padding: 8px 38px 2px 38px;
				font-size: 38px;
				color: $cherry;

				&:before {
					content: "\e50d";
				}
			}
			&.item_menu {
				font-size: 24px;
				color: #fff;

				&:before {
					content: "\e501";
				}
			}

			&.close_menu {
				font-size: 24px;
				color: #fff;

				&:before {
					content: "\e500";
				}
			}

			&:after {
				content: " ";
				display: block;
				position: absolute;
				right: 0;
				top: 26px;
				height: 22%;
				border-right: 1px solid $cherry;
			}







		}

		div.header_nav_item_link {

			/* facebook */
			a:first-child{
				border: 1px #e60e64 solid;
				border-radius: 16px;
				margin-right: 18px;
				margin-left: 26px;
				width: 32px;
				height: 32px;
				display: inline-block;
				background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpi/P//P8NAACaGAQKjFo9aPGrxgFvMAcQTgPg1EINKoK+kGsBCpsX5UAwCz+jpY00ofQKI5YBYmt5xfBOI/w6pxMVIRu2ETcNDIFagdeK6CI1XQSB+D8SPyEpgIB+TgRf8h4AFZOofLblGLR5c+Xg0qEctHrV41OJRi0ctHrV4tLc42lsc7S2O9hZHe4ujFo/2FkeDetTiUYsHu8UAAQYAySzjF9IWKMAAAAAASUVORK5CYII=) center 0 no-repeat;;
				margin-top: 13px;
				transition: background 0.5s ease;
			}
			a:first-child:hover{
				background: #e60e64 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpi/P//P8NAACaGAQKjFo9aPGrxgFvMAcQTgPg1EINKoK+kGsBCpsX5UAwCz+jpY00ofQKI5YBYmt5xfBOI/w6pxMVIRu2ETcNDIFagdeK6CI1XQSB+D8SPyEpgIB+TgRf8h4AFZOofLblGLR5c+Xg0qEctHrV41OJRi0ctHrV4tLc42lsc7S2O9hZHe4ujFo/2FkeDetTiUYsHu8UAAQYAySzjF9IWKMAAAAAASUVORK5CYII=) center -30px no-repeat;
			}

			/* twitter */
			a:last-child{
				border: 1px #e60e64 solid;
				border-radius: 16px;
				width: 32px;
				height: 32px;
				display: inline-block;
				background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALlJREFUeNrslzEKwkAQRbNiaaldbqClB7C32SNrY53G1guYIpWNyPgDA6aSOBA3xRv4MBPYeUxYdvcnM6tKxKIqFIABAy4OzpK5Mr96TCwDaw7SblD3eef5aWyTFLgkvi1IU058ltbS1uur1P7cpZ84oGyfyJEeHCCzB78G+T7SKwXfXBvpJq28bvxbPfXEd+koXaSnHyKPf0zMrgYMGDBgwIBxi7hF3CJuEbeIW8QtsrkAA54z+C3AADiw7c87mEXvAAAAAElFTkSuQmCC) center 0 no-repeat;;
 				margin-top: 13px;
				transition: background 0.5s ease;
			}
			a:last-child:hover{
				background: #e60e64 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALlJREFUeNrslzEKwkAQRbNiaaldbqClB7C32SNrY53G1guYIpWNyPgDA6aSOBA3xRv4MBPYeUxYdvcnM6tKxKIqFIABAy4OzpK5Mr96TCwDaw7SblD3eef5aWyTFLgkvi1IU058ltbS1uur1P7cpZ84oGyfyJEeHCCzB78G+T7SKwXfXBvpJq28bvxbPfXEd+koXaSnHyKPf0zMrgYMGDBgwIBxi7hF3CJuEbeIW8QtsrkAA54z+C3AADiw7c87mEXvAAAAAElFTkSuQmCC) center -30px no-repeat;
			}
		}

		&.item_link_soc {

			a {
				padding: 0;
			}
		}

		&:nth-child(4), &:last-child, &.item_logo {
			a{
				&:after {
					display: none;
				}
			}
		}


//		&:first-child, &.fb, &.tw {
//			&:before {
//				border-right: none;
//				width: 0;
//			}
//		}
//
//		&.fb, &.tw {
//			margin-right: 0px;
//			margin-left: 30px;
//			em {
//				display: inline-block;
//				width: 32px;
//				height: 32px;
//				margin-top: -8px;
//			}
//		}
//		&.fb {
//			em {
//				@include icon(ico-fb, 0, 0, true)
//			}
//		}
//		&.tw {
//
//			em {
//				@include icon(ico-tw, 0, 0, true)
//			}
//		}

		&.item_menu {
			display: none;
		}
		&.close_menu {
			display: none;
		}
		&.item_soc {
			margin-top: -2px;
		}


		.header_nav-subnav {
			@include transition( all .3s ease-out);

			&:before {
				content: " ";
				position: absolute;
				right: 0;
				left: 0;
				top: 0px;
				height: 15px;
				background: url("../img/main-menu-bg.png") repeat-x bottom center;

			}
			text-align: left;
 			position: absolute;
			top: 46px;
			left: 0;
			right:0;
			max-height:0;
			background: #7c0034;
			color: #fff;
			z-index: 12;
			overflow: hidden;



			ul.header_nav-subnav_blocks  {
				width: 100%;
				max-width: 1900px;
				margin: 0 auto;
				display: table;
			}
			li.header_nav-subnav_block {

				//float: left;
				width: 25%;

				display: table-cell;
				height: 100%;
				@include transition( all .1s ease-out);


				h1 {

					margin: 45px 0 25px 35px;
					font-family: oksana_text_narrowbold;

					a {
						text-decoration: none;
						color: #fff;
					}
				}



				.subnav_block_list {

					margin-bottom: 40px;
					font: italic 15px/1em  oksana_text_narrowdemibold, sans-serif ;


					li.subnav_block-item {





						a {
							display: block;
							padding: 5px 35px;
							color:#fff;
							text-decoration: none;
							//@include transition( all .2s ease-out);

							&:hover {
								background: #7c0034;
							}
						}

					}

				}






				&:hover {
					background: $cherry;
				}

			}


		}

		&:hover {
			.header_nav-subnav {
				max-height:1300px;

			}

			a {
				color: $cherry
			}

		}



	}

	.svg_logo {
		vertical-align: middle;
	}



	.header_nav_item_m {

		background: $cherry;
		margin: 0;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #f387b2;

		//&:hover {
		//	background: $carmine;
		//
		//}

		&.menu_visible {
			display: block;
		}


		&.item_menu {
			right: auto;
			left: 0;
			padding: 0 6px;
			background: $cherry;
			a {
				line-height: 60px;
			}
		}

		&.close_menu {
			left: auto;
			right: -70px;
			padding: 0 6px;
			background: $cherry;
			a {
				line-height: 60px;
			}
		}

		&.item_link {
			a {
				padding: 30px 0;
				display: block;
				color: #fff;
				text-decoration: none;
			}
		}

		.header_nav-subnav {
			display: none;
			border-bottom: 1px solid #f387b2;
			position: relative;
			top: 0;
			left: none;
			right: none;
			background: $carmine;
			&:before {
				display: none;

			}

		}

		&.subnav_list {

				border: 0;
		}

		&.menu_visible {
			.subnav-catalog {
				border-bottom: 1px solid #f387b2;
			}
		}


	}

	.subnav_list {

		.subnav_item {

			text-align: left;
			background: $carmine;
			border-bottom: 1px solid #610029;


			&:hover {
				//background: $cherry;

			}

			a {

				display: block;
				padding: 30px 40px;
				font: 16px/1em oksana_text_narrowbold, sans-serif;
				text-decoration: none;
				color: #fff;
			}
		}
	}



}







#back_to_top{
	position: fixed;
	right: 0; bottom: -60px;
	width: 53px;
	height: 51px;
	background-color: rgba(0,0,0,0.05);
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAALCAYAAAB/Ca1DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP9JREFUeNqcks0KAVEYhg9jQ0qUha07GKVRIku5Dws34CcWsqEZe3egZGdFWUruxMIdSI736FWfYcbPV09nzjvfeeZ0zkS01krWMdVUvsqCA59L4KRCKqrCKwc2IE82zP4SZsAS2CKzmWV+FcbBCpQ57xLFbMWel4oFfGQHCkLmivcTSk1PEVwDd4gLSWDYC9mIMk1cZoo9pjfxVghZGsMaOIymYEjRozSzKecO16SfhJAlMcxBhbnZSdsnk9K2OIYK1ybvQsgsjAtQZ4PHc9Mhf4Bmj8d5nQ7LXMoW1PhiDPofZFLaARfQAw3jMsIqOIMZGHwpk9IBL6ZlXDcBBgDLsjuQz4X4OQAAAABJRU5ErkJggg==');
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	@include transition( all .4s ease-out);

}


