
@include max-screen(500px) {

	.header {

		&:before {
			display: none;

		}

	}

	.header_nav {
		//font-family: oksana_text_narrowdemibold;
		//font-style: normal;
		////height: 60px;
		//width: 900px;
		//margin: 0 auto;
		//top: 0;
		//list-style: none;


		padding-top: 60px;

		position: relative;
		background: transparent;
		width: 100%;

		li.header_nav_item {
			display: none;
			//text-decoration: none;
			//color: #fff;
			//@include transition(color .5s ease-out);
			//display: block;
			//float: left;
			//margin-top: 21px;
			//margin-left: 30px;
			//margin-bottom: 25px;
			//font-size: 0;
			//line-height: 0;
			//z-index: 13;

			background: $cherry;
			margin: 0;
			width: 100%;
			text-align: center;
			border-bottom: 1px solid #d785a6;

			&:hover {
				background: $carmine;

			}

			&.menu_visible {
				display: block;
			}
			a {
				//color: $white;
				//text-decoration: none;
				//font-size: 15px;
				//line-height: 15px;



				&.logo {
					//position: absolute;
					//top: 0;
					//left: 50%;
					//width: 50px;
					//margin-left: -25px;
					//display: block;
					//line-height: 45px;
					line-height: 60px;

					&:before {
						//content: "\e608";
					}
				}

			}

			&:before {
				//content: " ";
				//width: 37px;
				//border-right: 1px solid $cherry;
				//height: 9px;
				//display: block;
				//float: right;
				//margin-top: 4px;

				display: none;

			}
			&:last-child, &.fb, &.tw {
				&:before {
					//border-right: none;
					//width: 0;
				}
			}

			&.fb, &.tw, &.item_menu, &.item_logo {
				//margin-right: 0px;
				//margin-left: 30px;

				padding: 0;
				position: absolute;
 				top: 0;
				right: 0;
				width: 50px;
				display: block;
				border: 0;
				background: transparent;

				em {
					//display: inline-block;
					//width: 32px;
					//height: 32px;
					margin-top: 12px;
				}
			}

			&.item_logo {
				//position: absolute;
				//top: 0;
				left: 50%;
				width: 50px;
				margin-left: -25px;
			}
			&.fb {
				//margin-left: 0;
				right: 55px;

				em {
					//@include icon(ico-fb, 0, 0, true)

				}
			}
			&.tw {
				//margin-right: 0px;
				//margin-left: 18px;
				em {
					//@include icon(ico-tw, 0, 0, true)
				}
			}

			&.item_menu {
 				right: auto;
				left: 0;
				padding: 0 6px;
				background: $cherry;
				a {
					line-height: 60px;
				}
			}

			&.item_link {
				a {
					padding: 30px 0;
					display: block;
				}
			}

			.header_nav-subnav {
				//display: none;
				position: relative;
				top: 0;
				left: none;
				right: none;
				background: #f00;
				&:before {
					display: none;

				}
			}

		}



		.svg_logo {
			//vertical-align: middle;
		}

	}

}
