//
//@include max-screen(900px) {
//	.header_nav {
//		width: 800px;
//
//
//		li.header_nav_item {
//			//background: #0046D5;
//
//			margin-top: 17px;
//			margin-bottom: 2px;
//
//			&:before {
//
//				width: 20px;
//
//			}
//
//			a {
//				//font: 16px/1em oksana_text_narrowdemibold, sans-serif;
//				&.logo {
//					font-size: 36px;
//				}
//			}
//
//
//
//
//			&:nth-child(3) {
//				margin-left: 20px;
//			}
//
//
//			&:nth-child(4) {
//				margin-left: 20px;
//				margin-right: 20px;
//
//				&:before {
//					display: none;
//				}
//			}
//
//			&:nth-child(5) {
//				padding: 0 25px;
//				margin-top: 5px;
//
//				&:before {
//					display: none;
//				}
//			}
//			&:nth-child(6) {
//				margin-left: 20px;
//				margin-right: 20px;
//			}
//			&:nth-child(7) {
//				//margin-left: 5px;
//				//margin-right: -5px;
//			}
//
//			.header_nav-subnav {
//				top: 40px;
//			}
//		}
//	}
//}

@include max-screen(895px)
{
	.header_nav {
		width: 100%;

		li.header_nav_item {
//			@include transition(all .5s ease-out);


			width: 14.15%;
			a {
//				padding: 16px 34px;
//				color: $white;
				display: block;
				text-align: center;
				padding: 16px 0;
//				text-decoration: none;
//				font: 16px/1em oksana_text_narrowdemibold, sans-serif;
//				@include transition(all .5s ease-out);
//
				&.logo {
					display: block;
					text-align: center;
					padding: 5px 0;
					font-size: 38px;
					color: $cherry;

					&:before {
						content: "\e608";
					}
				}
//				&.item_menu {
//					font-size: 24px;
//					color: #fff;
//
//					&:before {
//						content: "\e60c";
//					}
//				}
//
			}
//			&.item_link_soc {
//
//				a {
//					padding: 0;
//				}
//			}
		}
	}
}
@include max-screen(2px)
{

	.header {

		&:before {
			display: none;

		}

	}
	#mobilemenu {
		display: block;
		@include transition( all .5s ease-out);
		li.header_nav_item {
			display: block;
		}
	}

	.header_nav {

		padding-top: 60px;

		position: relative;
		background: transparent;
		width: 100%;

		li.header_nav_item {
			display: none;

			background: $cherry;
			margin: 0;
			width: 100%;
			text-align: center;
			border-bottom: 1px solid #d785a6;

			&:hover {
				background: $carmine;

			}

			&.menu_visible {
				display: block;
			}
			&:before {

				display: none;

			}

			&.fb, &.tw, &.item_menu, &.item_logo {

				padding: 0;
				position: absolute;
 				top: 0;
				right: 0;
				width: 50px;
				display: block;
				border: 0;
				background: transparent;

				em {

					margin-top: 12px;
				}
			}

			&.item_logo {
				left: 50%;
				width: 50px;
				margin-left: -25px;
			}
			&.fb {
				//margin-left: 0;
				right: 55px;

				em {

				}
			}


			&.item_menu {
 				right: auto;
				left: 0;
				padding: 0 6px;
				background: $cherry;
				a {
					line-height: 60px;
				}
			}

			&.item_link {
				a {
					padding: 30px 0;
					display: block;
				}
			}

			.header_nav-subnav {
				//display: none;
				position: relative;
				top: 0;
				left: none;
				right: none;
				&:before {
					display: none;

				}
			}

		}
	}

}
