@for $i from 0 through 10 {

	$_w: (10 - $i) * 100;
//    .cup_#{$i} {
//		color:#fe4509
//	}
	$_fs: 16 - $i*2;
	$_fs_logo: 36 - $i*2;
	$_scale: 1 - 0.1 * $i*2;


	@include max-screen(#{$_w}px) {


		.header_nav {

			overflow: hidden;
			border-bottom: $i*3 + px solid red;

//			width: $_w - 100 + px;
//			@include transform(scale($_scale));

					li.header_nav_item {

						padding-bottom: 17 - $i*3 + px;
						padding-top: 21 - $i*3 + px;

						&:before {

							width: 20 - $i*2 + px;

						}

						a {

							font-size: $_fs + px;

							&.logo {
								font-size: $_fs_logo + px;
							}
						}

						&:nth-child(3) {
							margin-left: 20 - $i*2 + px;
						}

						&:nth-child(4) {
							margin-left: 20 - $i*2 + px;
							margin-right: 20 - $i*2 + px;

						}

						&:nth-child(5) {
							padding: 0 50 - $i*3 + px;

						}
						&:nth-child(6) {
							margin-left: 20 - $i*2 + px;
							margin-right: 20 - $i*2 + px;
						}
					}
				}




	}
}