@mixin mainmenu-mobile() {


	.header {

		&:before {
			display: none;

		}

	}
	#mobilemenu {
		display: block;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		@include transition( all .4s ease-out);
		li.header_nav_item {
			display: block;
		}
	}

	.header_nav {
		padding-top: $mobilemenu_h + px;

		position: relative;
		background: transparent;
		width: 100%;

		li.header_nav_item {
			display: none;

			background: $cherry;
			margin: 0;
			width: 100%;
			text-align: center;
			border-bottom: 1px solid #d785a6;

			&:hover {
				background: $carmine;

			}

			&:before {

				display: none;

			}
			&.item_menu, &.close_menu, &.item_logo, &.item_soc {

				padding: 0;
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				display: block;
				border: 0;
				background: transparent;


				@include transition( all 0.4s ease-out);

				em {

					margin-top: 12px;
				}
			}

			a.header_nav_item_link {

				&.logo {
					font-size: $mobilemenu_h - 20 + px;
					line-height: $mobilemenu_h - 5 + px;
				}
			}
			&.item_logo {
				left: 50%;
				width: 50px;
				margin-left: -25px;
			}
			&.item_menu {
				right: auto;
				left: 0;
				padding: 0 6px;
				background: $cherry;
				a {
					line-height: $mobilemenu_h + px;
					padding: 0;
				}
			}
			&.close_menu {
				left: auto;
				right: -70px;
				padding: 0 6px;
				background: $cherry;
				a {
					line-height: $mobilemenu_h + px;
					padding: 0;
				}
			}

			&.item_link {
				a {
					padding: 30px 0;
					display: block;


				}
			}

			&.item_soc {
				display: block;
				position: absolute;
				right: 0;
				top: 0;


				width: $mobilemenu_h * 2 + px;
				div.header_nav_item_link {
					a{
						border-radius: 16px;
						margin-right: 10px;
						width: 32px;
						height: 32px;
						margin-top: 13px;

						background-position: center 0;
					}
					a:hover{
						background-position: center -30px;
					}
				}

			}

			.header_nav-subnav {
				position: relative;
				top: 0;
				left: none;
				right: none;
				&:before {
					display: none;

				}
			}

		}


	}

}

