.header {
	//background: url("../img/main-menu-bg.png") repeat-x bottom center;
	background: $carmine;
	//height: 62px;


	&:before {
		content: " ";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -15px;
		height: 15px;
		background: url("../img/main-menu-bg.png") repeat-x bottom center;

	}
}
#header {

}
#mobilemenu {
	display: none;
	top: 60px;
	position: absolute;
	left: -100%;
	padding: 0;

}
.header_nav {
	font-family: oksana_text_narrowdemibold;
	font-style: normal;
	//height: 60px;
	width: 895px;
	margin: 0 auto;
	top: 0;
	list-style: none;
	border-top: 1px solid #f00;

	li.header_nav_item {
//		@include transition( all .5s ease-out);
 		text-decoration: none;
		display: block;
		float: left;
		font-size: 0;
		z-index: 13;
		text-align: center;
		border-right: 1px solid $cherry;

		a {
			padding: 16px 34px;
			color: $white;
			display: block;
			text-decoration: none;
			font: 16px/1em oksana_text_narrowdemibold, sans-serif;
//			@include transition( all .5s ease-out);


			&.logo {
				padding: 5px 38px;
				font-size: 38px;
				color: $cherry;

				&:before {
					content: "\e608";
				}
			}
			&.item_menu {
				font-size: 24px;
				color: #fff;

				&:before {
					content: "\e60c";
				}
			}

		}

		&.item_link_soc {

			a {
				padding: 0;
			}
		}
//		&:first-child, &.fb, &.tw {
//			&:before {
//				border-right: none;
//				width: 0;
//			}
//		}
//
//		&.fb, &.tw {
//			margin-right: 0px;
//			margin-left: 30px;
//			em {
//				display: inline-block;
//				width: 32px;
//				height: 32px;
//				margin-top: -8px;
//			}
//		}
//		&.fb {
//			em {
//				@include icon(ico-fb, 0, 0, true)
//			}
//		}
//		&.tw {
//
//			em {
//				@include icon(ico-tw, 0, 0, true)
//			}
//		}

		&.item_menu {
			display: none;
		}


		.header_nav-subnav {
			&:before {
				content: " ";
				position: absolute;
				right: 0;
				left: 0;
				top: 0px;
				height: 15px;
				background: url("../img/main-menu-bg.png") repeat-x bottom center;

			}

 			position: absolute;
			top: 48px;
			left: 0;
			right:0;
			height:0;
			background: #7c0034;
			z-index: 12;
			overflow: hidden;
			@include transition( all .5s ease-out);

			li {
				margin-top: 30px;
				padding-bottom: 40px;
			}


		}

		&:hover {
			.header_nav-subnav {
				height:300px;
			}

			a {
				color: $cherry
			}

		}



	}

	.svg_logo {
		vertical-align: middle;
	}



	.header_nav_item_m {

		background: $cherry;
		margin: 0;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #d785a6;

		&:hover {
			background: $carmine;

		}

		&.menu_visible {
			display: block;
		}


		&.item_menu {
			right: auto;
			left: 0;
			padding: 0 6px;
			background: $cherry;
			a {
				line-height: 60px;
			}
		}

		&.item_link {
			a {
				padding: 30px 0;
				display: block;
				color: #fff;
				text-decoration: none;
			}
		}

		.header_nav-subnav {
			display: none;
			position: relative;
			top: 0;
			left: none;
			right: none;
			background: $carmine;
			&:before {
				display: none;

			}
		}
	}








}



@include screen(320px, 1000px) {


}
