@import "pages/page5res-mobile";

@mixin pageitems($pageitems) {



	$pageitemsLength: length($pageitems);
	$per_i: (100 / $pageitemsLength);

	@for $i from 1 through length($pageitems) {
		$c: nth($pageitems, $i);

		&.#{$c} {
			left: ($i - 1) * $per_i * 1%;
			width: $per_i * 1%;
		}

	}



}


@mixin layer($section, $layer, $index, $width, $height, $offset-x, $offset-y) {

	$url:"../img/bg/bgl#{$section}#{$layer}#{$index}.png";

	.section-#{$section}-item-#{$layer}-#{$index} {
		position: absolute;
		top: 50%;
		left: 50%;


		width: $width;
		height: $height;
		//background: #f00;
		background-image:url($url);
		background-position: 0 0;
		background-repeat: no-repeat;
		margin: $offset-y 0 0 $offset-x ;
	}

}





@mixin mobilestyle() {







	.section-big-title {
		margin: -200px auto 0 auto;

		h1 {
			font-size:45px;
		}
	}




	.header {

		&:before {
			display: none;

		}

	}
	#mobilemenu {
		display: block;
		@include transition( all .5s ease-out);
		li.header_nav_item {
			display: block;
		}
	}

	.header_nav {
		padding-top: $mobilemenu_h + px;

		position: relative;
		background: transparent;
		width: 100%;

		li.header_nav_item {
			display: none;

			background: $cherry;
			margin: 0;
			width: 100%;
			text-align: center;
			border-bottom: 1px solid #d785a6;

			&:hover {
				background: $carmine;

			}

			&.menu_visible {
				display: block;
			}
			&:before {

				display: none;

			}
			&.item_menu, &.item_logo, &.item_soc {

				padding: 0;
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				display: block;
				border: 0;
				background: transparent;

				em {

					margin-top: 12px;
				}
			}

			a.header_nav_item_link {

				&.logo {
					font-size: $mobilemenu_h - 20 + px;
					line-height: $mobilemenu_h - 5 + px;
				}
			}
			&.item_logo {
				left: 50%;
				width: 50px;
				margin-left: -25px;
			}
			&.item_menu {
				right: auto;
				left: 0;
				padding: 0 6px;
				background: $cherry;
				a {
					line-height: $mobilemenu_h + px;
					padding: 0;
				}
			}

			&.item_link {
				a {
					padding: 30px 0;
					display: block;
				}
			}

			&.item_soc {
				display: block;
				position: absolute;
				right: 0;
				top: 0;


				width: $mobilemenu_h * 2 + px;
				div.header_nav_item_link {
					a{
						border-radius: 16px;
						margin-right: 10px;
						width: 32px;
						height: 32px;
						margin-top: 13px;

						background-position: center 0;
					}
					a:hover{
						background-position: center -30px;
					}
				}

			}

			.header_nav-subnav {
				position: relative;
				top: 0;
				left: none;
				right: none;
				&:before {
					display: none;

				}
			}

		}


	}





	//slide2



	@include erberbnern;







	//slide 5
	.page5 {
		background: #ff9;
		//position: static !important;
		//height: 100%;
		//overflow: hidden;
		//display: table;
		//width: 100%;

		.wrapper {
			//background:#ffd3ab url(../img/bg/bg5.jpg) repeat 50% 50%;
			//text-align: center;
			//display: table-cell;
			//position: static;
			//vertical-align: middle;

			.section-5-header {
				//text-align: center;
				//color: white;
				font-size: 33px;
				width: 100%;
				//margin: 0 auto 12px auto;
				//letter-spacing: 1px;
				//border: 2px dotted purple;

			}

			.headermark {
				//font-size: 27px;

			}

			$figurewidth: 240px;

			.figure_wrapper {
				//border: 2px dotted purple;
				//position: relative;
				//margin: 0 0 40px 0;

			}

			.page_item {
				display: inline-block;
				width: $figurewidth;
				vertical-align: top;

				@if $dev_mode {
					border: 1px solid red;
				}

				//@include pageitems($list);

				figcaption {
					width: $figurewidth;
					//position: relative;
					//text-align: center;
					line-height: $figurewidth - 40;
					//font-size: 0;
					//cursor: pointer;
					//border: 1px solid yellow;



					em, i {
						//display: block;
						//position: absolute;
						//top:0;
						//left:0;
						//right:0;
						//bottom:0;



					}

					abbr {
						//opacity: 0;
						//top: -46px;
					}

					.icon {
						//@include transition( all .4s ease-out);
						//position: relative;
						//z-index: 3;
						//margin-top: 0;
						//text-align: center;
						//line-height: 0;

						&.icon1 {
							//color: $aircolor;
							font-size: 53px;
							//
							//&:before {
							//	content: "\e603";
							//}

						}

						&.icon2 {
							//color: #85c98b;
							font-size: 50px;
							//
							//&:before {
							//	content: "\e602";
							//}

						}

						&.icon3 {
							//color: #fece7b;
							font-size: 87px;
							//
							//&:before {
							//	content: "\e601";
							//}

						}



					}
					em {
						//opacity: 0;
						//top: -42px;
						//@include transition( top 0.3s ease-out, opacity .2s  cubic-bezier(0.440, 0.250, 0.525, 1));
						//z-index: 3;

					}
					i {
						//@include transition( transform .7s cubic-bezier(0.000, 0.900, 0.375, 1));
						//@include transform(scale(0));

						margin-left: -40px;
						margin-top: -30px;

					}

					.description {
						//opacity: 0;
						//margin-top: -110px;

						h2 {
							//	color: #c7eafc;
							font-size: 35px;
							//	font-family: oksana_text_narrowdemibold;
						}
						h3 {
							//	color: $white;
							display: none;
							font-size: 10px;
							//	font-family: oksana_text_narrowdemibold;
							//	-webkit-font-smoothing: antialiased;
						}
					}



					&:hover {


						abbr {


							@if $dev_mode {
								border: 2px dotted purple;
							}

							.icon {
								font-size: 160px;


								&.icon1 {
									font-size: 53px;
								}

								&.icon2 {
									font-size: 50px;
								}

								&.icon3 {
									font-size: 97px;
								}
							}


							i{

								@include transform(scale(.6));

							}


							em {
								@include transform(scale(.4));

							}




						}




					}




					.description {
						//line-height: 1.4;
						//font-size: 20px;
						//color: #f50;
						//padding: 9px 20px;
					}




				}



				&.first figcaption {

					.description {
						h2 {
							//color: $aircolor;
						}
					}

				}
				&.second figcaption{

					.description {
						h2 {
							//color: $vitacolor;
						}
					}

				}
				&.third figcaption{

					.description {
						h2 {
							//color: $milkcolor;
						}
					}

				}
			}

		}

	}

}


