@import "pages/commonres-mobile";
@import "pages/page2res-mobile";
@import "pages/page5res-mobile";
@import "pages/page6res-mobile";



@import "mainmenu-ipad";
@import "pages/page1ipad";



@mixin pageitems($pageitems) {



	$pageitemsLength: length($pageitems);
	$per_i: (100 / $pageitemsLength);

	@for $i from 1 through length($pageitems) {
		$c: nth($pageitems, $i);

		&.#{$c} {
			left: ($i - 1) * $per_i * 1%;
			width: $per_i * 1%;
		}

	}



}


@mixin layer($section, $layer, $index, $width, $height, $offset-x, $offset-y) {

	$url:"../img/bg/bgl#{$section}#{$layer}#{$index}.png";

	.section-#{$section}-item-#{$layer}-#{$index} {
		position: absolute;
		top: 50%;
		left: 50%;


		width: $width;
		height: $height;
		//background: #f00;
		background-image:url($url);
		background-position: 0 0;
		background-repeat: no-repeat;
		margin: $offset-y 0 0 $offset-x ;
	}

}





@mixin mobilestyle() {








	//slide2

	@include commonres-mobile;






	.section-big-title {
		margin: -170px auto 0 auto;

		h1 {
			font-size:36px;
		}
		h2 {
			padding: 0 50px;
		}
	}




	.header {

		&:before {
			display: none;

		}

	}
	#mobilemenu {
		display: block;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		@include transition( all .4s ease-out);
		li.header_nav_item {
			display: block;
		}
	}

	.header_nav {
		padding-top: $mobilemenu_h + px;

		position: relative;
		background: transparent;
		width: 100%;

		li.header_nav_item {
			display: none;

			background: $cherry;
			margin: 0;
			width: 100%;
			text-align: center;
			border-bottom: 1px solid #d785a6;

			&:hover {
				background: $carmine;

			}

			&:before {

				display: none;

			}
			&.item_menu, &.close_menu, &.item_logo, &.item_soc {

				padding: 0;
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				display: block;
				border: 0;
				background: transparent;


				@include transition( all 0.4s ease-out);

				em {

					margin-top: 12px;
				}
			}

			a.header_nav_item_link {

				&.logo {
					font-size: $mobilemenu_h - 20 + px;
					line-height: $mobilemenu_h - 5 + px;
				}
			}
			&.item_logo {
				left: 50%;
				width: 50px;
				margin-left: -25px;
			}
			&.item_menu {
				right: auto;
				left: 0;
				padding: 0 6px;
				background: $cherry;
				a {
					line-height: $mobilemenu_h + px;
					padding: 0;
				}
			}
			&.close_menu {
				left: auto;
				right: -70px;
				padding: 0 6px;
				background: $cherry;
				a {
					line-height: $mobilemenu_h + px;
					padding: 0;
				}
			}

			&.item_link {
				a {
					padding: 30px 0;
					display: block;


				}
			}

			&.item_soc {
				display: block;
				position: absolute;
				right: 0;
				top: 0;


				width: $mobilemenu_h * 2 + px;
				div.header_nav_item_link {
					a{
						border-radius: 16px;
						margin-right: 10px;
						width: 32px;
						height: 32px;
						margin-top: 13px;

						background-position: center 0;
					}
					a:hover{
						background-position: center -30px;
					}
				}

			}

			.header_nav-subnav {
				position: relative;
				top: 0;
				left: none;
				right: none;
				&:before {
					display: none;

				}
			}

		}


	}

	.header {

		&.menu_visible {


			.header_nav {

				li.header_nav_item {

					&.item_menu {
						left: -70px;
						//display: none;

					}
					&.close_menu {
						right: 0px;
						//display: block;
					}

				}
				li.header_nav_item {
					&.item_soc {
						display: none;

					}
				}
			}
		}

	}


	/* FOOTER PAGE:begin */
	#footer_page{
		//position: relative;
		//background: #f6f6f6;
		height: auto;
		//margin: 0 auto;
		//max-width: 1200px;
		min-width: 0;
		width: auto;


		.columns .col_3{
			//color: #787875;
			font: 9px/49px 'oksana_text_narrowdemibold', sans-serif;
			//margin: 0;
			//padding: 0;
			text-align: center;

			float: none;
			width: auto;


			&:nth-child(1){
				text-align: center;
				width: auto;
			}
			&:nth-child(1) span{
				margin-left: 0;
			}
			&:nth-child(2){
				//color: #787875;
				//font: 13px/69px 'oksana_text_narrowdemibold', sans-serif;
				//text-align: center;
				//height: 69px;
				//overflow: hidden;
				//width: 30%;
				text-align: center;
				width: auto;


				div{
					//padding: 10px 0 0 0;
					//position: relative;
					//overflow: hidden;
				}

				a{
					//border: 1px #a29e9e solid;
					//border-radius: 12px;
					//margin: 0 18px 0 0;
					//width: 24px; height: 24px;
					//display: inline-block;

					&:nth-child(1){
						//background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpi/P//P8NAACaGAQKjFo9aPGrxgFvMAcQTgPg1EINKoK+kGsBCpsX5UAwCz+jpY00ofQKI5YBYmt5xfBOI/w6pxMVIRu2ETcNDIFagdeK6CI1XQSB+D8SPyEpgIB+TgRf8h4AFZOofLblGLR5c+Xg0qEctHrV41OJRi0ctHrV4tLc42lsc7S2O9hZHe4ujFo/2FkeDetTiUYsHu8UAAQYAySzjF9IWKMAAAAAASUVORK5CYII=) center 0 no-repeat;
						//transition: background 0.5s ease;
					}

					&:nth-child(1):hover{
						//background: #a8a5a5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpi/P//P8NAACaGAQKjFo9aPGrxgFvMAcQTgPg1EINKoK+kGsBCpsX5UAwCz+jpY00ofQKI5YBYmt5xfBOI/w6pxMVIRu2ETcNDIFagdeK6CI1XQSB+D8SPyEpgIB+TgRf8h4AFZOofLblGLR5c+Xg0qEctHrV41OJRi0ctHrV4tLc42lsc7S2O9hZHe4ujFo/2FkeDetTiUYsHu8UAAQYAySzjF9IWKMAAAAAASUVORK5CYII=) center -24px no-repeat;
					}

					&:nth-child(2){
						//background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpi/P//P8NAACaGAQKjFo9aPGrxgFvMAcQTgPg1EINKoK+kGsBCpsX5UAwCz+jpY00ofQKI5YBYmt5xfBOI/w6pxMVIRu2ETcNDIFagdeK6CI1XQSB+D8SPyEpgIB+TgRf8h4AFZOofLblGLR5c+Xg0qEctHrV41OJRi0ctHrV4tLc42lsc7S2O9hZHe4ujFo/2FkeDetTiUYsHu8UAAQYAySzjF9IWKMAAAAAASUVORK5CYII=) center 0 no-repeat;
						//transition: background 0.5s ease;
					}

					&:nth-child(2):hover{
						//background: #a8a5a5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpi/P//P8NAACaGAQKjFo9aPGrxgFvMAcQTgPg1EINKoK+kGsBCpsX5UAwCz+jpY00ofQKI5YBYmt5xfBOI/w6pxMVIRu2ETcNDIFagdeK6CI1XQSB+D8SPyEpgIB+TgRf8h4AFZOofLblGLR5c+Xg0qEctHrV41OJRi0ctHrV4tLc42lsc7S2O9hZHe4ujFo/2FkeDetTiUYsHu8UAAQYAySzjF9IWKMAAAAAASUVORK5CYII=) center -24px no-repeat;
					}

					&:nth-child(3){
						//background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpi/P//P8NAACaGAQKjFo9aPGrxgFvMAcQTgPg1EINKoK+kGsBCpsX5UAwCz+jpY00ofQKI5YBYmt5xfBOI/w6pxMVIRu2ETcNDIFagdeK6CI1XQSB+D8SPyEpgIB+TgRf8h4AFZOofLblGLR5c+Xg0qEctHrV41OJRi0ctHrV4tLc42lsc7S2O9hZHe4ujFo/2FkeDetTiUYsHu8UAAQYAySzjF9IWKMAAAAAASUVORK5CYII=) center 0 no-repeat;
						//transition: background 0.5s ease;
					}

					&:nth-child(3):hover{
						//background: #a8a5a5  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpi/P//P8NAACaGAQKjFo9aPGrxgFvMAcQTgPg1EINKoK+kGsBCpsX5UAwCz+jpY00ofQKI5YBYmt5xfBOI/w6pxMVIRu2ETcNDIFagdeK6CI1XQSB+D8SPyEpgIB+TgRf8h4AFZOofLblGLR5c+Xg0qEctHrV41OJRi0ctHrV4tLc42lsc7S2O9hZHe4ujFo/2FkeDetTiUYsHu8UAAQYAySzjF9IWKMAAAAAASUVORK5CYII=) center -24px no-repeat;
					}

					&:nth-child(3):last-child{
						//margin-right: 0;
					}
				}
			}

			&:nth-child(3){
				//text-align: right;
				//width: 25%;

				text-align: center;
				width: auto;
			}

			&:nth-child(3) a{
				//color: #787875;
				margin-right: 0;
				//text-decoration: none;
			}

			&:nth-child(3) a b{
				//font: 14px/69px 'pf_agora_sans_probold', sans-serif;
				//text-decoration: none;
				//color: #787875;
			}
		}

	}





	//slide2

	@include page2res-mobile;

	//slide 5

	@include page5res-mobile;

}



@mixin ipadstyle() {

	@include page1res-ipad;
	@include mainmenu-ipad;

 	#pager_nav {
		.inner_wrapper {
			div {
				display: none;
			}
		}
	}

}


