@mixin pageitems($pageitems) {



	$pageitemsLength: length($pageitems);
	$per_i: (100 / $pageitemsLength);

	@for $i from 1 through length($pageitems) {
		$c: nth($pageitems, $i);

		&.#{$c} {
			left: ($i - 1) * $per_i * 1%;
			width: $per_i * 1%;
		}

	}



}


@mixin layer($section, $layer, $index, $width, $height, $offset-x, $offset-y) {

	$url:"../img/bg/bgl#{$section}#{$layer}#{$index}.png";

	.section-#{$section}-item-#{$layer}-#{$index} {
		position: absolute;
		top: 50%;
		left: 50%;


		width: $width;
		height: $height;
		//background: #f00;
		background-image:url($url);
		background-position: 0 0;
		background-repeat: no-repeat;
		margin: $offset-y 0 0 $offset-x ;
	}

}





