@include max-screen(1200px) {
	/* columns:begin */


	#content-wrapper {
		height: 100%;
	}

	#wrapper {
		height: 100%;
	}


	.columns {
		width: 600px;
		position: relative;
		margin: 0 auto;
		padding: 0 !important;
	}
	.company_page {
		min-width: 600px;
	}



	.news_item {




		&:nth-child(2n){

			a {
				background-position: top left;
			}

			div {



				&:nth-child(2) {
					float: right;


					div {

						width: 0;
						height: 0;
						border-top: 14px solid transparent;
						border-right: 14px solid white;
						border-bottom: 14px solid transparent;
						position: absolute;
						left: -14px;
						top: 50%;
						margin-top: -7px;
						transition: border 0.3s ease-out;
						border-left: 0;
						right:auto;


					}
				}
			}


		}

		&:nth-child(2n+1) {

			a {
				background-position: top right;
			}
			div {
				&:nth-child(2) {
					float: left;



					div {

						width: 0;
						height: 0;
						border-top: 14px solid transparent;
						border-left: 14px solid white;
						border-bottom: 14px solid transparent;
						position: absolute;
						right: -14px;
						top: 50%;
						margin-top: -7px;
						transition: border 0.3s ease-out;
						border-right: 0;
						left: auto;
					}
				}
			}

		}
	}


}

