/* sixth slide:begin */
#section-6 {
	height: auto;
}
#section-6 .sixth_slide {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	background: #fff4d5;

	.headermark {
		&:before {
			content: "\e602";
			color: $cherry;
		}
	}
}




/* columns:begin */
.columns {
	width: 100%;
	max-width: 1200px;
	min-width: 600px;
	position: relative;
	margin: 0 auto;
	padding: 0 !important;
}

.columns:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* column:begin */
.columns .col {
	margin: 0;
	padding: 0;
}

.columns .col_2 {
	margin: 0;
	padding: 0;
	float: left;
	width: 598px;
}

.columns .col_3 {
	margin: 0;
	padding: 0;
	float: left;
	width: 400px;
}

.columns .col.border_none {
	border: 0;
}




/* all news button:end */

/* news:begin */


.news_item {

	width: 600px;
	float: left;





	&:nth-child(4n), &:nth-child(4n+1) {


		a {
			background-position: top left;
		}
		div {
			&:nth-child(2) {
				float: right;
			}
		}


	}

	&:nth-child(4n+2), &:nth-child(4n+3) {
		a {
			background-position: top right;
		}
		div {
			&:nth-child(2) {
				float: left;
			}
		}

	}
	&:nth-child(1) {

		div {
			&:nth-child(2) {
				position: absolute;
				bottom: 0;
			}
		}

	}

	&:nth-child(2) {
		a {
			background-position: top left;
		}
		div {
			&:nth-child(2) {
				float: right;
			}
		}

	}

	&:nth-child(3) {
		a {
			background-position: top right;
		}
		div {
			&:nth-child(2) {
				float: left;
			}
		}

	}


	&.double {
		width: 600px;
		a {

			height: 426px;

		}
	}


	a {
		display: block;
		position: relative;
		text-decoration: none;
		width: 100%;
		height: 213px;
		background-repeat: no-repeat;
		overflow: hidden;
		text-overflow: ellipsis;
		@include pie-clearfix;





		&.first {
			background-image: url(../img/news/1.jpg);
			//height: 426px;

			//div {
			//	&:nth-child(2) {
			//		left: 0;
			//		bottom: 0;
			//
			//		div {
			//			width: 0;
			//			height: 0;
			//			border-top: 14px solid transparent;
			//			border-left: 14px solid white;
			//			border-bottom: 14px solid transparent;
			//			position: absolute;
			//			right: -14px;
			//			top: 50%;
			//			margin-top: -7px;
			//			transition: border 0.3s ease-out;
			//		}
			//	}
			//}
		}

		&.second {
			background-image: url(../img/news/2.jpg);
			//height: 213px;
			//div {
			//	&:nth-child(2) {
			//		right: 0;
			//		top: 0;
			//
			//		div {
			//			width: 0;
			//			height: 0;
			//			border-top: 14px solid transparent;
			//			border-right: 14px solid white;
			//			border-bottom: 14px solid transparent;
			//			position: absolute;
			//			left: -14px;
			//			top: 50%;
			//			margin-top: -7px;
			//			transition: border 0.3s ease-out;
			//		}
			//	}
			//}
		}

		&.third {
			background-image: url(../img/news/3.jpg);
			//height: 213px;
			//div {
			//	&:nth-child(2) {
			//		left: 0;
			//		top: 0;
			//
			//		div {
			//			width: 0;
			//			height: 0;
			//			border-top: 14px solid transparent;
			//			border-left: 14px solid white;
			//			border-bottom: 14px solid transparent;
			//			position: absolute;
			//			right: -14px;
			//			top: 50%;
			//			margin-top: -7px;
			//			transition: border 0.3s ease-out;
			//
			//		}
			//	}
			//}
		}

		div {


			&:nth-child(1) {
				width: 100%;
				background: rgba(255, 244, 213, 0.5);
				z-index: 1;
				//position: absolute;
				//left: 0;
				//top: 0;
				display: block;
				transition: opacity 0.3s ease-out;
				opacity: 0;
				height: 0;
				overflow: hidden;
			}
			&:nth-child(2) {

				width: 300px;
				min-height: 173px;
				background: #fff;
				//position: absolute;
				z-index: 2;
				transition: background 0.3s ease-out;
				padding: 20px 0;


				span {

					display: block;
					text-align: left;
					margin-bottom: 10px;
					padding: 0 36px;

					&:nth-child(1) {
						font: 15px/26px 'oksana_text_narrowbold_italic', sans-serif;
						color: #e60e64;
						margin: 0 0 14px;
						padding: 0 36px 16px 36px;
						background-color: transparent;
						background-position: 36px bottom;
						background-repeat: no-repeat;
						background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAABCAIAAACt5TK4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpifC6d9f/zLwZqA4AAAwBuDQRasMa/2gAAAABJRU5ErkJggg==);
					}
					&:nth-child(2) {
						font: 22px/26px 'oksana_text_narrowdemibold', sans-serif;
						color: #442111;

					}
					&:nth-child(3) {
						font: 15px/26px 'oksana_text_narrowbold_italic', sans-serif;
						color: #442111;
					}
					&:nth-child(4) {
						font: 15px/26px 'oksana_text_narrowbold_italic', sans-serif;
						color: #442111;
					}

				}

			}
		}


		&:hover {


			div {


				&:nth-child(2) {

					background: #e60e64;

					div {
						border-left-color: #e60e64;
					}


					span {

						color: #fff;

						&:nth-child(1) {
							background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAABCAIAAACt5TK4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJJREFUeNpi/P//PwMNAECAAQABvQL/avZ99gAAAABJRU5ErkJggg==');
							background-color: transparent;

						}

					}

				}
			}


			&.second {
				div {


					&:nth-child(2) {
							div {
								border-right-color: #e60e64;
							}
					}
				}
			}
		}
	}


}



/* news:end */

/* sixth slide:end */


.news_block {

	.t_date {
		font-size: 15px;
		color: $cherry;
		margin: 40px 0px 0px 0px;
		font-family: 'oksana_text_narrowdemibold', san-serif;
		font-style: italic;

		&:after {
			content: "";
			display: block;
			width: 35px;
			height: 1px;
			background: $cherry;
			margin-top: 20px;
		}
	}


	.t_title {
		font-size: 30px;
		color: #e60e64;
		margin: 20px 0px 0px 0px;

	}



	.t_text {
		font-family: 'oksana_text_narrowdemibold', san-serif;
		font-size: 16px;
		color: #442111;
		margin: 16px 0px 0px 0px;
		font-style: italic;

	}



	.soc_buttons  {
		color: #787875;
		text-align: center;
		height: 49px;
		overflow: hidden;
		margin: 30px 0 0 0;

		div{
			padding: 10px 0 0 0;
			position: relative;
			overflow: hidden;
		}

		a{
			border: 1px transparent solid;
			border-radius: 18px;
			margin: 0 18px 0 0;
			width: 36px; height: 36px;
			display: inline-block;

			&:nth-child(1) {

				background: $cherry url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAABMCAYAAAABUsWSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARxJREFUeNrs2MENgjAUxvFCuHrw5tkVdAQZwRVwFR2BWcoKjqBnT3JwgPqaFMEYLvQlRf03eYFeml9eS0O+zDln5jgyYMCAAQP2PbBdeJ6l2smreJhSVVJ31w8bs55Wx9ZSl/Dehm41UqepCxZK27cfvG+lrrEL5srnqtFAaXRsKbUJz24+RCb7Kj3Cjq2dsmNt6EzXte7gxw+lq8JqXBHDys1MBzBgwPhRBAYMGDBgwIABAwYMGLC/gt0Wh1dqvXrUk1PrQhFUyeNo+nTR52ZlUpigfGpdh+kwtTapO/aWWssWzi+11kBFd0y28CO17g6/AJNupUfZkflvptYq95hsnw3nzJ+xUgNGcAcMGDB+FIEBAwYMGDCV8RRgAP1Tr6gH4m1LAAAAAElFTkSuQmCC') center 0 no-repeat;
				transition: background 0.5s ease;
			}

			&:nth-child(1):hover {
				border: 1px $cherry solid;
				background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAABMCAYAAAABUsWSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARxJREFUeNrs2MENgjAUxvFCuHrw5tkVdAQZwRVwFR2BWcoKjqBnT3JwgPqaFMEYLvQlRf03eYFeml9eS0O+zDln5jgyYMCAAQP2PbBdeJ6l2smreJhSVVJ31w8bs55Wx9ZSl/Dehm41UqepCxZK27cfvG+lrrEL5srnqtFAaXRsKbUJz24+RCb7Kj3Cjq2dsmNt6EzXte7gxw+lq8JqXBHDys1MBzBgwPhRBAYMGDBgwIABAwYMGLC/gt0Wh1dqvXrUk1PrQhFUyeNo+nTR52ZlUpigfGpdh+kwtTapO/aWWssWzi+11kBFd0y28CO17g6/AJNupUfZkflvptYq95hsnw3nzJ+xUgNGcAcMGDB+FIEBAwYMGDCV8RRgAP1Tr6gH4m1LAAAAAElFTkSuQmCC') center -38px no-repeat;
			}

			&:nth-child(2) {
				background: $cherry url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAABMCAYAAAABUsWSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAR9JREFUeNrsmM0NgkAQRsF49eDNsy3Qgi1YgyVACVACtgIt0IJnbx4sYJ01u4QQTUx2CbPmTTLh5zB57Gy+Yb/cGJNpjE2mNAADDDDAAFsotpHqnCQLyYfkVRNY564VrfyxhdNnH01QZfvbE5Cl+R5BtUNXzG72frJSN5fhEfplLn2UkeohsIAlB7bXBuYl4vxBdFeVi3Ymrp0WubDDe4i5J/LIJ3E/AQY3FdSAIReAAQYYYIABBhhggAEGWNpgUczh++4yutaHZ4trnV4rJy0cT+Ly7n0jLW3WbKWFqmcWgbcJVgVbzLWO4l1I+3yRKrSFCCxgqYLpda2t6EoWWsB6dz26uVlrAdPtWrvZaWMQocW1BgwwwAAD7B/AXgIMAGuapMIajLx1AAAAAElFTkSuQmCC") center 0 no-repeat;
				transition: background 0.5s ease;
			}

			&:nth-child(2):hover {
				border: 1px $cherry solid;
				background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAABMCAYAAAABUsWSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAR9JREFUeNrsmM0NgkAQRsF49eDNsy3Qgi1YgyVACVACtgIt0IJnbx4sYJ01u4QQTUx2CbPmTTLh5zB57Gy+Yb/cGJNpjE2mNAADDDDAAFsotpHqnCQLyYfkVRNY564VrfyxhdNnH01QZfvbE5Cl+R5BtUNXzG72frJSN5fhEfplLn2UkeohsIAlB7bXBuYl4vxBdFeVi3Ymrp0WubDDe4i5J/LIJ3E/AQY3FdSAIReAAQYYYIABBhhggAEGWNpgUczh++4yutaHZ4trnV4rJy0cT+Ly7n0jLW3WbKWFqmcWgbcJVgVbzLWO4l1I+3yRKrSFCCxgqYLpda2t6EoWWsB6dz26uVlrAdPtWrvZaWMQocW1BgwwwAAD7B/AXgIMAGuapMIajLx1AAAAAElFTkSuQmCC") center -38px no-repeat;
			}

			&:nth-child(3) {
				background: $cherry url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAABMCAYAAAABUsWSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmxJREFUeNrsmb1KXEEYhmdFViTEDURRkyibwhBRMVhYpTOb5A6iuxq0srGwiqXaKiGNjRdg4RXExGTThHSBxVXQSgiuCm4hihFFPb6D7+J4UJQz7pyF/QYe5u8w+zg/Zw6fEc/zVCmmClWiScRETMRETMSUqgGfwSbwmH9he/CkryQLYiDrXZ+WwaOgY9vO2CRoL/yNxqzp1AYmwpqxHc7OGehhWw/rOuWDjh2x+LqIgiOWN0CT0ffPqFeBY5ebX//YDstPwTuW34JnLOeDSN3HqZxjHgFfuccWWDf7ne+xGrB0w6lc4ql1fipfgiGQ5Hssx/Yc6/1gELQGGdxm86+DODgAM1zKLfAEvAcj4ME1B6PoYtug/g7PbfJwONv8b8DaLc+s8pQ63/yVoBcs+jb+N/CB/aFcSSfgJ2j2tT8HafaH8nVRR4EXvvYWtteF8R6Lgr/G8p2CKeaFlAFVQca3Eev2SaXYnvLJdbsW0zOWBv9B0teXZHuazzn9upBvfhETMRETMRETMRETMRETsdIXqwwcuHg4XCjq6PQ46AONDKzMs21PP9CwP+tOjCkGfqvLALGi3ChIgNdgN4ylLFrU2lYsZUglGG5KGHL9YYjpqHUtyzkGVxTzDZYf8zmnYuUZtbYV06+ErCHXaEhl2e9crKhRa5v3mF66uLqMWqfU1aj1H2URtbYRq2auf3yM3NuqlGzU2kZsmW99fUf+8PV9B72gA6yEcSrLL2pteyUtGJf4GZhmrti+qC7+kepU7BXoMqQ+gk/MC3KdxKlYBvwCh2DAuH7mWD9kfybI4BK1FjEREzERKzexcwEGAHs5ycfLfnWCAAAAAElFTkSuQmCC") center 0 no-repeat;
				transition: background 0.5s ease;
			}

			&:nth-child(3):hover {
				border: 1px $cherry solid;
				background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAABMCAYAAAABUsWSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmxJREFUeNrsmb1KXEEYhmdFViTEDURRkyibwhBRMVhYpTOb5A6iuxq0srGwiqXaKiGNjRdg4RXExGTThHSBxVXQSgiuCm4hihFFPb6D7+J4UJQz7pyF/QYe5u8w+zg/Zw6fEc/zVCmmClWiScRETMRETMSUqgGfwSbwmH9he/CkryQLYiDrXZ+WwaOgY9vO2CRoL/yNxqzp1AYmwpqxHc7OGehhWw/rOuWDjh2x+LqIgiOWN0CT0ffPqFeBY5ebX//YDstPwTuW34JnLOeDSN3HqZxjHgFfuccWWDf7ne+xGrB0w6lc4ql1fipfgiGQ5Hssx/Yc6/1gELQGGdxm86+DODgAM1zKLfAEvAcj4ME1B6PoYtug/g7PbfJwONv8b8DaLc+s8pQ63/yVoBcs+jb+N/CB/aFcSSfgJ2j2tT8HafaH8nVRR4EXvvYWtteF8R6Lgr/G8p2CKeaFlAFVQca3Eev2SaXYnvLJdbsW0zOWBv9B0teXZHuazzn9upBvfhETMRETMRETMRETMRETsdIXqwwcuHg4XCjq6PQ46AONDKzMs21PP9CwP+tOjCkGfqvLALGi3ChIgNdgN4ylLFrU2lYsZUglGG5KGHL9YYjpqHUtyzkGVxTzDZYf8zmnYuUZtbYV06+ErCHXaEhl2e9crKhRa5v3mF66uLqMWqfU1aj1H2URtbYRq2auf3yM3NuqlGzU2kZsmW99fUf+8PV9B72gA6yEcSrLL2pteyUtGJf4GZhmrti+qC7+kepU7BXoMqQ+gk/MC3KdxKlYBvwCh2DAuH7mWD9kfybI4BK1FjEREzERKzexcwEGAHs5ycfLfnWCAAAAAElFTkSuQmCC") center -38px no-repeat;
			}

			&:nth-child(3):last-child {
				margin-right: 0;
			}
		}

	}

}