.pager {

	right: 0;
	top: 50%;
	margin-top: -125px;
	width: 40px;
	height: 250px;

	.inner_wrapper {

		position: relative;
		width: 51px;
		height: 306px;


		li {

			height: 50px;
			color: $white;
			width: 51px;
			font: 16px/50px 'oksana_text_narrowdemibold', sans-serif;
			text-align: center;
			cursor: pointer;
			position: relative;
			right: 12px;
			margin-bottom: 1px;

			span {
				display: block;
				width: 51px;
				height: 50px;
				background: rgba(0,0,0,0.05);
				transition: background 0.1s ease;
			}
			>div {
				position: absolute;
				right: -300px;
				top: 0;
				bottom: 0;
				padding: 0 12px;
				white-space: nowrap;
				background: rgba(0,0,0,0.05);
				color: $white;
				transition: all 0.1s ease;


			}
			&:hover, &.active {
				span {
					display: block;
					width: 51px;
					height: 50px;
					background: $cherry;
					transition: background 0.1s ease;
				}
			}
			&:hover {
				>div {
					background: $cherry;
					right: 51px;
				}
			}

		}
	}

}


