.page {
	//@include transition( all .5s ease-out);
	position: relative;

}

.page3 {
	.page_item {
		position: absolute;
		top: 0;
		bottom:0;
		overflow: hidden;

		$list: "first", "second", "third", "fourth";

		@include pageitems($list);


		&.first figcaption {
			background-image:url(../img/bg/section-3-col-1.png);
		}
		&.second figcaption{
			background-image:url(../img/bg/section-3-col-2.png);

		}
		&.third figcaption{
			background-image:url(../img/bg/section-3-col-3.png);

		}
		&.fourth figcaption{
			background-image:url(../img/bg/section-3-col-2.png);


		}
		//&.fivth figcaption{
		//	background-image:url(../img/bg/section-3-col-1.png);
		//
		//}

		figcaption {
			position: absolute;
			width: 100%;
			top:0;
			left:0;
			right: 0;
			bottom: 0;
			@include transition( all 0.5s ease-out);


		}

		&:hover {
			figcaption {
				position: absolute;
			}

		}

		&.totop {
			figcaption {
				top:100%;

			}

			&:hover {
				figcaption {
					top: 0;
				}

			}
		}

		&.toright {
			figcaption {
				left: -100%;
				right: auto;

			}

			&:hover {
				figcaption {
					left: 0;
				}

			}
		}
		&.toleft {
			figcaption {
				left: 100%;
				right: auto;

			}

			&:hover {
				figcaption {
					left: 0;
				}

			}
		}
		&.tobottom {
			figcaption {
				top: -100%;
				bottom: auto;
				height: 100%;

			}

			&:hover {
				figcaption {
					top: 0;
				}

			}
		}


		&.tofront {
			.image {
				position: absolute;
				width: 100%;
				top: 50%;
				left: 0;
				height: 200px;
				margin-top: -100px;

				@include transition( all 0.1s ease-out);

				img {
					width: 100%;
 				}
			}


			&:hover {
				.image {
					left: 50%;
					width: 0;
					height: 0;
					margin-top: 0;
					opacity: 0;
				}
			}

			.image2 {
				position: absolute;
 				top: 50%;

				@include transition( all 0.3s ease-out);
				//@include transition-delay(2s);

				z-index: 12;
				left: 50%;
				width: 0;
				height: 0;
				margin-top: 0;
				opacity: 0;

				img {
					width: 100%;
 				}

			}


			&:hover {
				.image2 {
					width: 100%;
					left: 0;
					height: 200px;
					margin-top: -100px;
					opacity: 1;

				}
			}
		}
	}
}