@mixin partners-mobile() {

	.partners {



		.item_list_wrapper {




			.item_list {

				width: 100%;
				min-width: 100%;

				.item_list_item {


					width: 100%;
					height: auto;
					margin-bottom: 30px;



					&:nth-child(2n+1) {
						//margin-right: -1px;
						border-left: 0;
						border-right: 0;
					}
					//&:nth-child(2n+1) {
					//	margin-right: -1px;
					//}


					h5 {
						padding-left: 40px;
						padding-right: 40px;
						font: 17px/1.4 oksana_text_narrowdemibold, sans-serif;
					}

					h6 {
						padding-left: 40px;
						padding-right: 40px;
						font: 13px/1.6 oksana_text_narrowdemibold, sans-serif;
					}


				}

			}
		}


		.feedback_slide_form {
			text-align: left;
			background: #fff;


			form {
				width: auto;
				margin: 0 20px 30px;
			}

		}



		.list_item_needs {

			display: inline-block;

			text-align: center;
			margin-top: 30px;



			.item_list_item {
				width: 100%;
				padding-left: 0;

				&:before {
					font-size: 13px;
					width: 20px;
					height: 20px;
					line-height: 20px;
					left: 32px;
				}

				h5 {
					font-size: 15px;
					padding-right: 30px;
					padding-left: 65px;


				}

				h6 {
					font-size: 13px;
					padding-right: 30px;
					padding-left: 65px;
				}
			}
		}
	}




}


@include iphone3()  {

	@include partners-mobile();

}
@include iphone4()  {

	@include partners-mobile();

}


@include iphone5()  {

	@include partners-mobile();

}


@include  max-screen(750px)  {

	@include partners-mobile();

}


