
#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 99;
}
.cup-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -27px;
	margin-left: -27px;
	width: 54px;
	height: 54px;
	&:before {
		content: "\e502";
		color: $cherry;
		font-size: 54px;
	}
	//background: url(../img/cup.png) no-repeat 0 0;



	&.spining {
		-webkit-animation-name: spin;
		-webkit-animation-duration: 600ms;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-moz-animation-name: spin;
		-moz-animation-duration: 600ms;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-ms-animation-name: spin;
		-ms-animation-duration: 600ms;
		-ms-animation-iteration-count: infinite;
		-ms-animation-timing-function: linear;

		animation-name: spin;
		animation-duration: 600ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}


@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}
