

@include max-screen(1000px) {

	//.header_nav {
	//
	//	position: relative;
	//
	//	li.header_nav_item {
	//
	//
	//	}
	//}

}

@include max-screen(500px) {

	h1 {
		font-size:40px !important;
	}

	//.header_nav {
	//
	//	position: relative;
	//	background: $cherry;
	//	width: 100%;
	//
	//	li.header_nav_item {
			background: $cherry;
			//padding: 12px;
			margin: 0;
			width: 100%;
			text-align: center;
			padding: 40px 0;
			border-bottom: 1px solid #d785a6;

	//
	//
	//
	//		&.item_menu, &.fb, &.tw, &.item_logo  {
	//			display: block;
	//			position: static;
	//		}
	//
	//		&:after {
	//			display: none;
	//
	//		}
	//
	//	}
	//}

}

@include max-screen(500px) {

	h1 {
		font-size:22px !important;
		margin-top: 100px !important;
	}

}


@import "mainmenu-res";
@import "pages/page1res";
@import "pages/page2res";
@import "pages/page5res";