

@include max-screen(1000px) {

	.header_nav {

		position: relative;

		li.header_nav_item {


		}
	}

}

@include max-screen(500px) {

	h1 {
		font-size:40px !important;
	}

	.header_nav {

		position: relative;


		li.header_nav_item {


			display: none;

			&.item_link {
				left:0;
				position: absolute;
				background: #000;
				padding: 12px;
				top:0;
				margin: 0;

				&:nth-child(2) {
					top: 30px;
				}
				&:nth-child(3) {
					top: 60px;
				}
				&:nth-child(4) {
					top: 90px;
				}
				&:nth-child(5) {
					top: 120px;
				}
			}



			&.item_menu, &.fb, &.tw, &.item_logo  {
				display: block;
				position: static;
			}

		}
	}

}

@include max-screen(500px) {

	h1 {
		font-size:22px !important;
		margin-top: 100px !important;
	}

}


@import "pages/page1res";
@import "pages/page2res";
@import "pages/page5res";