$cup: sprite-map("cup2/*.png", $spacing: 0);
$cupurl: sprite-url($cup);
@mixin cup-file{
	background-image: $cupurl;
}

@mixin cup($name:actual, $offsetx:0, $offsety:0, $include_url:true) {
	@if $include_url == true {
		@include cup-file;
	}
	background-position: sprite-position($cup, $name, $offsetx, $offsety);
	background-repeat: no-repeat;

}

#cup {

	position: absolute;
	bottom: 10px;
	left: 50%;
	width: 630px;
	height: 460px;
	display: inline-block;
	vertical-align: middle;
	background-image: url('../img/cup2-s8eacc9951c.png');
	background-position: 0 -11040px;
	background-repeat: no-repeat;
	margin-left: -324px;

	@for $i from 0 through 29 {

		@if $i < 10 {
			$i : "0" + $i
		}
		&.cup_#{$i} {
			@include cup(cup_#{$i}, 0, 0, false)
		}
	}

}


$scroll: sprite-map("scroll/*.png", $spacing: 0);
$scrollurl: sprite-url($scroll);
@mixin scroll-file{
	background-image: $scrollurl;
}

@mixin scroll($name:actual, $offsetx:0, $offsety:0, $include_url:true) {
	@if $include_url == true {
		@include scroll-file;
	}
	background-position: sprite-position($scroll, $name, $offsetx, $offsety);
	background-repeat: no-repeat;

}
//
//#scroll_me {
//	position: absolute;
//	bottom: 20px;
//	left: 50%;
//	height: 60px;
//	width: 26px;
//	vertical-align: middle;
//	display: inline-block;
//
//	@for $i from 0 through 20 {
//
//		@if $i < 10 {
//			$i : "0" + $i
//		}
//		&.scroll_#{$i} {
//			@include scroll(scroll#{$i}, 0, 0, true)
//		}
//	}
//
//}



$icons: sprite-map("ico/*.png", $spacing: 0);
$iconurl: sprite-url($icons);
@mixin icons-file{
	background-image: $iconurl;
}

@mixin icon($name:actual, $offsetx:0, $offsety:0, $include_url:true) {
	@if $include_url == true {
		@include icons-file;
	}
	background-position: sprite-position($icons, $name, $offsetx, $offsety);
	background-repeat: no-repeat;

}

