#wrapper .scrollContent {
}

.item_list_wrapper {

	max-width: 1204px;
	margin: 0 auto;
	text-align: center;

	.item_list {
		display: inline-block;

		text-align: left;

		a {
			color: $cherry;
		}

		.item_list_item {
			position: relative;
			//border-bottom: 1px solid red;
			border-right: 1px solid #f5e0cd;
			//border: 1px solid #e2e2e2;
			text-align: left;

			width: 300px;
			display: inline-block;
			height: 165px;
			margin-bottom: 30px;
			vertical-align: bottom;

			margin-left: -1px;
			margin-top: -1px;

			h5 {
				font: 20px/1.4 oksana_text_narrowdemibold, sans-serif;
				padding-right: 30px;
				padding-left: 54px;
				color: $cherry;

			}

			h6 {
				padding-right: 30px;
				padding-left: 54px;
				font: 14px/1.6 oksana_text_narrowdemibold, sans-serif;
				//font-style: italic;

				&:before {
					content: "";
					display: block;
					width: 35px;
					height: 1px;
					background: $cherry;
					margin-top: 16px;
					margin-bottom: 16px;
				}


				&.no_h {
					font-style: italic;

					&:before {
						display: none;
					}
				}

			}

			&:nth-child(4n) {
				border-right: none;
			}
		}
	}

}


.map_page{
	//height: 100%;
	background: #fff4d5;


	.headermark {
		&:before {
			content: "\e60f";
			font-size: 24px;
		}
	}

}
.map_wrapper {
 	/* height: 100%; */
	position: absolute;
	top: 270px;
	left: 0;
	right: 0;
	bottom: 50px;
	min-height: 440px;

}

#map_canvas {
	border: 1px solid #e0e0e0;
	position: relative;
	width: auto;
	height: 500px;
}
.description {
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 0;
	background: #fff;

	padding: 43px 0 0 55px;

	h2 {
		color: $cherry;
		font: 17px/1.4 'oksana_text_narrowbold', sans-serif;
		text-decoration: none;
 		background-position: 0 4px;
		background-repeat: no-repeat;
		padding-right: 30px;
		margin-bottom: 17px;
	}

	h3 {
		color: #442111;
		font-size: 16px;
		font-family: oksana_text_narrowdemibold;
		font-weight: normal;
		padding-right: 30px;
		margin-bottom: 37px;
	}
	.extra_email {
		&:before {
			content: "";
			display: block;
			width: 35px;
			height: 1px;
			background: $cherry;
			margin-top: -30px;
			position: absolute;
		}
		padding-right: 30px;
		font: 16px/1.6 oksana_text_narrowdemibold, sans-serif;
		font-style: italic;
		position: relative;
		padding-top: 30px;

		a {
			color: $cherry;
		}


	}

}

body.news #formpartners .section-big-title {
	padding: 20px 0 10px 0;
}
body.news #formpartners .section-big-title h1 {
	text-align: left;
	color: #e70c66;
	font-size: 30px;
	padding: 0px 0 12px 0;
}
body.news #formpartners .section-big-title h3 {
	color: #e70c66;
	font-family: oksana_text_narrowbold;
	font-size: 18px;
	padding: 0px 0 33px 0;
	text-align: left;
	position: relative;
}
body.news #form_success {

	min-width: 460px;

}
body.news #form_success .section-big-title {
	padding: 20px 0 10px 0;
}
body.news #form_success .section-big-title h1 {
	text-align: center;
}
body.news #form_success .section-big-title 	.headermark {

	margin: 0 auto 22px auto;
	&:before {
		content: "\e60f";
		font-size: 24px;
	}
}
body.news #form_success .section-big-title h3 {
	color: #e70c66;
	font-family: oksana_text_narrowbold;
	font-size: 18px;
	padding: 0px 0 33px 0;
	text-align: left;
	position: relative;
}