/* Font-face */
/* PF Agora Sans Pro */
@font-face {
	font-family: 'pf_agora_sans_probold';
	src: url('../fonts/pfagorasanspro-bold-webfont.eot');
	src: url('../fonts/pfagorasanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pfagorasanspro-bold-webfont.woff') format('woff'),
	url('../fonts/pfagorasanspro-bold-webfont.ttf') format('truetype'),
	url('../fonts/pfagorasanspro-bold-webfont.svg#pf_agora_sans_probold') format('svg');
	font-weight: normal;
	font-style: normal;

}

/* Oksana Text Narrow */
@font-face {
	font-family: 'oksana_text_narrowbold';
	src: url('../fonts/oksanatextnarrow-bold-webfont.eot');
	src: url('../fonts/oksanatextnarrow-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/oksanatextnarrow-bold-webfont.woff') format('woff'),
	url('../fonts/oksanatextnarrow-bold-webfont.ttf') format('truetype'),
	url('../fonts/oksanatextnarrow-bold-webfont.svg#oksana_text_narrowbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'oksana_text_narrowbold_italic';
	src: url('../fonts/oksanatextnarrow-bolditalic-webfont.eot');
	src: url('../fonts/oksanatextnarrow-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/oksanatextnarrow-bolditalic-webfont.woff') format('woff'),
	url('../fonts/oksanatextnarrow-bolditalic-webfont.ttf') format('truetype'),
	url('../fonts/oksanatextnarrow-bolditalic-webfont.svg#oksana_text_narrowbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'oksana_text_narrowdemibold';
	src: url('../fonts/oksanatextnarrowdemibold-webfont.eot');
	src: url('../fonts/oksanatextnarrowdemibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/oksanatextnarrowdemibold-webfont.woff') format('woff'),
	url('../fonts/oksanatextnarrowdemibold-webfont.ttf') format('truetype'),
	url('../fonts/oksanatextnarrowdemibold-webfont.svg#oksana_text_narrowdemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'oksana_text_narrowthin_italic';
	src: url('../fonts/oksanatextnarrowthin-italic-webfont.eot');
	src: url('../fonts/oksanatextnarrowthin-italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/oksanatextnarrowthin-italic-webfont.woff') format('woff'),
	url('../fonts/oksanatextnarrowthin-italic-webfont.ttf') format('truetype'),
	url('../fonts/oksanatextnarrowthin-italic-webfont.svg#oksana_text_narrowthin_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}