<!DOCTYPE html>
<html class="no-js" lang="ru">


<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=.8,user-scalable=no,maximum-scale=.8,width=device-width"/>

	<title>СЛАДУНИЦА</title>

	<script type="text/javascript" src="js/modernizr.custom.13938-min.js"></script>



	<script type="text/javascript" src="js/_dependent/greensock/TweenMax.min.js"></script>
	<script type="text/javascript" src="js/jquery.2.0.js"></script>
	<script type="text/javascript" src="js/jquery.scrollmagic.js"></script>
	<script type="text/javascript" src="js/jquery.scrollto.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.js"></script>

	<script type="text/javascript" src="js/common.js"></script>


	<link rel="stylesheet" href="css/fontface.css" type="text/css"/>
	<link rel="stylesheet" href="css/catalog.css" type="text/css"/>


	<!-- Add fancyBox -->
	<link rel="stylesheet" href="img/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
	<script type="text/javascript" src="img/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>


	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="img/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script type="text/javascript" src="img/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script type="text/javascript" src="img/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="img/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script type="text/javascript" src="img/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
</head>
<body>
<div id="content-wrapper">
<div id="wrapper">
	<nav class="header fixed">
		<ul class="header_nav" id="header">

			<li class="header_nav_item item_menu"><a class="header_nav_item_link fonted item_menu" href="#"></a></li>

			<li class="header_nav_item item_link"><a class="header_nav_item_link" href="#1">Компания</a></li>
			<li class="header_nav_item item_link" data-target="catalog"><a class="header_nav_item_link" href="#2">
				Каталог</a>


				<div class="header_nav-subnav subnav-catalog">
					<ul class="header_nav-subnav_blocks">
						<li class="header_nav-subnav_block subnav_block-1">


							<h1><a href="#">Конфеты и шоколад Сладуница™</a></h1>

							<ul class="subnav_block_list">
								<li class="subnav_block-item"><a href="#">Иновационные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Помадные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Желейные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Нуговые конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Конфеты с мягкой карамелью</a></li>
								<li class="subnav_block-item"><a href="#">Сбивные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Иновационные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Помадные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Желейные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Нуговые конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Конфеты с мягкой карамелью</a></li>
								<li class="subnav_block-item"><a href="#">Сбивные конфеты</a></li>
							</ul>

						<li class="header_nav-subnav_block subnav_block-2">

							<h1><a href="#">Сладости Сладуница™</a></h1>

							<ul class="subnav_block_list">
								<li class="subnav_block-item"><a href="#">Иновационные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Помадные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Желейные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Нуговые конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Конфеты с мягкой карамелью</a></li>
								<li class="subnav_block-item"><a href="#">Сбивные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Иновационные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Помадные конфеты</a></li>
							</ul>

						</li>
						<li class="header_nav-subnav_block subnav_block-3">

							<h1><a href="#">NUA™</a></h1>

							<ul class="subnav_block_list">
								<li class="subnav_block-item"><a href="#">Инновационных конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Помадные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Желейные конфеты</a></li>
								<li class="subnav_block-item"><a href="#">Нуговые конфеты</a></li>
							</ul>


						</li>
						<li class="header_nav-subnav_block subnav_block-4">

							<h1><a href="#">Специальные предложения</a></h1>

						</li>
					</ul>
				</div>

			</li>
			<li class="header_nav_item item_link"><a class="header_nav_item_link" href="#3">Партнерам</a></li>
			<li class="header_nav_item item_logo"><a class="header_nav_item_link fonted logo" href="#3"></a>
			</li>
			<li class="header_nav_item item_link"><a class="header_nav_item_link" href="#4">Новости</a></li>
			<li class="header_nav_item item_link"><a class="header_nav_item_link" href="#5">Контакты</a></li>
			<li class="header_nav_item item_soc">
				<div class="header_nav_item_link">
					<a href="#" title="Facebook"></a>
					<a href="#" title="Twitter"></a>
				</div>
			</li>

			<li class="header_nav_item close_menu"><a class="header_nav_item_link fonted close_menu" href="#"></a></li>


		</ul>
		<ul class="header_nav" id="mobilemenu">

			<li class="header_nav_item_m item_link"><a class="header_nav_item_link" href="#1">Компания</a></li>
			<li class="header_nav_item_m item_link" data-target="catalog"><a class="header_nav_item_link" href="#2">Каталог</a>
			</li>
			<li class="header_nav_item_m subnav_list">
				<ul class="header_nav-subnav subnav-catalog">
					<li class="subnav_item"><a href="#">Конфеты и шоколад Сладуница™</a></li>
					<li class="subnav_item"><a href="#">Сладости Сладуница™</a></li>
					<li class="subnav_item"><a href="#">NUA™</a></li>
					<li class="subnav_item"><a href="#">Специальные предложения</a></li>
				</ul>
			</li>
			<li class="header_nav_item_m item_link"><a class="header_nav_item_link" href="#3">Партнеры</a></li>
			<li class="header_nav_item_m item_link"><a class="header_nav_item_link" href="#4">Новости</a></li>
			<li class="header_nav_item_m item_link"><a class="header_nav_item_link" href="#5">Контакты</a></li>

		</ul>


	</nav>
	<nav class="pager fixed">

		<div id="pager_nav" id="nav">
			<ul class="inner_wrapper">
				<li class="active" data-target="1">
					<span>1</span>

					<div>Зефиры</div>
				</li>
				<li data-target="2">
					<span>2</span>

					<div>Мармелады</div>
				</li>
				<li data-target="3">
					<span>3</span>

					<div>Конфеты ассорти</div>
				</li>
				<li data-target="4">
					<span>4</span>

					<div>Конфеты с мягкой карамелью</div>
				</li>
				<!--<li data-target="5">-->
					<!--<span>5</span>-->

					<!--<div>Фабрика новационных конфет</div>-->
				<!--</li>-->

			</ul>

			<div id="back_to_top"></div>

		</div>
	</nav>


	<div class="scrollContent">
		<section id="catalog" class="catalog catalog1">
			<div class="wrapper choko">

				<h2 class="header_title">Конфеты и шоколад Сладуница<span class="tm">™</span></h2>

				<h3 class="header_description">Каталог</h3>





			</div>
			<div class="wrapper sladosti">

				<h2 class="header_title">Сладости Сладуница<span class="tm">™</span></h2>

				<h3 class="header_description">Каталог</h3>





			</div>
			<div class="wrapper nua">

				<h2 class="header_title">NUA<span class="tm">™</span></h2>

				<h3 class="header_description">Каталог</h3>





			</div>


			<div class="item_list_wrapper" id="section-1">

				<h2 class="block_title">Зефиры</h2>

				<div class="fonted icon headermark"></div>

				<h3 class="block_description">Зефир «Сладуница» получил признание во многих регионах России.<br/>
				По мнению дистрибуторов является лучшим выбором для потребителей.</h3>




				<ul class="item_list" id="item_list_konfets">
					<li class="item_list_item  doubled">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Lakti_yogurt-konfetki_klubnica_i_slivki.png"
							  rel="catalog"
							  class="fancybox"
							  data-id="1"
							  data-title="Milk Мама"
							  data-description="Единственные на российском рынке мультимолочные конфеты из детской молочной смеси"
							  data-weight="Вес: 145 г."
							  data-boxing="Количество в коробке: 2352"
							  data-bestbefore = "Срок годности — 256 дней">

							<span class="prod_img">
								<img
									src="/img/catalog/items/small/Lakti_yogurt-konfetki_klubnica_i_slivki.png" alt=""
									class="">
							</span>
							<span rel="catalog" class="item_name"><div class="item_name_wrap">
									<span class="item_class">конфеты</span>
									Milk_Mama
								</div>
								<em class="fonted icon"></em>
							</span>
						</a>
					</li><!--
					--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

								<span class="prod_img">
									<img
											src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
											class="">
								</span>
								<span rel="catalog" class="item_name"><div class="item_name_wrap">
									<span class="item_class">конфеты</span>
									Пралиновый щербет
								</div>
									<em class="fonted icon"></em>
								</span>
						</a>

					</li><!--
					--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

								<span class="prod_img">
									<img
											src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
											class="">
								</span>
								<span rel="catalog" class="item_name"><div class="item_name_wrap">
									<span class="item_class">конфеты</span>
									Пралиновый щербет
								</div>
									<em class="fonted icon"></em>
								</span>
						</a>

					</li><!--
					--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

								<span class="prod_img">
									<img
											src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
											class="">
								</span>
								<span rel="catalog" class="item_name"><div class="item_name_wrap">
									<span class="item_class">конфеты</span>
									Пралиновый щербет
								</div>
									<em class="fonted icon"></em>
								</span>
						</a>

					</li><!--
					--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

								<span class="prod_img">
									<img
											src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
											class="">
								</span>
								<span rel="catalog" class="item_name"><div class="item_name_wrap">
									<span class="item_class">конфеты</span>
									Пралиновый щербет
								</div>
									<em class="fonted icon"></em>
								</span>
						</a>

					</li><!--
					--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

								<span class="prod_img">
									<img
											src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
											class="">
								</span>
								<span rel="catalog" class="item_name"><div class="item_name_wrap">
									<span class="item_class">конфеты</span>
									Пралиновый щербет
								</div>
									<em class="fonted icon"></em>
								</span>
						</a>

					</li><!--
					--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

								<span class="prod_img">
									<img
											src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
											class="">
								</span>
								<span rel="catalog" class="item_name"><div class="item_name_wrap">
									<span class="item_class">конфеты</span>
									Пралиновый щербет
								</div>
									<em class="fonted icon"></em>
								</span>
						</a>

					</li><!--
					--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

								<span class="prod_img">
									<img
											src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
											class="">
								</span>
								<span rel="catalog" class="item_name"><div class="item_name_wrap">
									<span class="item_class">конфеты</span>
									Пралиновый щербет
								</div>
									<em class="fonted icon"></em>
								</span>
						</a>

					</li>

				</ul>



			</div>

			<div class="item_list_wrapper" id="section-2">

				<h2 class="block_title">Мармелады</h2>

				<div class="fonted icon headermark"></div>

				<h3 class="block_description">Зефир «Сладуница» получил признание во многих регионах России.<br/>
				По мнению дистрибуторов является лучшим выбором для потребителей.</h3>




				<ul class="item_list" id="item_list_zefir">
					<li class="item_list_item  doubled">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Lakti_yogurt-konfetki_klubnica_i_slivki.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Milk Мама"
						   data-description="Единственные на российском рынке мультимолочные конфеты из детской молочной смеси"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

								<span class="prod_img">
									<img
											src="/img/catalog/items/small/Lakti_yogurt-konfetki_klubnica_i_slivki.png" alt=""
											class="">
								</span>
								<span rel="catalog" class="item_name"><div class="item_name_wrap">
									<span class="item_class">конфеты</span>
									Milk_Mama
								</div>
									<em class="fonted icon"></em>
								</span>
						</a>
					</li><!--
						--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

									<span class="prod_img">
										<img
												src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
												class="">
									</span>
									<span rel="catalog" class="item_name"><div class="item_name_wrap">
										<span class="item_class">конфеты</span>
										Пралиновый щербет
									</div>
										<em class="fonted icon"></em>
									</span>
						</a>

					</li><!--
						--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

									<span class="prod_img">
										<img
												src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
												class="">
									</span>
									<span rel="catalog" class="item_name"><div class="item_name_wrap">
										<span class="item_class">конфеты</span>
										Пралиновый щербет
									</div>
										<em class="fonted icon"></em>
									</span>
						</a>

					</li><!--
						--><li class="item_list_item doubled">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

									<span class="prod_img">
										<img
												src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
												class="">
									</span>
									<span rel="catalog" class="item_name"><div class="item_name_wrap">
										<span class="item_class">конфеты</span>
										Пралиновый щербет
									</div>
										<em class="fonted icon"></em>
									</span>
						</a>

					</li><!--
						--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

									<span class="prod_img">
										<img
												src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
												class="">
									</span>
									<span rel="catalog" class="item_name"><div class="item_name_wrap">
										<span class="item_class">конфеты</span>
										Пралиновый щербет
									</div>
										<em class="fonted icon"></em>
									</span>
						</a>

					</li><!--
						--><li class="item_list_item">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

									<span class="prod_img">
										<img
												src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
												class="">
									</span>
									<span rel="catalog" class="item_name"><div class="item_name_wrap">
										<span class="item_class">конфеты</span>
										Пралиновый щербет
									</div>
										<em class="fonted icon"></em>
									</span>
						</a>

					</li><!--
						--><li class="item_list_item ">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

									<span class="prod_img">
										<img
												src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
												class="">
									</span>
									<span rel="catalog" class="item_name"><div class="item_name_wrap">
										<span class="item_class">конфеты</span>
										Пралиновый щербет
									</div>
										<em class="fonted icon"></em>
									</span>
						</a>

					</li><!--
						--><li class="item_list_item doubled">
						<div class="new_mark">новинка</div>
						<a href="/img/catalog/items/big/Pralinoviy_cherbet.png"
						   rel="catalog"
						   class="fancybox"
						   data-id="1"
						   data-title="Пралиновый щербет"
						   data-description="Мягкий сливочно-ореховый щербет в виде конфеток"
						   data-weight="Вес: 145 г."
						   data-boxing="Количество в коробке: 2352"
						   data-bestbefore = "Срок годности — 256 дней">

									<span class="prod_img">
										<img
												src="/img/catalog/items/small/Pralinoviy_cherbet.png" alt=""
												class="">
									</span>
									<span rel="catalog" class="item_name"><div class="item_name_wrap">
										<span class="item_class">конфеты</span>
										Пралиновый щербет
									</div>
										<em class="fonted icon"></em>
									</span>
						</a>

					</li>

				</ul>


			</div>

		</section>
		<footer id="footer_page">

			<div class="columns">

				<div class="col_3"><span>© Шоколадно-кондитерская фабрика «Сладуница»</span></div>

				<div class="col_3">

					<div>
						<a href="#" title=""></a>

						<a href="#" title=""></a>

						<a href="#" title=""></a>
					</div>

				</div>

				<div class="col_3"><a href="http://red-is.ru" target="_blank"
									  title="Redis &mdash; создание сайта"><b>Redis</b> &mdash; создание сайта</a></div>
			</div>

		</footer>

	</div>
</div>
</div>

<div id="popupplace"></div>
<script>


	$(document).ready(function ($) {


		SL.init.catalog();
//
//		var item_tmpl = tmpl("item_tmpl");
//
//
//		$.getJSON( "js/catalog.json", function( data ) {
//
//
//			konfets = data.konfets;
//
//			html = "";
//
//			for ( var i = 0; i < konfets.length; i++ ) {
//				html += item_tmpl( konfets[i] );
//			}
//
//
//			$("#item_list_konfets").append(html);
//
//			zefir = data.zefir;
//
//			html = "";
//
//			for ( var i = 0; i < zefir.length; i++ ) {
//				html += item_tmpl( zefir[i] );
//			}
//
//
//			$("#item_list_zefir").append(html);
//
//
//		});



	});

</script>
<script type="text/html" id="item_tmpl"><li class='item_list_item <%= (doubled == 'doubled' ? " doubled" : "")%>'>

	<%= (new_mark == 'true' ? "<div class='new_mark'>новинка</div>" : "")%>

	<a href="#product_box" rel="catalog" data-id="<%=item_id%>" class="prod_img fancybox">
		<img src="img/catalog/items/small/<%=img%>.png" alt="" class=""/>
	</a>
	<a href="#product_box" rel="catalog"  data-id="<%=item_id%>" class="item_name fancybox">
		<div class="item_name_wrap">
			<span class="item_class"><%=type%></span>
			«<%=name%>»
		</div>
		<em class="fonted icon"></em>
	</a>
</li></script>


</body>
</html>