@keyframes animationFrames{
	0% {
		left:0px;
		top:0px;
		opacity:1;
		transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
	10% {
		transform:  rotate(-2deg) scaleX(0.8) scaleY(0.8) ;
	}
	20% {
		transform:  rotate(-2deg) scaleX(0.8) scaleY(0.8) ;
	}
	30% {
		transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	40% {
		transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	50% {
		transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	60% {
		transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	70% {
		transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	80% {
		transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	90% {
		transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	100% {
		left:0px;
		top:0px;
		opacity:1;
		transform:  rotate(0deg) scaleX(1.2) scaleY(1.2) ;
	}
}

@-moz-keyframes animationFrames{
	0% {
		left:0px;
		top:0px;
		opacity:1;
		-moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
	10% {
		-moz-transform:  rotate(-2deg) scaleX(0.8) scaleY(0.8) ;
	}
	20% {
		-moz-transform:  rotate(-2deg) scaleX(0.8) scaleY(0.8) ;
	}
	30% {
		-moz-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	40% {
		-moz-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	50% {
		-moz-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	60% {
		-moz-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	70% {
		-moz-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	80% {
		-moz-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	90% {
		-moz-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	100% {
		left:0px;
		top:0px;
		opacity:1;
		-moz-transform:  rotate(0deg) scaleX(1.2) scaleY(1.2) ;
	}
}

@-webkit-keyframes animationFrames {
	0% {
		left:0px;
		top:0px;
		opacity:1;
		-webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
	10% {
		-webkit-transform:  rotate(-2deg) scaleX(0.8) scaleY(0.8) ;
	}
	20% {
		-webkit-transform:  rotate(-2deg) scaleX(0.8) scaleY(0.8) ;
	}
	30% {
		-webkit-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	40% {
		-webkit-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	50% {
		-webkit-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	60% {
		-webkit-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	70% {
		-webkit-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	80% {
		-webkit-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	90% {
		-webkit-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	100% {
		left:0px;
		top:0px;
		opacity:1;
		-webkit-transform:  rotate(0deg) scaleX(1.2) scaleY(1.2) ;
	}
}

@-o-keyframes animationFrames {
	0% {
		left:0px;
		top:0px;
		opacity:1;
		-o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
	10% {
		-o-transform:  rotate(-2deg) scaleX(0.8) scaleY(0.8) ;
	}
	20% {
		-o-transform:  rotate(-2deg) scaleX(0.8) scaleY(0.8) ;
	}
	30% {
		-o-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	40% {
		-o-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	50% {
		-o-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	60% {
		-o-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	70% {
		-o-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	80% {
		-o-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	90% {
		-o-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	100% {
		left:0px;
		top:0px;
		opacity:1;
		-o-transform:  rotate(0deg) scaleX(1.2) scaleY(1.2) ;
	}
}

@-ms-keyframes animationFrames {
	0% {
		left:0px;
		top:0px;
		opacity:1;
		-ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
	10% {
		-ms-transform:  rotate(-2deg) scaleX(0.8) scaleY(0.8) ;
	}
	20% {
		-ms-transform:  rotate(-2deg) scaleX(0.8) scaleY(0.8) ;
	}
	30% {
		-ms-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	40% {
		-ms-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	50% {
		-ms-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	60% {
		-ms-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	70% {
		-ms-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	80% {
		-ms-transform:  rotate(-2deg) scaleX(1.2) scaleY(1.2) ;
	}
	90% {
		-ms-transform:  rotate(2deg) scaleX(1.2) scaleY(1.2) ;
	}
	100% {
		left:0px;
		top:0px;
		opacity:1;
		-ms-transform:  rotate(0deg) scaleX(1.2) scaleY(1.2) ;
	}
}