@mixin catalog-mobile() {

	.catalog {


		.wrapper {


			padding: 81px 0 31px 0;

			.header_title {
				font: 32px/1 'oksana_text_narrowbold', sans-serif;
				.tm {
					font-size: 14px;
				}

			}

			.header_description {
			//	color: #fff;
			//	font: 17px/1.70em 'oksana_text_narrowdemibold', sans-serif;
			//	margin: 0;
			//	padding: 0 65px;
			}


		}


		.item_list_wrapper {



			.block_title {
				font: 32px/1.4 'oksana_text_narrowbold', sans-serif;
				//color: $brown;
				//padding: 44px 65px 0 65px;

			}

			.block_description {
				//color: $brown;
				font: 17px/1.4 'oksana_text_narrowdemibold', sans-serif;
				//margin: 0;
				//padding: 0 65px 64px 65px;
			}



			.item_list {

				width: 100%;
				min-width: 100%;

				.item_list_item {


					width: 49%;

					&.doubled {
						width: 99%;

					}


					.item_class {


					}

					.new_mark {
						top: 12px;
						left: 12px;
						width: 48px;
						height: 48px;
						line-height: 48px;
						font-size: 9px;

					}

					.prod_img {

						//line-height: 367px;

						img {
							max-height: 100%;
							max-width: 100%;

						}
					}

					&:hover {

						.item_name {
							background: rgba(246,246,246, .8);
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							padding: 27px;
							text-align: left;
							text-decoration: none;
							font-size: 20px;

							.item_class {
								display: block;
								color: rgba(228,14,99, .7);
								//position: absolute;
								//top: 26px;
								//left: 26px;
								transition: all 0.8s ease;
								line-height: 1.8;
								font-size: 14px;

							}


							.item_name_wrap {
								display: table-cell;
								height: 106 - 27 - 27 + px;
								vertical-align: middle;
								transition: all 0.2s ease;
								text-decoration: none;
								color: $brown;

							}


							em {

								position: absolute;
								bottom: 14px;
								right: 10px;


								&:after {
									content: "\e60a";
									color:rgba(246,246,246, 0);
									transition: all 0.8s ease;
									font-size: 27px;



								}
							}
						}

					}


				}

			}
		}




		.prod_block {

			//line-height: 367px;

			img {
				max-height: 100%;
				max-width: 100%;

			}
		}




	}




}


@mixin catalog-ipad() {

	.catalog {



		.item_list_wrapper {



			.item_list {


				.item_list_item {


					&:hover {

						.item_name {
							background: rgba(246,246,246, .8);
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							padding: 27px;
							text-align: left;
							text-decoration: none;
							font-size: 20px;

							.item_class {
								display: block;
								color: rgba(228,14,99, .7);
								//position: absolute;
								//top: 26px;
								//left: 26px;
								transition: all 0.8s ease;
								line-height: 1.8;
								font-size: 14px;

							}


							.item_name_wrap {
								display: table-cell;
								height: 106 - 27 - 27 + px;
								vertical-align: middle;
								transition: all 0.2s ease;
								text-decoration: none;
								color: $brown;

							}


							em {

								position: absolute;
								bottom: 14px;
								right: 10px;


								&:after {
									content: "\e60a";
									color:rgba(246,246,246, 0);
									transition: all 0.8s ease;
									font-size: 27px;



								}
							}
						}

					}



				}

			}
		}





	}




}

@include iphone3()  {

	@include catalog-mobile();

}
@include iphone4()  {

	@include catalog-mobile();

}


@include iphone5()  {

	@include catalog-mobile();

}


@include ipad()  {

	@include catalog-ipad();

}


@include  max-screen(750px)  {

	@include catalog-mobile();

}


