@mixin commonres-mobile() {

	//all

	#content-wrapper {

		@if $dev_mode {
			border: 3px solid blue;
		}

		height: auto;



		#wrapper {
			@if $dev_mode {
				border: 3px solid yellow;
			}

			height: auto;

		}
	}


	.page {

		@if $dev_mode {
			border: 3px solid red;
		}

		height: auto;

		.wrapper {
			position: relative;
			height: 680px;
			width: 100%;
		}
	}
	.pager {
		display: none;
	}

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {


		/* Retina-specific stuff here */
		#cup {
			//background: #000;
			background-size: cover;

		}
	}



}
