@mixin main-ipad(){



}

@mixin main-mobile() {


	//all

	#content-wrapper {

		@if $dev_mode {
			border: 3px solid blue;
		}

		height: 100%;



		#wrapper {
			@if $dev_mode {
				border: 3px solid yellow;
			}

			height: 100%;

			&.company {

				height: 100%;

			}
		}

	}

	#scroll_me {
		display: none;
	}




	.header_mobile {
		top: 0;
		opacity: 1;
	}

	.page {

		@if $dev_mode {
			border: 3px solid red;
		}

		height: auto;
		min-height: 100%;

		.wrapper {
			position: relative;

			height: auto;
			min-height: 100%;
			width: 100%;





			.section-1-bg-4 {
				display: block;
			}

			.section-1-bg-2 {
				opacity: 1;
				left: 10%;
			}

			.section-1-bg-3 {
				right: 10%;
				opacity: 1;
				margin-right: -150px;
			}
			.section-1-bg-25 {
				opacity: 1;
				font-size: 48px;


				h3 {
					font-size: 17px;
					padding-top: 15px;
					margin-top: 15px;
				}
			}
			.header {
				top: 0;
				opacity: 1;
			}


		}

	}


	.page1 {

		height: 100%;
		min-height: 525px;

		.wrapper {

			$mulipl: 0.67;

			background-size: cover;

			background: #ffd3ab url(../img/bg/bg1merged.jpg) repeat 50% 88%;



			.section-1-bg-11 {
				position: absolute;
				right: 20%;
				bottom: 185px;
				width: 552 * $mulipl + px;
				height: 485 * $mulipl + px;
				margin-right: -134.6px;
			}

			.section-1-bg-12 {
				position: absolute;
				bottom: 103px;
				left: 25%;
				width: 776 * $mulipl + px;
				height: 256 * $mulipl + px;
				margin-left: -339px;
			}

			.section-1-bg-4 {



				position: absolute;
				bottom: 81px;
				left: 50%;
				margin-left: -291 * $mulipl + px;
				width: 581 * $mulipl + px;
				height: 330 * $mulipl + px;


			}

			.section-1-bg-25 {
				margin: -163px auto;
			}

				//sliding images
			.section-1-bg-2 {
				//position: absolute;
				bottom: 82px;
				//left: 10%;
				width: 367 * $mulipl + px;
				height: 181 * $mulipl + px;
				margin-left: 135px;
			}
			.section-1-bg-3 {
				//position: absolute;
				bottom: 83px;
				//right: 10%;
				width: 409 * $mulipl + px;
				height: 285 * $mulipl + px;
				//opacity: 1;
				margin-right: 70px;

			}

		}
	}

	.page2 {

		min-height: 0;

		.wrapper {


		}

	}
	.page3 {

		height: 100%;

		.wrapper {

			background: #73362d url(../img/bg/bg3merged.jpg) no-repeat 50% 90%;


			.section-3-item-3-6 {
				margin: -105px 0 0 120px;
			}

			.section-3-item-3-2 {
				width: 145px;
				margin: -254px 0 0 140px;
				background-size: 145px;
			}

			.section-3-item-3-3 {
				margin: -157px 0 0 -533px;
			}

			.section-3-item-3-4 {
				margin: -306px 0 0 -323px;
			}
			.section-3-item-3-7 {
				margin: 137px 0 0 -543px;
			}

			.section-3-item-1-3 {
				margin: 417px 0 0 0px;
			}



		}
	}
	.page4 {

		height: 100%;

		.wrapper {

			background: #ffd3ab url(../img/bg/bg4merged.jpg) repeat  50% 30%;


			.section-4-item-3-4 {
				margin: -277px 0 0 105px;
			}

			.section-4-item-3-3 {
				margin: -577px 0 0 105px;
			}

			.section-4-item-3-8 {
				margin: 62px 0 0 230px;
			}

			.section-4-item-4-1 {
				margin: -367px 0 0 -201px;
				background-size: 200px;
				width: 200px;
				height: auto;
			}

			.section-4-item-4-3 {
				margin: 139px 0 0 -246px;
				background-size: 150px;
				width: 150px;
				height: auto;
			}



		}
	}


	.pager {
		display: none;
	}

	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {


		/* Retina-specific stuff here */
		#cup {
			//background: #000;
			background-size: cover;

		}
	}








	//slide2

	@include page2res-mobile;

	//slide 5

	@include page5res-mobile;

}





@include iphone3()  {

	@include main-mobile();

}
@include iphone4()  {

	@include main-mobile();

}


@include iphone5()  {

	@include main-mobile();

}


@include  max-screen(750px)  {

	@include main-mobile();

}




@include  ipad()  {
	.page1 {


		.wrapper {

			background-size: cover;

		}

	}


	@include main-ipad();



}



