.page3 {
	.wrapper {
		background:#73362d url(../img/bg/bg3.jpg) no-repeat 50% 50%;
		position: relative;
		height: 100%;
		overflow: hidden;


		.section-3-bg-1 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl31.png);
			background-position: 30% 50%;
			background-repeat: no-repeat;

		}
		.section-3-bg-2 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl32.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;

		}


		.section-3-bg-3 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl33.png);
			background-position: 50% 0%;
			background-repeat: no-repeat;

		}
		.section-3-bg-4 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl34.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;

		}
		.headermark {
			font-size: 27px;
			&:before {
				content: "\e60a";
			}
		}

		.section-3-bg-1,.section-3-bg-2,.section-3-bg-3,.section-3-bg-4 {
			//background: none;
		}
	}

}
