//@import "../animation/hesitate";
@import "../animation/hesitate2";


.page1,.page2,.page3,.page4 {
	//display: none;
}


.page5 {

	position: static !important;
	height: 100%;
	overflow: hidden;
	display: table;
	width: 100%;

	.wrapper {
		background:#ffd3ab url(../img/bg/bg5.jpg) repeat 50% 50%;
		//height: 100%;
		//overflow: hidden;
		text-align: center;
		display: table-cell;
		position: static;
		vertical-align: middle;

		.section-5-header {
			text-align: center;
			color: white;
			font-size: 70px;
			line-height: 65px;
			width: 70%;
			margin: 0 auto 12px auto;
			letter-spacing: 1px;

			@if $dev_mode {
				border: 2px dotted purple;
			}

		}

		.headermark {
			font-size: 27px;
			&:before {
				content: "\e604";
			}


		}

		$figurewidth: 340px;
		
		.figure_wrapper {
			position: relative;
			margin: 0 0 40px 0;

			@if $dev_mode {
				border: 2px dotted purple;
			}


		}
		
		.page_item {
			display: inline-block;
			width: $figurewidth;
			//height: 40%;
			vertical-align: top;

			@if $dev_mode {
				border: 1px solid red;
			}

			//@include pageitems($list);

			figcaption {
				//top:50%;
				//margin-top: -170px;
				width: $figurewidth;
 				position: relative;
				text-align: center;
				line-height: 320px;
				font-size: 0;
				cursor: pointer;
				@if $dev_mode {
					border: 1px solid yellow;
				}


				em, i {
					display: block;
					position: absolute;
					top:0;
					left:0;
					right:0;
					bottom:0;



				}

				abbr {
					opacity: 0;
					top: -46px;
				}

				.icon {
					@include transition( all .4s ease-out);
					position: relative;
					z-index: 3;
					margin-top: 0;
					text-align: center;
					line-height: 0;

					&.icon1 {
						color: $aircolor;
						font-size: 113px;

						&:before {
							content: "\e603";
						}

					}

					&.icon2 {
						color: #85c98b;
						font-size: 110px;

						&:before {
							content: "\e602";
						}

					}

					&.icon3 {
						color: #fece7b;
						font-size: 177px;

						&:before {
							content: "\e601";
						}

					}



 				}
				em {
					opacity: 0;
					top: -42px;
					@include transition( top 0.3s ease-out, opacity .2s  cubic-bezier(0.440, 0.250, 0.525, 1));
 					z-index: 3;

				}
				i {
					@include transition( transform .7s cubic-bezier(0.000, 0.900, 0.375, 1));
					@include transform(scale(0));



				}

				.description {
					opacity: 0;
					margin-top: -134px;

					h2 {
						color: #c7eafc;
						font-size: 45px;
						font-family: oksana_text_narrowdemibold;
					}
					h3 {
						color: $white;
						font-size: 15px;
						font-family: oksana_text_narrowdemibold;
						-webkit-font-smoothing: antialiased;
					}
				}



				&:hover {


					abbr {




						.icon {
							font-size: 140px;


							&.icon3 {
								font-size: 203px;

							}
						}


						em{

							opacity: 1;
							top: -22px;

						}

						i{

							@include transform(scale(1));
							-webkit-animation-delay: 2s;
							-moz-animation-delay: 2s;
							-ms-animation-delay: 2s;
							-o-animation-delay: 2s;
							animation-delay: 2s;


							img{
								margin-left: -20px;


							}

							&:first-child img {
								-webkit-animation: 5600ms animationFrames infinite alternate ease-in-out;
								-moz-animation: 5600ms animationFrames infinite alternate ease-in-out;
								-ms-animation: 5600ms animationFrames infinite alternate ease-in-out;
								-o-animation: 5600ms animationFrames infinite alternate ease-in-out;
								animation: 5600ms animationFrames infinite alternate ease-in-out;


							}
							&:nth-child(2) img {
								-webkit-animation: 3600ms animationFrames infinite alternate ease-in-out;
								-moz-animation: 3600ms animationFrames infinite alternate ease-in-out;
								-ms-animation: 3600ms animationFrames infinite alternate ease-in-out;
								-o-animation: 3600ms animationFrames infinite alternate ease-in-out;
								animation: 3600ms animationFrames infinite alternate ease-in-out;
							}
							&:nth-child(3) img {
								-webkit-animation: 4000ms animationFrames infinite alternate ease-in-out;
								-moz-animation: 4000ms animationFrames infinite alternate ease-in-out;
								-ms-animation: 4000ms animationFrames infinite alternate ease-in-out;
								-o-animation: 4000ms animationFrames infinite alternate ease-in-out;
								animation: 4000ms animationFrames infinite alternate ease-in-out;
							}
							&:nth-child(4) img {
								-webkit-animation: 2600ms animationFrames infinite alternate ease-in-out;
								-moz-animation: 2600ms animationFrames infinite alternate ease-in-out;
								-ms-animation: 2600ms animationFrames infinite alternate ease-in-out;
								-o-animation: 2600ms animationFrames infinite alternate ease-in-out;
								animation: 2600ms animationFrames infinite alternate ease-in-out;
							}
							&:nth-child(5) img {
								-webkit-animation: 3000ms animationFrames infinite alternate ease-in-out;
								-moz-animation: 3000ms animationFrames infinite alternate ease-in-out;
								-ms-animation: 3000ms animationFrames infinite alternate ease-in-out;
								-o-animation: 3000ms animationFrames infinite alternate ease-in-out;
								animation: 3000ms animationFrames infinite alternate ease-in-out;
							}
							&:nth-child(6) img {
								-webkit-animation: 4600ms animationFrames infinite alternate ease-in-out;
								-moz-animation: 4600ms animationFrames infinite alternate ease-in-out;
								-ms-animation: 4600ms animationFrames infinite alternate ease-in-out;
								-o-animation: 4600ms animationFrames infinite alternate ease-in-out;
								animation: 4600ms animationFrames infinite alternate ease-in-out;
							}
							&:nth-child(7) img {
								-webkit-animation: 2700ms animationFrames infinite alternate ease-in-out;
								-moz-animation: 2700ms animationFrames infinite alternate ease-in-out;
								-ms-animation: 2700ms animationFrames infinite alternate ease-in-out;
								-o-animation: 2700ms animationFrames infinite alternate ease-in-out;
								animation: 2700ms animationFrames infinite alternate ease-in-out;
							}
							&:nth-child(8) img {
								-webkit-animation: 4300ms animationFrames infinite alternate ease-in-out;
								-moz-animation: 4300ms animationFrames infinite alternate ease-in-out;
								-ms-animation: 4300ms animationFrames infinite alternate ease-in-out;
								-o-animation: 4300ms animationFrames infinite alternate ease-in-out;
								animation: 4300ms animationFrames infinite alternate ease-in-out;
							}

						}



						//em {
						//
						//	@include transform(scale(1));
						//
 						//		//animation: animationFrames ease-out infinite 3s;
 						//		//-webkit-animation: animationFrames ease-out infinite 3s;
 						//		//-moz-animation: animationFrames ease-out infinite 3s;
 						//		//-o-animation: animationFrames ease-out infinite 3s;
 						//		//-ms-animation: animationFrames ease-out infinite 3s;
						//
						//	opacity: 0;
						//
						//}


					}




				}




					.description {
						line-height: 1.4;
						font-size: 20px;
						color: #f50;
						padding: 9px 20px;
				}




			}



			&.first figcaption {
			//	background: #ffabd3;

				.description {
					h2 {
						color: $aircolor;
					}
				}

			}
			&.second figcaption{

				.description {
					h2 {
						color: $vitacolor;
					}
				}

			}
			&.third figcaption{

				.description {
					h2 {
						color: $milkcolor;
				 	}
				}

			}
		}

	}

}
