@include min-screen(1000px) {
	.page5 {
		.wrapper {

			$figurewidth: 320px;

			.page_item {
				width: $figurewidth;
				figcaption {
					width: $figurewidth;
				}
			}
		}
	}
}

@include min-screen(1200px) {
	.page5 {
		.wrapper {

			$figurewidth: 390px;

			.page_item {
				width: $figurewidth;
				figcaption {
					width: $figurewidth;
				}
			}
		}
	}
}

@include min-screen(1400px) {
	.page5 {
		.wrapper {

			$figurewidth: 440px;

			.page_item {
				width: $figurewidth;

				figcaption {
					width: $figurewidth;
				}
			}
		}
	}
}



@include max-screen(1000px) {


	.page5 {

		//position: relative;
		//height: 100%;
		//overflow: hidden;

		.wrapper {
			//background:#ffd3ab url(../img/bg/bg5.jpg) repeat 50% 50%;
			//position: relative;
			//height: 100%;
			//overflow: hidden;
			//text-align: center;


			.section-5-header {
				//text-align: center;
				//color: $white;
				//font-size: 70px;
				//width:70%;
				//margin: 10% auto 30px auto;


			}

			.headermark {
				//font-size: 27px;
				&:before {
					//content: "\e604";
				}
			}


			.page_item {
				display: block;
				height: 20%;
				max-width: auto;
				position: relative;
				overflow: hidden;
				width: auto;



				figcaption {
					top:0;
					margin-top: 0;
					width: auto;
					height: 100%;
					//position: relative;
					//text-align: center;
					line-height: 200px;
					//font-size: 0;
					//cursor: pointer;



					em, i {
						//display: block;
						//position: absolute;
						//top:0;
						//left:0;
						//right:0;
						//bottom:0;



					}

					abbr {
						//opacity: 0;
						//top: -46px;

					}

					.icon {
						//@include transition( all .4s ease-out);
						//position: relative;
						//z-index: 3;
						//margin-top: 0;
						//text-align: center;
						line-height: 150px;

						&.icon1 {
							//color: $aircolor;
							font-size: 50px;

							&:before {
								//content: "\e603";
							}

						}

						&.icon2 {
							//color: #85c98b;
							font-size: 55px;

							&:before {
								//content: "\e602";
							}

						}

						&.icon3 {
							//color: #fece7b;
							font-size: 65px;

							&:before {
								//content: "\e601";
							}

						}



					}
					em {
						//opacity: 0;
						//top: -42px;
						//@include transition( top 0.3s ease-out, opacity .2s ease-in );
						//z-index: 3;
						@include transform(scale(.7));


					}
					i {
						//@include transition( transform .7s ease-out);
						//@include transform(scale(0));

					}

					.description {
						bottom: 0px;
						left: 0;
						right: 0;

						h2 {
							//color: #c7eafc;
							font-size: 35px;
							//font-family: oksana_text_narrowdemibold;
						}
						h3 {
							display: none;
							//color: $white;
							//font-size: 13px;
							//height: 0;
							//font-family: oksana_text_narrowlight;
						}
					}



					&:hover {


						abbr {




							.icon {
								font-size: 90px;
							}


							em{

								//opacity: 1;
								//top: -12px;

							}

							i{

								@include transform(scale(.7));




								img{


								}

								&:first-child img {
									//-webkit-animation: 5600ms animationFrames infinite alternate ease-in-out;
									//-moz-animation: 5600ms animationFrames infinite alternate ease-in-out;
									//-ms-animation: 5600ms animationFrames infinite alternate ease-in-out;
									//-o-animation: 5600ms animationFrames infinite alternate ease-in-out;
									//animation: 5600ms animationFrames infinite alternate ease-in-out;

								}
								&:nth-child(2) img {
									//-webkit-animation: 3600ms animationFrames infinite alternate ease-in-out;
									//-moz-animation: 3600ms animationFrames infinite alternate ease-in-out;
									//-ms-animation: 3600ms animationFrames infinite alternate ease-in-out;
									//-o-animation: 3600ms animationFrames infinite alternate ease-in-out;
									//animation: 3600ms animationFrames infinite alternate ease-in-out;
								}
								&:nth-child(3) img {
									//-webkit-animation: 4600ms animationFrames infinite alternate ease-in-out;
									//-moz-animation: 4600ms animationFrames infinite alternate ease-in-out;
									//-ms-animation: 4600ms animationFrames infinite alternate ease-in-out;
									//-o-animation: 4600ms animationFrames infinite alternate ease-in-out;
									//animation: 4600ms animationFrames infinite alternate ease-in-out;
								}

							}




						}




					}




					.description {
						//line-height: 1.4;
						//font-size: 23px;
						//color: #f50;
					}




				}



				&.first figcaption {

					.description {
						h2 {
							//color: $aircolor;
						}
					}

				}
				&.second figcaption{

					.description {
						h2 {
							//color: $vitacolor;
						}
					}

				}
				&.third figcaption{

					.description {
						h2 {
							//color: $milkcolor;
						}
					}

				}
			}

			.catalog_enter5 {
				margin-top: 30px;
			}


		}

	}

}
