.page4 {
	.wrapper {

		background:#ffd3ab url(../img/bg/bg4.jpg) no-repeat 50% 50%;
		position: relative;
		height: 100%;
		overflow: hidden;



		.section-4-bg-1 {

			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			background-image:url(../img/bg/bgl41.png);
			background-position: 50% 100%;
			background-repeat: no-repeat;

		}


		.section-4-bg-2 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			background-image:url(../img/bg/bgl42.png);
			background-position: 50% 100%;
			background-repeat: no-repeat;



		}

		.section-4-bg-3 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl43.png);
			background-position: 50% 100%;
			background-repeat: no-repeat;


		}
		.section-4-bg-4 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl44.png);
			background-position: 50% 100%;
			background-repeat: no-repeat;

		}

		.headermark {
			font-size: 37px;
			&:before {
				content: "\e609";
			}
		}

		.section-4-bg-1,.section-4-bg-2,.section-4-bg-3,.section-4-bg-4 {
			//background: none;
		}




		//	layer1


		.section-4-item-1 {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		@include layer(4, 1, 1, 85px, 56px, -10px, 30px);
		@include layer(4, 1, 2, 118px, 72px, -30px, 20px);
		@include layer(4, 1, 3, 78px, 72px, -30px, 10px);

		//	layer3


		.section-4-item-3 {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		@include layer(4, 3, 1, 224px, 193px, -10px, 30px);
		@include layer(4, 3, 2, 88px, 10px, -40px, 20px);
		@include layer(4, 3, 3, 160px, 138px, -30px, 10px);
		@include layer(4, 3, 4, 90px, 95px, -30px, 0px);
		@include layer(4, 3, 5, 167px, 162px, -30px, -10px);
		@include layer(4, 3, 6, 139px, 114px, -30px, -30px);
		@include layer(4, 3, 7, 87px, 92px, -30px, -20px);
		@include layer(4, 3, 8, 84px, 106px, -30px, -40px);
		@include layer(4, 3, 9, 71px, 84px, -30px, -40px);

		//	layer3


		.section-4-item-4 {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		@include layer(4, 4, 1, 225px, 166px, -100px, 300px);
		@include layer(4, 4, 2, 417px, 392px, -30px, 200px);
		@include layer(4, 4, 3, 419px, 314px, -30px, 100px);
		@include layer(4, 4, 4, 300px, 253px, -30px, 100px);
		@include layer(4, 4, 5, 190px, 198px, -30px, 100px);
		@include layer(4, 4, 6, 261px, 238px, -30px, 100px);
		@include layer(4, 4, 7, 254px, 203px, -30px, 100px);
	}
}
