
//.page1,.page3,.page4 {
//	display: none;
//}

.page2 {



	position: relative;
	height: 100%;
	overflow: hidden;

	.wrapper {
		background:#ffd3ab url(../img/bg/bg2.jpg) repeat 50% 50%;
		text-align: center;

 		.page_item {
			display: inline-block;
 			height: 100%;
			max-width: 400px;
 			position: relative;
			overflow: hidden;
			width: 33.3333%;
			cursor: pointer;

			&.first figcaption {
				background: url(../img/bg/bgl21.jpg) repeat 50% 50%;
			}
			&.second figcaption{
				background: url(../img/bg/bgl22.jpg) repeat 50% 50%;

			}
			&.third figcaption{
				background: url(../img/bg/bgl23.jpg) repeat 50% 50%;

			}


			figcaption {
				position: absolute;
				width: 100%;
				top:0;
				left:0;
				right: 0;
				bottom: 0;
				opacity: 0;
				@include transition( all 0.2s ease-out);


			}

			&:hover {
				figcaption {
					position: absolute;
					opacity: 1;
				}

			}



			.page_item_ic {

				position: relative;
				top: 50%;
				margin-top: -60px;

			}

			.icon {

				width: 100%;
				display: block;
 				position: relative;

  				@include transition( all .3s ease-out);

				//margin-top: 50%;
				text-align: center;
				line-height: 0;
				color: $cherry;


				&.icon1 {

					font-size: 60px;

					&:before {
						content: "\e607";
					}

				}

				&.icon2 {

					font-size: 130px;

					&:before {
						content: "\e606";
					}

				}

				&.icon3 {

					font-size: 120px;


					&:before {
						content: "\e605";
					}

				}


			}

			h2 {
				color:$carmine;
				position: relative;
				font-size: 27px;
				line-height: 28px;
				text-align: center;
				padding: 140px 40px;
				//@include transition( color 0.1s ease-out);

				&:before {
					content: ' ';
					border-top: 1px solid $cherry;
					border-bottom: 1px solid $cherry;
					display: block;
					position: absolute;
					width: 38px;
					height: 40%;
					left: 50%;
					margin-left: -19px;
					margin-top: -38px;
				}

			}


			&:hover {

				.icon {
					color: $white;
					@include transform(scale(1.3));

				}
				h2 {
					color: $white;
					&:before {
						content: '';
						border-color: $white;
					}
				}

			}







		}
	}

}