.page4 {
	.wrapper {

		background:#ffd3ab url(../img/bg/bg4.jpg) no-repeat 50% 50%;
		position: relative;
		height: 100%;
		overflow: hidden;



		.section-4-bg-1 {

			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			background-image:url(../img/bg/bgl41.png);
			background-position: 50% 100%;
			background-repeat: no-repeat;

		}


		.section-4-bg-2 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			background-image:url(../img/bg/bgl42.png);
			background-position: 50% 100%;
			background-repeat: no-repeat;



		}

		.section-4-bg-3 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl43.png);
			background-position: 50% 100%;
			background-repeat: no-repeat;


		}
		.section-4-bg-4 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl44.png);
			background-position: 50% 100%;
			background-repeat: no-repeat;

		}

		.headermark {
			font-size: 37px;
			&:before {
				content: "\e609";
			}
		}

		.section-4-bg-1,.section-4-bg-2,.section-4-bg-3,.section-4-bg-4 {
			background: none;
		}
	}
}
