.page1 {

 	position: relative;
	height: 100%;
	overflow: hidden;

	background:#ffd3ab url(../img/bg/bg1merged.jpg) repeat 50% 100%;



		.section-1-bg-11 {
			position: absolute;
 			bottom: 185px;
			right: 20%;
			width: 552px;
			height: 485px;
			margin-right: -380px;
		}

		.section-1-bg-12 {
			position: absolute;
			bottom: 65px;
			left: 25%;
			width: 776px;
			height: 256px;
			margin-left: -685px;
		}



		.section-1-bg-25 {
			margin: -210px auto;
			position: absolute;
			top: 50%;
			opacity: 0;

			color: $logo;
			font-size: 78px;
			text-align: center;

			&:before {
				content: "\e505";
			}

			h3 {
				color: $cherry;
				position: relative;
				font-size: 27px;
				padding-top: 25px;
				margin-top: 25px;
				text-transform: capitalize;
				&.font10 {
					font-family: oksana_text_narrowdemibold;
				}
				
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 57px;
					height: 0px;
					top: 0;
					left: 50%;
					margin-left: -28px;
					border-top: 1px solid $cherry;
				}
			}
		}
		.section-1-bg-4 {
			position: absolute;
 			bottom: 40px;
			margin-left: -294px;
			left: 50%;
			width: 581px;
			height: 330px;

		}


		//sliding images
		.section-1-bg-2 {
			position: absolute;
			bottom: 15px;
			left: 0;
			width: 367px;
			height: 181px;
			opacity: 0;
		}
		.section-1-bg-3 {
			position: absolute;
			bottom: 15px;
			right: 0;
			width: 409px;
			height: 285px;
			opacity: 0;
			margin-right: -160px;
		}






}


#scroll_me {
	position: absolute;
	bottom: 12px;
	left: 50%;
	margin-left: -9px;
}
//
//
//.touch
//
//}