@mixin page5($i, $figurewidth, $headerfont, $iconpadding, $h1, $h2, $h3, $h1_hover, $h2_hover, $h3_hover, $hName, $hDesrc, $figcaptionHeight, $emTop, $emTopHover, $emImgWidth, $iImgWidth) {

	.page5 {
		.wrapper {
			.section-5-header {
				//text-align: center;
				//color: white;
				//line-height: 65px;
				//width: 70%;
				//margin: 0 auto 12px auto;
				//letter-spacing: 1px;

				h1 {
					font-size: $headerfont;
				}
				@if $dev_mode {
					border: $i + px dotted purple;
				}

			}

			//.headermark {
			//	font-size: 27px;
			//	&:before {
			//		content: "\e509";
			//	}
			//
			//
			//}
			//
			//$figurewidth: 340px;
			//
			//.figure_wrapper {
			//	position: relative;
			//	margin: 0 0 40px 0;
			//
			//	@if $dev_mode {
			//		border: 2px dotted purple;
			//	}
			//
			//
			//}
			//
			.page_item {
			//	display: inline-block;

				@if $figurewidth != null {
					width: $figurewidth;
				}

			//	//height: 40%;
			//	vertical-align: top;
			//
			//	@if $dev_mode {
			//		border: 1px solid red;
			//	}
			//
			//	//@include pageitems($list);
			//
				figcaption {
			//		//top:50%;
			//		//margin-top: -70px;
					@if $figurewidth != null {
						width: $figurewidth;
					}			//		position: relative;
			//		text-align: center;
					line-height: $figcaptionHeight;
			//		font-size: 0;
			//		cursor: pointer;
			//		@if $dev_mode {
			//			border: 1px solid yellow;
			//		}
			//
			//
					em, i {
			//			display: block;
			//			position: absolute;
			//			top:0;
			//			left:0;
			//			right:0;
			//			bottom:0;


					}
			//
			//		abbr {
			//			//opacity: 0;
			//			//top: 0;
			//		}
			//
					.icon {

						position: relative;
						z-index: 3;
						text-align: center;
						line-height: 0;
						display: block;
						padding: $iconpadding 0;

						&.icon1 {
			//				color: $aircolor;
							font-size: $h1;
			//
			//				&:before {
			//					content: "\e508";
			//				}
			//
						}

						&.icon2 {
			//				color: #85c98b;
							font-size: $h2;
			//
			//				&:before {
			//					content: "\e507";
			//				}
			//
						}
			//
						&.icon3 {
			//				color: #fece7b;
							font-size: $h3;
			//
			//				&:before {
			//					content: "\e506";
			//				}
			//
						}



					}
					em {
			//			opacity: 0;
						top: $emTop;
			//			@include transition( top 0.3s ease-out, opacity .2s  cubic-bezier(0.440, 0.250, 0.525, 1));
			//			z-index: 3;
			//
						img {
							width: $emImgWidth;
						}
					}
					i {
			//			@include transition( transform .7s cubic-bezier(0.000, 0.900, 0.375, 1));
			//			@include transform(scale(0));


						img {
							width: $iImgWidth;
						}
					}
			//
			//		.description {
			//			//opacity: 0;
			//			margin-top: -134px;
			//
			//			h2 {
			//				color: #c7eafc;
			//				font-size: 45px;
			//				font-family: oksana_text_narrowdemibold;
			//			}
			//			h3 {
			//				color: $white;
			//				font-size: 15px;
			//				font-family: oksana_text_narrowdemibold;
			//				-webkit-font-smoothing: antialiased;
			//			}
			//		}
			//
			//
			//
					&:hover {


						abbr {




							.icon {
								font-size: $h1_hover;


								&.icon3 {
									font-size: $h3_hover;

								}
							}


							em{

								opacity: 1;
								top: $emTopHover;

							}
			//
			//				i{
			//
			//					@include transform(scale(1));
			//					-webkit-animation-delay: 2s;
			//					-moz-animation-delay: 2s;
			//					-ms-animation-delay: 2s;
			//					-o-animation-delay: 2s;
			//					animation-delay: 2s;
			//
			//
			//					img{
			//						margin-left: -20px;
			//
			//
			//					}
			//
			//					&:first-child img {
			//						-webkit-animation: 5600ms animationFrames infinite alternate ease-in-out;
			//						-moz-animation: 5600ms animationFrames infinite alternate ease-in-out;
			//						-ms-animation: 5600ms animationFrames infinite alternate ease-in-out;
			//						-o-animation: 5600ms animationFrames infinite alternate ease-in-out;
			//						animation: 5600ms animationFrames infinite alternate ease-in-out;
			//
			//
			//					}
			//					&:nth-child(2) img {
			//						-webkit-animation: 3600ms animationFrames infinite alternate ease-in-out;
			//						-moz-animation: 3600ms animationFrames infinite alternate ease-in-out;
			//						-ms-animation: 3600ms animationFrames infinite alternate ease-in-out;
			//						-o-animation: 3600ms animationFrames infinite alternate ease-in-out;
			//						animation: 3600ms animationFrames infinite alternate ease-in-out;
			//					}
			//					&:nth-child(3) img {
			//						-webkit-animation: 4000ms animationFrames infinite alternate ease-in-out;
			//						-moz-animation: 4000ms animationFrames infinite alternate ease-in-out;
			//						-ms-animation: 4000ms animationFrames infinite alternate ease-in-out;
			//						-o-animation: 4000ms animationFrames infinite alternate ease-in-out;
			//						animation: 4000ms animationFrames infinite alternate ease-in-out;
			//					}
			//					&:nth-child(4) img {
			//						-webkit-animation: 2600ms animationFrames infinite alternate ease-in-out;
			//						-moz-animation: 2600ms animationFrames infinite alternate ease-in-out;
			//						-ms-animation: 2600ms animationFrames infinite alternate ease-in-out;
			//						-o-animation: 2600ms animationFrames infinite alternate ease-in-out;
			//						animation: 2600ms animationFrames infinite alternate ease-in-out;
			//					}
			//					&:nth-child(5) img {
			//						-webkit-animation: 3000ms animationFrames infinite alternate ease-in-out;
			//						-moz-animation: 3000ms animationFrames infinite alternate ease-in-out;
			//						-ms-animation: 3000ms animationFrames infinite alternate ease-in-out;
			//						-o-animation: 3000ms animationFrames infinite alternate ease-in-out;
			//						animation: 3000ms animationFrames infinite alternate ease-in-out;
			//					}
			//					&:nth-child(6) img {
			//						-webkit-animation: 4600ms animationFrames infinite alternate ease-in-out;
			//						-moz-animation: 4600ms animationFrames infinite alternate ease-in-out;
			//						-ms-animation: 4600ms animationFrames infinite alternate ease-in-out;
			//						-o-animation: 4600ms animationFrames infinite alternate ease-in-out;
			//						animation: 4600ms animationFrames infinite alternate ease-in-out;
			//					}
			//					&:nth-child(7) img {
			//						-webkit-animation: 2700ms animationFrames infinite alternate ease-in-out;
			//						-moz-animation: 2700ms animationFrames infinite alternate ease-in-out;
			//						-ms-animation: 2700ms animationFrames infinite alternate ease-in-out;
			//						-o-animation: 2700ms animationFrames infinite alternate ease-in-out;
			//						animation: 2700ms animationFrames infinite alternate ease-in-out;
			//					}
			//					&:nth-child(8) img {
			//						-webkit-animation: 4300ms animationFrames infinite alternate ease-in-out;
			//						-moz-animation: 4300ms animationFrames infinite alternate ease-in-out;
			//						-ms-animation: 4300ms animationFrames infinite alternate ease-in-out;
			//						-o-animation: 4300ms animationFrames infinite alternate ease-in-out;
			//						animation: 4300ms animationFrames infinite alternate ease-in-out;
			//					}
			//
			//				}
			//
			//
			//
			//				//em {
			//				//
			//				//	@include transform(scale(1));
			//				//
			//				//		//animation: animationFrames ease-out infinite 3s;
			//				//		//-webkit-animation: animationFrames ease-out infinite 3s;
			//				//		//-moz-animation: animationFrames ease-out infinite 3s;
			//				//		//-o-animation: animationFrames ease-out infinite 3s;
			//				//		//-ms-animation: animationFrames ease-out infinite 3s;
			//				//
			//				//	opacity: 0;
			//				//
			//				//}


						}




					}




					.description {
						//opacity: 0;
						//margin-top: -134px;

						h2 {
							//color: #c7eafc;
							font-size: $hName;
							//font-family: oksana_text_narrowdemibold;
						}
						h3 {
							//color: $white;
							font-size: $hDesrc;
							//font-family: oksana_text_narrowdemibold;
							//-webkit-font-smoothing: antialiased;
						}
					}
			//
			//
			//
			//
				}
			//
			//
			//
			//	&.first figcaption {
			//		//	background: #ffabd3;
			//
			//		.description {
			//			h2 {
			//				color: $aircolor;
			//			}
			//		}
			//
			//	}
			//	&.second figcaption{
			//
			//		.description {
			//			h2 {
			//				color: $vitacolor;
			//			}
			//		}
			//
			//	}
			//	&.third figcaption{
			//
			//		.description {
			//			h2 {
			//				color: $milkcolor;
			//			}
			//		}
			//
			//	}
			}

		}

	}
}

//@include max-screen(700px) {
//	@include page5(70, 240px, 40px, 63px, 60px, 117px);
//}

	//@mixin page5($i, $figurewidth, $headerfont, $iconpadding, $h1,  $h2,  $h3,    $h1_hover,  $h2_hover, $h3_hover, $hName, $hDesrc, $figcaptionHeight) {

@include scrn(1000px, 1100px, null, null) {
	@include page5(45, 300px,        64px,        80px,         83px, 80px, 137px, 83px,       80px,      137px,     45px,   15px,    250px,              -62px,     -32px,   70px , 280px);
}
@include scrn(800px, 1000px, null, null) {
	@include page5(45, 260px,        54px,        80px,         83px, 80px, 137px, 83px,       80px,      137px,     40px,   14px,    250px,             -62px,     -32px,    70px, 280px);
}
@include scrn(750px, 800px, null, null) {
	@include page5(45, 240px,        54px,        80px,         83px, 80px, 137px, 83px,       80px,      137px,     40px,   14px,    250px,             -62px,     -32px,    70px, 280px);
}



@include scrn(null, null, 0px, 650px) {
	@include page5(25, null, 		 44px, 		  40px,         53px, 50px, 77px,  53px,       50px,      77px,      35px,   12px,    200px,             -82px,     -52px,    40px, 180px);
}

@include scrn(null, null, 650px, 750px) {
	@include page5(45, null,        54px,        60px,         63px, 60px, 87px, 63px,       60px,      87px,     40px,   14px,    250px,             -82px,     -52px,    50px, 220px);
}
@include scrn(null, null, 750px, 850px) {
	@include page5(45, null,        64px,        80px,         73px, 70px, 127px, 73px,       70px,      127px,     40px,   14px,    250px,             -62px,     -32px,    60px, 280px);
}


