@mixin page1($i, $figurewidth, $headerfont, $headerfont2, $padd) {




	.page1 {



		//&:before {
		//	position: fixed;
		//	z-index: 99999;
		//	font-size: 50px;
		//	content: "#{$figurewidth} #{$headerfont} #{$figurewidth} #{$headerfont2} #{$padd} ";
		//}

		//position: relative;
		//height: 100%;
		//overflow: hidden;

			//background:#ffd3ab url(../img/bg/bg1merged.jpg) repeat 50% 100%;




		.section-1-bg-11 {
			//position: absolute;
			//right: 20%;
			//bottom: 185px;
			//width: 552 * $figurewidth + px;
			//height: 485px * $figurewidth + px;
			//margin-right: -380px;
		}

		.section-1-bg-12 {
			//position: absolute;
			//bottom: 65px;
			//left: 25%;
			//width: 776px;
			//height: 256px;
			//margin-left: -685px;
		}


		.section-1-bg-25 {
			//margin: -210px auto;
			//position: relative;
			//top: 50%;
			//opacity: 0;

			//color: $logo;
			font-size: $headerfont;
			//text-align: center;




			&:before {
				//content: "\e505";
			}

			h3 {
				//color: $cherry;
				//position: relative;
				font-size: $headerfont2;
				padding-top: $padd;
				margin-top: $padd;
				//text-transform: capitalize;


				&:before {
					//content: '';
					//position: absolute;
					//display: block;
					//width: 57px;
					//height: 0px;
					//top: 0;
					//left: 50%;
					//margin-left: -28px;
					//border-top: 1px solid $cherry;
				}
			}
		}

		.section-1-bg-4 {
			//position: absolute;
			//bottom: 41px;
			//left: 50%;
			//margin-left: -291px;
			//width: 581 * $figurewidth + px;
			//height: 330 * $figurewidth + px;
			//
			//&.a {
			//	display: none;
			//}
		}


		//sliding images
		.section-1-bg-2 {
			//position: absolute;
			//bottom: 15px;
			//left: 10%;
			//width: 367px;
			//height: 181px;
			//opacity: 1;
			//
			//&.a {
			//	left: 0;
			//	opacity: 0;
			//}
		}
		.section-1-bg-3 {
			//position: absolute;
			//bottom: 15px;
			//right: 10%;
			//width: 409px;
			//height: 285px;
			//opacity: 1;
			//margin-right: -150px;
			//
			//&.a {
			//	opacity: 0;
			//	right: 0;
			//	margin-right: -160px;
			//}

		}
	}
}

@include max-screen(1200px) {
	#section-1 {

		.wrapper {

			width: 1200px;
			margin-left: -600px;
			left: 50%;
		}
	}
}
//
//@include scrn(1200px, 2500px, null, null) {
//	@include page1(45, 300px,        78px,        27px,         25px);
//}
//@include scrn(1000px, 1200px, null, null) {
//	@include page1(25, 260px,        78px,        27px,         25px);
//}
//@include scrn(750px, 1000px, null, null) {
//	@include page1(5, 240px,        78px,        27px,         25px);
//}
//
//
//
//@include scrn(null, null, 0px, 500px) {
//	@include page1(20, 1, 		 38px, 		  14px,         12px);
//}
//



@include scrn(null, null, 0px, 650px) {
	@include page1(25, 1, 		 48px, 		  17px,         15px);
}

@include scrn(null, null, 650px, 750px) {
	@include page1(45, 1,        58px,        22px,         20px);
}

@include scrn(null, null, 750px, 850px) {
	@include page1(65, 1,        78px,        27px,         25px);
}
@include scrn(null, null, 850px, 1250px) {
	@include page1(95, 1,        100px,        37px,         35px);
}


