.page1,.page2,.page3,.page4 {
	display: none;
}
.page5 {

	position: relative;
	height: 100%;
	overflow: hidden;

	.wrapper {
		background:#ffd3ab url(../img/bg/bg5.jpg) repeat 50% 50%;
		position: relative;
		height: 100%;
		overflow: hidden;
		text-align: center;


		.page_item {
			display: inline-block;
			border: 1px solid red;
			width: 340px;
			height: 100%;
			vertical-align: top;

			$list: "first", "second", "third";

			//@include pageitems($list);

			figcaption {
				top:50%;
				margin-top: -170px;
				width: 340px;
				height: 340px;
				position: relative;
				text-align: center;
				line-height: 340px;
				font-size: 0;


				abbr, em, i {
					display: block;
					position: absolute;
					top:0;
					left:0;
					right:0;
					bottom:0;

				}
				em, i {

					-webkit-transition: .3s;
					-moz-transition: .3s;
					-ms-transition: .3s;
					-o-transition: .3s;
					transition: .3s;

				}
				i {




				}



				abbr {

					em {


					}
					i {


					}



				}
				//
				//&:hover {
				//	em, i {
				//
				//		@include transform(scale(1));
				//
				//	}
				//}


				.description {
					line-height: 1.4;
					font-size: 23px;
					color: #f50;
					mmargin-top: 120px;
				}

			}

			&.first figcaption {
				//background: #ffabd3;

			}
			&.second figcaption{
				//background: #fafd3b;

			}
			&.third figcaption{
				//background: #fd3f3b;

			}
		}



	}



}


@keyframes pulsate {
	0% { transform: scale(1); }
	50% { transform: scale(1.03); }
	100% { transform: scale(1); }
}
@-webkit-keyframes pulsate {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(1.03); }
	100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulsate {
	0% { -moz-transform: scale(1); }
	50% { -moz-transform: scale(1.03); }
	100% { -moz-transform: scale(1); }
}
@-ms-keyframes pulsate {
	0% { -ms-transform: scale(1); }
	50% { -ms-transform: scale(1.03); }
	100% { -ms-transform: scale(1); }
}
@-o-keyframes pulsate {
	0% { -o-transform: scale(1); }
	50% { -o-transform: scale(1.03); }
	100% { -o-transform: scale(1); }
}
