.page1 {

 	position: relative;
	height: 100%;
	overflow: hidden;

		background:#ffd3ab url(../img/bg/bg1merged.jpg) repeat 50% 100%;




		.section-1-bg-25 {
			margin: -210px auto;
			position: relative;
			top: 50%;
			opacity: 0;

			color: $logo;
			font-size: 78px;
			text-align: center;

			&:before {
				content: "\e505";
			}

			h3 {
				color: $cherry;
				position: relative;
				font-size: 27px;
				padding-top: 25px;
				margin-top: 25px;
				text-transform: capitalize;
				&.font10 {
					font-family: oksana_text_narrowdemibold;
				}
				
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 57px;
					height: 0px;
					top: 0;
					left: 50%;
					margin-left: -28px;
					border-top: 1px solid $cherry;
				}
			}
		}


}


#scroll_me {
	position: absolute;
	bottom: 12px;
	left: 50%;
	margin-left: -9px;
}
//
//
//.touch
//
//}