.page1 {

 	position: relative;
	height: 100%;
	overflow: hidden;

	.wrapper {
		background:#ffd3ab url(../img/bg/bg1.jpg) repeat 50% 50%;



		.section-1-bg-1 {
			position: absolute;
 			bottom: 0;
			right: 0;
			left: 0;
			height: 300px;
			background: url(../img/bg/bgl11.png) repeat-x 50% 100%;
		}


		.section-1-bg-11 {
			position: absolute;
 			bottom: 0;
			right: 0;
			width: 436px;
			height: 486px;
			background: url(../img/bg/bgl111.png) repeat-x 0 0;
		}

		.section-1-bg-12 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 620px;
			height: 251px;
			background: url(../img/bg/bgl112.png) repeat-x 0 0;
		}


		.section-1-bg-25 {
			margin: -120px auto;
			position: relative;
			top: 50%;
			opacity: 0;

			color: #70002e;
			font-size: 100px;
			text-align: center;

			&:before {
				content: "\e600";
			}

			h3 {
 				font-size: 38px;

				&.font1 {
					font-family: oksana_text_narrowbold;

				}
				&.font2 {
					font-family: oksana_text_narrowbold_italic;

				}
				&.font3 {
					font-family: oksana_text_narrowdemibold;

				}
				&.font4 {
					font-family: oksana_text_narrowthin_italic;

				}
			}
		}
		.section-1-bg-4 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: none;

			background:url(../img/bg/bgl13.png)  no-repeat 50% 100%;
		}


		//sliding images
		.section-1-bg-2 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 367px;
			height: 181px;
			opacity: 0;
			background:url(../img/bg/bgl12.png)  no-repeat 0% 100%;
		}
		.section-1-bg-3 {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 409px;
			height: 285px;
			opacity: 0;
			background:url(../img/bg/bgl14.png)  no-repeat 100% 100%;
		}
	}


}