.page3 {
	.wrapper {
		background:#73362d url(../img/bg/bg3.jpg) no-repeat 50% 50%;
		position: relative;
		height: 100%;
		overflow: hidden;


		.section-3-bg-1 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl31.png);
			background-position: 30% 50%;
			background-repeat: no-repeat;

		}
		.section-3-bg-2 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl32.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;

		}


		.section-3-bg-3 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl33.png);
			background-position: 50% 0%;
			background-repeat: no-repeat;

		}
		.section-3-bg-4 {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image:url(../img/bg/bgl34.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;

		}
		.headermark {
			font-size: 27px;
			&:before {
				content: "\e60a";
			}
		}

		.section-3-bg-1,.section-3-bg-2,.section-3-bg-3,.section-3-bg-4 {
			//background: none;
		}


		.section-3-item-4 {
			position: absolute;
			top: 50%;
			left: 50%;
			//	top: 0;
			//	bottom: 0;
			//	right: 0;
			//	left: 0;
		}
		.section-3-item-4-1 {
			width: 403px;
			height: 547px;
			//background: #f00;
			background-image:url(../img/bg/bgl341.png);
			background-position: 0 0;
			background-repeat: no-repeat;
			margin: -300px 0 0 -400px ;
		}
		.section-3-item-4-2 {
			width: 242px;
			height: 232px;
			background: #0f5;
			background: url(../img/bg/bgl342.png) no-repeat 0 0;

			margin: -300px -400px 0 0;

		}
		.section-3-item-4-3 {
			width: 485px;
			height: 251px;
			background: #3f5;
			background: url("../img/bg/bgl343.png") no-repeat 0 0;
			margin: -240px  0 0 127px;


		}
		.section-3-item-4-4 {
			width: 377px;
			height: 302px;
			background: #0a5;
			background: url("../img/bg/bgl344.png") no-repeat 0 0;

			margin: -20px 100px 0 0;

		}
		.section-3-item-4-5 {
			width: 740px;
			height: 324px;
			background: #0aa;
			background: url("../img/bg/bgl345.png") no-repeat 0 0;
			margin: -200px 400px 0 0;


		}
		.section-3-item-4-6 {
			width: 242px;
			height: 199px;
			background: #0aa;
			background: url("../img/bg/bgl346.png") no-repeat 0 0;

			margin: -120px -50px 0 0;

		}




	//	layer3


		.section-3-item-3 {
			position: absolute;
			top: 50%;
			left: 50%;
			//	top: 0;
			//	bottom: 0;
			//	right: 0;
			//	left: 0;
		}

		@include layer(3, 3, 1, 361px, 256px, -100px, 300px);
		@include layer(3, 3, 2, 185px, 133px, -400px, 200px);
		@include layer(3, 3, 3, 198px, 178px, -300px, 100px);
		@include layer(3, 3, 4, 206px, 167px, -300px, 0px);
		@include layer(3, 3, 5, 99px, 104px, -300px, -100px);
		@include layer(3, 3, 6, 545px, 345px, -300px, -300px);
		@include layer(3, 3, 7, 155px, 203px, -300px, -200px);
		@include layer(3, 3, 8, 144px, 173px, -300px, -400px);


	}

}
