@mixin page2res-mobile() {

	//slide 2
	.page2 {



		//position: relative;
		//height: 100%;
		//overflow: hidden;

		.wrapper {
			//background:#ffd3ab url(../img/bg/bg2.jpg) repeat 50% 50%;
			//text-align: center;



			.page_item {
				display: block;
				height: 33.333%;
				max-width: none;
				position: relative;
				overflow: hidden;
				width: auto;
				//position: relative;
				//overflow: hidden;
				//width: 33.3333%;
				//cursor: pointer;

				//&.first figcaption {
				//	background: url(../img/bg/bgl21.jpg) repeat 50% 50%;
				//}
				//&.second figcaption{
				//	background: url(../img/bg/bgl22.jpg) repeat 50% 50%;
				//
				//}
				//&.third figcaption{
				//	background: url(../img/bg/bgl23.jpg) repeat 50% 50%;
				//
				//}


				figcaption {
					//position: absolute;
					//width: 100%;
					//top:0;
					//left:0;
					//right: 0;
					//bottom: 0;
					//opacity: 0;
					//@include transition( all 0.2s ease-out);

				}

				&:hover {
					figcaption {
						position: absolute;
						opacity: 0;
					}

				}



				.page_item_ic {

					//position: relative;
					//top: 50%;
					margin-top: 0px;

				}

				.icon {

					//width: 100%;
					//display: block;
					//position: relative;
					//
					//@include transition( all .3s ease-out);
					//
					margin-top: -10%;
					//text-align: center;
					//line-height: 0;
					//color: $cherry;


					&.icon1 {

						font-size: 38px;

						//&:before {
						//	content: "\e607";
						//}

					}

					&.icon2 {

						font-size: 59px;

						//&:before {
						//	content: "\e606";
						//}

					}

					&.icon3 {

					font-size: 55px;


					//&:before {
					//	content: "\e605";
					}

				}



				h2 {
					//position: relative;
					//color:$carmine;
					//font-size: 27px;
					//line-height: 28px;
					//text-align: center;
					margin: 40px 40px;
					//@include transition( color 0.1s ease-out);

					&:before {
						content: ' ';
						border-top: 0px solid $cherry;
						border-bottom: 0px solid $cherry;
						display: block;
						position: absolute;
						width: 38px;
						height: 40%;
						left: 50%;
						margin-left: -19px;
						margin-top: -58px;
					}

				}

				h3 {
					display: none;
				}

				&:hover {

					.icon {
						color: $cherry;
						@include transform(scale(1));

					}
					h2 {
						color: $carmine;

					//	&:before {
					//		content: '';
					//		border-color: $white;
					//	}
					}

				}



				&:nth-child(1) {

					.page_item_ic {
						margin-top:  30px;
					}

				}


			}




			}
		}


}
